
<div class="c-filter" (click)="$event.stopPropagation()">
  <div class="c-filter__header">
    <span class="icon-filter"></span>
    <div class="c-filter__title">
      {{ 'tasks.filterModal.title' | translate }}
    </div>
  </div>

  <div class="c-filter__body">
    <form [formGroup]="filterForm">

      <label class="u-title-label">Ordenar lista por</label>
      <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
          <mat-label>Seleccionar opción</mat-label>
          <mat-select formControlName="sorting_filter">
            <mat-option [value]="sortingTaskFilter.NEXT_TO_DUE">
              Próximas a vencer (Más antigua a reciente)
          </mat-option>
          <mat-option [value]="sortingTaskFilter.CREATED_DATE">
              Fecha de creación (Reciente a más antigua)
          </mat-option>
          <mat-option [value]="sortingTaskFilter.DUE_DATE" *ngIf="taskStatusInput !== taskStatus.OPEN ">
              Fecha de vencimiento (Reciente a más antigua)
          </mat-option>
          </mat-select>
      </mat-form-field>

      <label class="u-title-label">{{ 'tasks.filterModal.priority' | translate }}</label>
      <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="priority">
            <mat-option [value]="priorityTask.High">
              Alta
          </mat-option>
          <mat-option [value]="priorityTask.Medium">
              Intermedia
          </mat-option>
          <mat-option [value]="priorityTask.Low">
              Normal
          </mat-option>
          </mat-select>
      </mat-form-field>

      <label class="u-title-label">{{ 'tasks.filterModal.status' | translate }}</label>
      <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="status">
             <mat-option [value]="''">
              Todas
            </mat-option>
            <mat-option [value]="taskState.OPEN">
              Pendiente
            </mat-option>
            <mat-option [value]="taskState.CLOSED">
              Completada
            </mat-option>
            <mat-option [value]="taskState.OVERDUE">
              Vencida
            </mat-option>
          </mat-select>
      </mat-form-field>

      <label class="u-title-label">{{ 'tasks.filterModal.responsable' | translate }} </label>
      <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="assigned_to">
            <mat-option *ngFor="let securityUser of securityUsers" [value]="securityUser.uuid">
              {{securityUser.user.first_name + ' ' + securityUser.user.last_name}}
           </mat-option>
          </mat-select>
      </mat-form-field>

      <label class="u-title-label">{{ 'tasks.filterModal.type' | translate }}</label>
      <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="type" >
            <mat-option *ngFor="let type of taskTypes" [value]="type.uuid">
              {{type.name}}
          </mat-option>
          </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="c-filter__footer">
      <button mat-button class="c-btn c-btn--primary c-btn--small w-100"
              (click)="applyFilter()">
        {{ 'tasks.filterModal.apply' | translate }}
      </button>
      <button mat-button class="u-link w-100 mt-2"
              (click)="cleanFilter()">
        {{ 'tasks.filterModal.clean' | translate }}
      </button>
  </div>
</div>
