<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-user"></span>
            </div>
            <div class="l-page__title">{{'clients.header.title' | translate}}</div>
        </div>
        <div class="l-page__controls">

            <button *ngxPermissionsOnly="['add_customerintakerequest']" class="c-btn-function c-btn--outline" mat-button (click)="openDialogSendRegister()">{{'clients.header.button_invitation' | translate}}<span class="icon-add-user ml-2 "></span></button>
            <button class="c-btn-function" mat-button [routerLink]="'create-client'" *ngxPermissionsOnly="['add_customer']">
                {{'clients.header.button_create_client' | translate}}
                <span class="icon-plus ml-2 "></span>
            </button>

        </div>
    </div>
    <div class="l-page__body" *ngxPermissionsOnly="['add_customer', 'view_customer', 'change_customer', 'delete_customer']">
        <mat-tab-group class="c-tabs">
            <mat-tab label="{{'clients.tabs.tab_all_customers'  | translate}}">

                <app-client-table *ngIf="customersLoaded" [customers]="customers"></app-client-table>

            </mat-tab>
            <mat-tab label="{{'clients.tabs.tab_customers_person'  | translate}}">


                <app-client-table *ngIf="customersLoaded" [customers]="customers_type_person"></app-client-table>


            </mat-tab>
            <mat-tab label="{{'clients.tabs.tab_customers_bussiness'  | translate}}">

                <app-client-table *ngIf="customersLoaded" [customers]="customers_type_bussiness"></app-client-table>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>
