<div class="l-create">
    <div class="l-create__header">
        <app-header></app-header>
    </div>

    <form [formGroup]="createClientForm" (ngSubmit)="submitForm()" #form="ngForm">

        <div class="l-create__body">
            <div class="l-create__btnBack">
                <button mat-button class="u-smallSize" [routerLink]="'/customers'" type="button"> <span class="icon-arrow-back mr-2"></span>{{'clients.common.back' | translate}}</button>
            </div>
            <div class="c-create">
                <div class="c-create__header">
                    <div class="row w-100">
                        <div class="col-sm-8">
                            <div class="c-create__title" *ngIf="!customerId">{{'clients.form_create.create_new_customer' | translate}}</div>
                            <div class="c-create__title" *ngIf="customerId">{{'clients.form_create.edit_customer' | translate}}</div>
                            <div class="c-create__subtitle" *ngIf="!customerId">{{'clients.form_create.what_type_customer_create_now' | translate}}</div>
                            <div class="c-create__text">{{'clients.form_create.choose_option' | translate}}</div>
                        </div>
                        <div class="col-sm-4 ml-auto">
                            <div class="c-toggleOptions">
                                <div class="c-toggleOptions__item " [ngClass]="{'client-is-active' : customer_type === 'P'}">
                                    <div class="c-toggleOptions__icon" (click)="setCustomerType('P')">
                                        <span class="icon-user"></span>
                                    </div>
                                    <div class="c-toggleOptions__title">{{'clients.common.person' | translate}}</div>
                                </div>
                                <div class="c-toggleOptions__item" [ngClass]="{'company-is-active' : customer_type === 'B'}">
                                    <div class="c-toggleOptions__icon" (click)="setCustomerType('B')">
                                        <span class="icon-company"></span>
                                    </div>
                                    <div class="c-toggleOptions__title">{{'clients.common.business' | translate}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr class="u-divider--marginBig">
                <div class="c-create__body">


                      <div class="row">

                        <div class="col-sm-6" *ngIf="customer_type === 'B'">
                          <label class="u-title-label"> {{'clients.form_create.company_name' | translate}}<span
                              class="u-dangerColor">*</span></label>
                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.name' | translate}} </mat-label>
                            <input class="c-form-group__input" matInput placeholder="Nombre" formControlName="company_name">
                          </mat-form-field>
                          <mat-error *ngIf="createClientForm.controls['company_name'].status === 'INVALID'">{{'errorMessages.field_required' | translate}}</mat-error>
                        </div>

                        <div class="col-sm-6" *ngIf="customer_type === 'P'">

                          <label class="u-title-label">{{'clients.form_create.name_of_the_person' | translate}}<span class="u-dangerColor">*</span></label>

                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.firstname' | translate}} </mat-label>
                            <input class="c-form-group__input" matInput formControlName="first_name">
                          </mat-form-field>
                         <mat-error *ngIf="createClientForm.controls['first_name'].status === 'INVALID'">{{'errorMessages.field_required' | translate}}</mat-error>

                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.lastname' | translate}}</mat-label>
                            <input class="c-form-group__input" matInput formControlName="last_name">
                          </mat-form-field>
                          <mat-error *ngIf="createClientForm.controls['last_name'].status === 'INVALID'">{{'errorMessages.field_required' | translate}}</mat-error>

                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.born_date' | translate}}</mat-label>
                            <input class="c-form-group__input" type="date" matInput placeholder="Fecha de Nacimiento" formControlName="born_date">
                          </mat-form-field>
                          <mat-error *ngIf="createClientForm.controls['born_date'].status === 'INVALID'">{{'errorMessages.field_required' | translate}}</mat-error>

                        </div>


                        <div class="col-sm-6">
                          <label class="u-title-label">{{'clients.form_create.photo_or_logo' | translate}}</label>

                            <div class="c-uploadPicture mb-4">
                              <label for="inputTypeFile">
                                <div class="c-uploadPicture__img">
                                  <img *ngIf="!imgTemp && !customer?.image" src="../../../../assets/images/upload-camera.svg" alt="">
                                  <img id="imgUpload" *ngIf="imgTemp" [src]="imgTemp" alt="">
                                  <img id="imgUpload" *ngIf="customer?.image && !imgTemp" [src]="customer.image" alt="">
                                  <!-- <img src="../../../../assets/images/user.jpg" alt="" class="c-uploadPicture__picture d-none"> -->
                                </div>
                            </label>

                              <div class="c-uploadPicture__controls">
                                <div class="c-uploadPicture__text">
                                  {{'clients.common.note' | translate}}: <br> {{'clients.form_create.upload_image_max_2' | translate}}
                                </div>
                                <div (click)="removeImage()" class="u-link mt-1">{{'clients.common.delete' | translate}}</div>
                              </div>

                            </div>
                         <input id="inputTypeFile" type="file" (change)="changeImage($event)">
                        </div>
                      </div>

                      <div class="div row" *ngIf="customer_type === 'P'">
                        <div class="div col-sm-6">
                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.select_marital_status' | translate}}</mat-label>
                            <mat-select formControlName="marital_status">
                              <mat-option [value]="''"></mat-option>
                              <mat-option [value]="'clients.form_create.single' | translate">{{'clients.form_create.single' | translate}}</mat-option>
                              <mat-option [value]="'clients.form_create.married' | translate">{{'clients.form_create.married' | translate}}</mat-option>
                              <mat-option [value]="'clients.form_create.widowed' | translate">{{'clients.form_create.widowed' | translate}}</mat-option>
                              <mat-option [value]="'clients.form_create.divorced' | translate">{{'clients.form_create.divorced' | translate}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-error *ngIf="createClientForm.controls['marital_status'].status === 'INVALID'">{{'errorMessages.field_required' | translate}}</mat-error>
                        </div>
                        <div class="div col-sm-6">
                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.select_occupation' | translate}}</mat-label>
                            <mat-select formControlName="occupation">
                              <mat-option *ngFor="let occupation of occupations" [value]="occupation.uuid">{{occupation.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-error *ngIf="createClientForm.controls['occupation'].status === 'INVALID'">{{'errorMessages.field_required' | translate}}</mat-error>
                        </div>
                      </div>

                      <hr class="u-divider--marginBig">

                      <div formArrayName="contacts">

                        <div class="row">
                          <div *ngFor="let contact of returnFormArray('contacts'); let i = index" class="col-sm-6" [formGroupName]="i">

                            <div *ngIf="contact.value.type === 'P'">

                                <label class="u-title-label">{{'clients.form_create.contact' | translate}} <span
                                    class="u-dangerColor">*</span></label>
                                <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                                  <mat-label>{{'clients.form_create.cellphone_number' | translate}}</mat-label>
                                  <mat-select formControlName="sub_type">
                                    <mat-option [value]="subtypeContact.cellphone_number">
                                      {{'clients.form_create.cellphone_number' | translate}}
                                    </mat-option>
                                    <mat-option [value]="subtypeContact.currentphone_number">
                                      {{'clients.form_create.landline_number' | translate}}
                                    </mat-option>
                                    <mat-option [value]="subtypeContact.phoneoffice_number">
                                      {{'clients.form_create.phone_office_number' | translate}}
                                    </mat-option>
                                  </mat-select>

                                  <div class="c-form-group__action" (click)="removeItem('contacts',i)">
                                    <button mat-button type='button'><span class="icon-times"></span></button>
                                  </div>

                                </mat-form-field>

                                <!-- <mat-form-field appearance="fill" class="c-form-group">
                                  <mat-label>{{'clients.form_create.telephone_number' | translate}} </mat-label>
                                  <input [textMask]="{mask: mask_telephone_number}"  class="c-form-group__input" matInput formControlName="contact_value" required>
                                </mat-form-field> -->

                                 <ngx-intl-tel-input (numberChange)="setPhoneField($event,i)" [value]="returnValueFormField(i)"></ngx-intl-tel-input>

                                <mat-error *ngIf="returnFormArrayFields('contacts',i,'contact_value')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                                <button mat-button class="c-btn-add mb-4" type="button" (click)="addItem('contacts','P')">+
                                  {{'clients.form_create.add_another_telephone_number' | translate}}</button>

                            </div>

                            <div  *ngIf="contact.value.type === 'E'">

                                <label class="u-title-label">{{'clients.form_create.email' | translate}} <span class="u-dangerColor">*</span></label>

                                <mat-form-field appearance="fill" class="c-form-group c-form-group__select" required>
                                  <mat-label *ngIf="customer_type === 'P'">Personal</mat-label>
                                  <mat-label *ngIf="customer_type === 'B'">{{'clients.common.business' | translate}}</mat-label>
                                  <mat-select formControlName="sub_type" required>
                                    <mat-option [value]="subtypeContact.personal_email">
                                      {{'clients.form_create.personal_email' | translate}}
                                    </mat-option>
                                    <mat-option [value]="subtypeContact.business_email">
                                      {{'clients.form_create.business_email' | translate}}
                                    </mat-option>
                                  </mat-select>
                                  <div class="c-form-group__action">
                                    <button mat-button type='button' (click)="removeItem('contacts',i)"><span
                                        class="icon-times"></span></button>
                                  </div>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="c-form-group">
                                  <mat-label>{{'clients.form_create.email' | translate}}</mat-label>
                                  <input class="c-form-group__input" matInput formControlName="contact_value" required>
                                </mat-form-field>
                                <mat-error *ngIf="returnFormArrayFields('contacts',i,'contact_value')?.value === '' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>
                               <mat-error *ngIf="returnFormArrayFields('contacts',i,'contact_value')?.status === 'INVALID' && form.submitted">{{'errorMessages.InvalidEmailFormat' | translate}}</mat-error>

                                <button mat-button class="c-btn-add mb-4" type="button" (click)="addItem('contacts','E')">+
                                  {{'clients.form_create.add_another_email' | translate}}</button>


                            </div>


                          </div>
                        </div>

                        </div>

                      <hr class="u-divider--marginBig">

                      <div formArrayName="addresses">
                        <div *ngFor="let address of returnFormArray('addresses'); let i = index">
                          <div class="row" [formGroupName]="i">
                            <div class="col-sm-6">

                              <label class="u-title-label">{{'clients.form_create.physical_address' | translate}}
                                <span class="u-dangerColor">*</span></label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                                <mat-label>{{'clients.form_create.choose_country' | translate}} </mat-label>
                                <mat-select formControlName="physical_country" required>
                                  <mat-option *ngFor="let country of countries" [value]="country.uuid">
                                    {{country.name}}
                                  </mat-option>
                                </mat-select>

                                <div class="c-form-group__action">
                                  <button mat-button type='button' (click)="removeItem('addresses',i)"><span class="icon-times"></span></button>
                                </div>

                              </mat-form-field>
                               <mat-error *ngIf="returnFormArrayFields('addresses',i,'physical_country')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                              <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>{{'clients.form_create.city' | translate}}</mat-label>

                                <input class="c-form-group__input" matInput formControlName="physical_city" placeholder="{{'clients.form_create.placeholder_physical_city' | translate}}" required>

                              </mat-form-field>
                              <mat-error *ngIf="returnFormArrayFields('addresses',i,'physical_city')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                              <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>{{'clients.form_create.address' | translate}}</mat-label>

                                <input class="c-form-group__input" matInput formControlName="physical_address" placeholder="{{'clients.form_create.placeholder_physical_address' | translate}}" required>

                              </mat-form-field>
                              <mat-error *ngIf="returnFormArrayFields('addresses',i,'physical_address')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>


                              <div class="col-sm-6 p-0">
                                <mat-form-field appearance="fill" class="c-form-group">
                                  <mat-label>{{'clients.form_create.postal_code' | translate}}</mat-label>
                                  <input class="c-form-group__input" matInput formControlName="physical_postal_code" required>
                                </mat-form-field>
                                <mat-error *ngIf="returnFormArrayFields('addresses',i,'physical_postal_code')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>
                              </div>

                              <mat-checkbox class="c-checkbox mt-1 mb-4" [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}" (change)="changeValueCheckboxAddress($event,i)">
                                {{'clients.form_create.physical_postal_address_share_info' | translate}}
                              </mat-checkbox>

                            </div>
                            <div class="col-sm-6">

                                <label class="u-title-label">{{'clients.form_create.mailing_address' | translate}}
                                  <span class="u-dangerColor">*</span>
                                </label>
                                <mat-form-field appearance="fill" class="c-form-group">
                                  <mat-label>{{'clients.form_create.city' | translate}}</mat-label>
                                  <input class="c-form-group__input" matInput formControlName="postal_city" placeholder="Ej: Miami, Florida" required>
                                </mat-form-field>
                                <mat-error *ngIf="returnFormArrayFields('addresses',i,'postal_city')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                                <mat-form-field appearance="fill" class="c-form-group">
                                  <mat-label>{{'clients.form_create.address' | translate}}</mat-label>
                                  <input class="c-form-group__input" matInput formControlName="postal_address" placeholder="Calle, número, Apart." required="">
                                </mat-form-field>
                                <mat-error *ngIf="returnFormArrayFields('addresses',i,'postal_address')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                                <div class="col-sm-6 p-0">
                                  <mat-form-field appearance="fill" class="c-form-group">
                                    <mat-label>{{'clients.form_create.postal_code' | translate}}</mat-label>
                                    <input class="c-form-group__input" matInput formControlName="postal_postal_code" required>
                                  </mat-form-field>
                                  <mat-error *ngIf="returnFormArrayFields('addresses',i,'postal_postal_code')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>
                                </div>

                            </div>

                          </div>
                        </div>
                      </div>


                      <div class="col-sm-12 mt-1">
                        <button mat-button class="c-btn-add" type="button" (click)="addItem('addresses')">+
                          {{'clients.form_create.add_another_address' | translate}}</button>
                      </div>

                      <hr class="u-divider--marginBig">

                      <div *ngIf="customer_type === 'P'">
                        <app-associate-customers [customerId]="this.customerId" (customerIdSelected)="setLinkedCustomer($event)"></app-associate-customers>
                      </div>

                </div>
            </div>
        </div>

        <div class="c-ribbon">
            <div class="c-ribbon__text" *ngIf="!customerId">“{{'clients.form_create.remember_fill_required_information' | translate}}"</div>
            <div class="c-ribbon__text" *ngIf="customerId">{{'clients.form_create.button_is_everything_ready' | translate}}</div>
            <div class="c-ribbon__actions">
                <button mat-button class="c-btn-function" *ngIf="!customerId">{{'clients.form_create.save_customer' | translate}} </button>
                <button mat-button class="c-btn-function" *ngIf="customerId">{{'clients.form_create.button_save_changes' | translate}}</button>
                <button mat-button class="c-btn-function" *ngIf="!customerId" type="button" (click)="submitForm(true)">{{'clients.form_create.save_create_another' | translate}}</button>
            </div>

        </div>

    </form>



</div>
