<div class="l-create">
    <div class="l-create__header">
        <app-header></app-header>
    </div>
    <div class="l-create__body">
        <div class="l-create__btnBack">
            <button mat-button class="u-smallSize" [routerLink]="'..'"> <span class="icon-arrow-back mr-2"></span>Volver atras</button>
        </div>
        <div class="c-create">
            <div class="c-create__header">
                <div class="row w-100">
                    <div class="col-sm-8">
                        <div class="c-create__title">Crear nuevo cliente</div>
                        <div class="c-create__subtitle">¿Qué tipo de cliente crearemos ahora? *</div>
                        <div class="c-create__text">Selecciona una de las opciones</div>
                    </div>
                    <div class="col-sm-4 ml-auto">
                        <div class="c-toggleOptions">
                            <div class="c-toggleOptions__item client-is-active">
                                <div class="c-toggleOptions__icon">
                                    <span class="icon-user"></span>
                                </div>
                                <div class="c-toggleOptions__title">Persona</div>
                            </div>
                            <div class="c-toggleOptions__item">
                                <div class="c-toggleOptions__icon">
                                    <span class="icon-company"></span>
                                </div>
                                <div class="c-toggleOptions__title">Empresa</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <hr class="u-divider--marginBig">
            <div class="c-create__body">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="u-title-label">Nombre de la persona <span class="u-dangerColor">*</span></label>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Nombre </mat-label>
                            <input class="c-form-group__input" matInput placeholder="Nombre">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Apellido</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Apellido">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <label class="u-title-label">Foto o logo</label>
                        <div class="c-uploadPicture">
                            <div class="c-uploadPicture__img">
                                <img src="../../../../assets/images/upload-camera.svg" alt="">
                                <img src="../../../../assets/images/user.jpg" alt="" class="c-uploadPicture__picture d-none">
                            </div>
                            <div class="c-uploadPicture__controls">
                                <div class="c-uploadPicture__text">
                                    Nota: <br> Subir imagen máximo 2MB
                                </div>
                                <div class="u-link mt-1">Eliminar</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="u-divider--marginBig">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="u-title-label">Contacto <span class="u-dangerColor">*</span></label>
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                            <mat-label>Núm. Teléfono celular</mat-label>
                            <mat-select>
                                <mat-option>
                                    Option 1
                                </mat-option>
                                <mat-option>
                                    Option 2
                                </mat-option>
                                <mat-option>
                                    Option 3
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Num. de Teléfono </mat-label>
                            <input class="c-form-group__input" matInput>
                        </mat-form-field>
                        <button mat-button class="c-btn-add mb-4">+ Añadir otro teléfono</button>
                    </div>
                    <div class="col-sm-6">
                        <label class="u-title-label">Email <span class="u-dangerColor">*</span></label>
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                            <mat-label>Personal</mat-label>
                            <mat-select>
                                <mat-option>
                                    Option 1
                                </mat-option>
                                <mat-option>
                                    Option 1
                                </mat-option>
                                <mat-option>
                                    Option 1
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Correo electrónico</mat-label>
                            <input class="c-form-group__input" matInput>
                        </mat-form-field>
                        <button mat-button class="c-btn-add mb-4">+ Añadir otro teléfono</button>
                    </div>
                </div>
                <hr class="u-divider--marginBig">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="u-title-label">Dirección Física</label>
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                            <mat-label>Seleccionar país </mat-label>
                            <mat-select>
                                <mat-option>
                                    Option 1
                                </mat-option>
                                <mat-option>
                                    Option 2
                                </mat-option>
                                <mat-option>
                                    Option 3
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Ciudad</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Ej: Miami, Florida">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Dirección</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Calle, número, Apart.">
                        </mat-form-field>
                        <div class="col-sm-5 p-0">
                            <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>Código Postal</mat-label>
                                <input class="c-form-group__input" matInput>
                            </mat-form-field>
                        </div>
                        <mat-checkbox class="c-checkbox mt-1 mb-4">
                            Dirección Física y Postal comparten la misma información
                        </mat-checkbox>
                    </div>
                    <div class="col-sm-6">
                        <label class="u-title-label">Dirección postal</label>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Ciudad</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Ej: Miami, Florida">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Dirección</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Calle, número, Apart.">
                        </mat-form-field>
                        <div class="col-sm-5 p-0">
                            <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>Código Postal</mat-label>
                                <input class="c-form-group__input" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-12 mt-1">
                        <button mat-button class="c-btn-add">+ Añadir nuevo domicilio</button>
                    </div>
                </div>
                <hr class="u-divider--marginBig">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Asociar contacto a empresa <span class="u-dangerColor">*</span></h4>
                        <p class="mt-1 u-smallSize">Aquí podrás ver a la empresa  que está asociado este usuario</p>
                        <div class="mt-5">
                            <div class="align-items-center c-form-item d-flex flex-wrap justify-content-center u-gap-1">
                                <img src="../../../../assets/images/company.svg" alt="">
                                <div class="u-normalSize mr-auto">
                                    <b class="mr-1">Compañía</b> Moya & Asociados
                                </div>
                                <button mat-button class="u-link u-link--underline mr-2 u-normalSize">Eliminar</button>
                                <button mat-button class="c-btn-add w-25">Cambiar</button>
                            </div>
                        </div>
                        <button mat-button class="c-btn-add" (click)="openDialogList()">+ Enlazar con empresa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-ribbon">
        <div class="c-ribbon__text">“Recuerda completar los datos requeridos"</div>
        <div class="c-ribbon__actions">
            <button mat-button class="c-btn-function">Guardar cliente </button>
            <button mat-button class="c-btn-function">Guardar y crear otro</button>
        </div>

    </div>
</div>