<div class="l-create">
    <div class="l-create__header">
        <app-header></app-header>
    </div>

    <form [formGroup]="createClientForm" (ngSubmit)="submitForm()">

        <div class="l-create__body">
            <div class="l-create__btnBack">
                <button mat-button class="u-smallSize" [routerLink]="'/customers'" type="button"> <span class="icon-arrow-back mr-2"></span>{{'clients.common.back' | translate}}</button>
            </div>
            <div class="c-create">
                <div class="c-create__header">
                    <div class="row w-100">
                        <div class="col-sm-8">
                            <div class="c-create__title">{{'clients.form_create.create_new_customer' | translate}}</div>
                            <div class="c-create__subtitle">{{'clients.form_create.what_type_customer_create_now' | translate}}</div>
                            <div class="c-create__text">{{'clients.form_create.choose_option' | translate}}</div>
                        </div>
                        <div class="col-sm-4 ml-auto">
                            <div class="c-toggleOptions">
                                <div class="c-toggleOptions__item " [ngClass]="{'client-is-active' : customer_type === 'P'}">
                                    <div class="c-toggleOptions__icon" (click)="setCustomerType('P')">
                                        <span class="icon-user"></span>
                                    </div>
                                    <div class="c-toggleOptions__title">{{'clients.common.person' | translate}}</div>
                                </div>
                                <div class="c-toggleOptions__item" [ngClass]="{'client-is-active' : customer_type === 'B'}">
                                    <div class="c-toggleOptions__icon" (click)="setCustomerType('B')">
                                        <span class="icon-company"></span>
                                    </div>
                                    <div class="c-toggleOptions__title">{{'clients.common.business' | translate}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr class="u-divider--marginBig">
                <div class="c-create__body">


                      <div class="row">

                        <div class="col-sm-6" *ngIf="customer_type === 'B'">
                          <label class="u-title-label">Nombre de la Empresa<span
                              class="u-dangerColor">*</span></label>
                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.name' | translate}} </mat-label>
                            <input class="c-form-group__input" matInput placeholder="Nombre" formControlName="company_name">
                          </mat-form-field>
                        </div>

                        <div class="col-sm-6" *ngIf="customer_type === 'P'">
                          <label class="u-title-label">{{'clients.form_create.name_of_the_person' | translate}}<span class="u-dangerColor">*</span></label>
                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.name' | translate}} </mat-label>
                            <input class="c-form-group__input" matInput placeholder="Nombre" formControlName="first_name">
                          </mat-form-field>
                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.lastname' | translate}}</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Apellido" formControlName="last_name">
                          </mat-form-field>
                        </div>


                        <div class="col-sm-6">
                          <label class="u-title-label">{{'clients.form_create.photo_or_logo' | translate}}</label>
                          <div class="c-uploadPicture">
                            <div class="c-uploadPicture__img">
                              <img src="../../../../assets/images/upload-camera.svg" alt="">
                              <img src="../../../../assets/images/user.jpg" alt="" class="c-uploadPicture__picture d-none">
                            </div>
                            <div class="c-uploadPicture__controls">
                              <div class="c-uploadPicture__text">
                                {{'clients.common.note' | translate}}: <br> {{'clients.form_create.upload_image_max_2' | translate}}
                              </div>
                              <div class="u-link mt-1">{{'clients.common.delete' | translate}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr class="u-divider--marginBig">
                      <div class="row">


                        <div class="col-sm-6" >


                          <div class="row" *ngFor="let contact of customer_contacts_phone">
                            <div class="col-sm-12">

                              <label class="u-title-label">{{'clients.form_create.contact' | translate}} <span class="u-dangerColor">*</span></label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                                <mat-label>{{'clients.form_create.cellphone_number' | translate}}</mat-label>
                                <mat-select [(ngModel)]="contact.sub_type" [ngModelOptions]="{standalone: true}">
                                  <mat-option [value]="subtypeContact.cellphone_number">
                                    Telefono Celular
                                  </mat-option>
                                  <mat-option [value]="subtypeContact.currentphone_number">
                                    Telefono fijo
                                  </mat-option>
                                  <mat-option [value]="subtypeContact.phoneoffice_number">
                                    Telefono Oficina
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>{{'clients.form_create.telephone_number' | translate}} </mat-label>
                                <input class="c-form-group__input" matInput [(ngModel)]="contact.contact_value" [ngModelOptions]="{standalone: true}">
                              </mat-form-field>

                            </div>
                          </div>

                          <button mat-button class="c-btn-add mb-4" type="button" (click)="addCustomerContactPhone()">+ {{'clients.form_create.add_another_telephone_number' | translate}}</button>


                        </div>


                        <div class="col-sm-6">


                          <div class="row" *ngFor="let contact of customer_contacts_email">
                            <div class="col-sm-12">
                              <label class="u-title-label">Email <span class="u-dangerColor">*</span></label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                                <mat-label>Personal</mat-label>
                                <mat-select [(ngModel)]="contact.sub_type" [ngModelOptions]="{standalone: true}">
                                  <mat-option [value]="subtypeContact.personal_email">
                                    Personal
                                  </mat-option>
                                  <mat-option [value]="subtypeContact.business_email">
                                    Negocio
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>{{'clients.form_create.email' | translate}}</mat-label>
                                <input class="c-form-group__input"
                                       matInput
                                       [(ngModel)]="contact.contact_value"
                                       [ngModelOptions]="{standalone: true}">
                              </mat-form-field>
                            </div>
                          </div>


                          <button mat-button class="c-btn-add mb-4" type="button" (click)="addCustomerContactEmail()">+ {{'clients.form_create.add_another_email' | translate}}</button>


                        </div>


                      </div>

                      <hr class="u-divider--marginBig">

                      <div class="row" *ngFor="let address of customer_address">
                        <div class="col-sm-6">

                          <label class="u-title-label">{{'clients.form_create.physical_address' | translate}}</label>
                          <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                            <mat-label>{{'clients.form_create.choose_country' | translate}} </mat-label>
                            <mat-select [(ngModel)]="address.physical_country" [ngModelOptions]="{standalone: true}">
                              <mat-option *ngFor="let country of countries" [value]="country.uuid">
                                {{country.name}}
                              </mat-option>

                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.city' | translate}}</mat-label>

                            <input class="c-form-group__input"
                                   matInput
                                   [(ngModel)]="address.physical_city"
                                   [ngModelOptions]="{standalone: true}"
                                   placeholder="Ej: Miami, Florida">

                          </mat-form-field>

                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.address' | translate}}</mat-label>

                            <input class="c-form-group__input"
                                   matInput
                                   [(ngModel)]="address.physical_address"
                                   [ngModelOptions]="{standalone: true}"
                                   placeholder="Calle, número, Apart.">

                          </mat-form-field>

                          <div class="col-sm-5 p-0">
                            <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>{{'clients.form_create.postal_code' | translate}}</mat-label>
                              <input class="c-form-group__input"
                                     matInput
                                     [(ngModel)]="address.physical_postal_code"
                                     [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </div>

                          <mat-checkbox class="c-checkbox mt-1 mb-4">
                            {{'clients.form_create.physical_postal_address_share_info' | translate}}
                          </mat-checkbox>

                        </div>
                        <div class="col-sm-6">

                          <label class="u-title-label">{{'clients.form_create.mailing_address' | translate}}</label>
                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.city' | translate}}</mat-label>
                            <input class="c-form-group__input"
                                   matInput
                                   [(ngModel)]="address.postal_city"
                                   [ngModelOptions]="{standalone: true}"
                                   placeholder="Ej: Miami, Florida">
                          </mat-form-field>

                          <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'clients.form_create.address' | translate}}</mat-label>
                            <input class="c-form-group__input"
                                   matInput
                                   [(ngModel)]="address.postal_address"
                                   [ngModelOptions]="{standalone: true}"
                                   placeholder="Calle, número, Apart.">
                          </mat-form-field>

                          <div class="col-sm-5 p-0">
                            <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>{{'clients.form_create.postal_code' | translate}}</mat-label>
                              <input class="c-form-group__input"
                                     matInput
                                     [(ngModel)]="address.postal_postal_code"
                                     [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </div>

                        </div>

                      </div>

                      <div class="col-sm-12 mt-1">
                        <button mat-button class="c-btn-add" type="button" (click)="addCustomerAddress()">+
                          {{'clients.form_create.mailing_address' | translate}}</button>
                      </div>

                      <hr class="u-divider--marginBig">
                      <div class="row">
                        <div class="col-sm-12">
                          <h4>{{'clients.form_create.associate_contact_to_bussiness' | translate}}<span class="u-dangerColor">*</span></h4>
                          <p class="mt-1 u-smallSize">{{'clients.form_create.see_business_associated_to_user' | translate}}</p>
                          <div class="mt-5">
                            <div class="align-items-center c-form-item d-flex flex-wrap justify-content-center u-gap-1">
                              <img src="../../../../assets/images/company.svg" alt="">
                              <div class="u-normalSize mr-auto">
                                <b class="mr-1">Compañía</b> Moya & Asociados
                              </div>
                              <button mat-button class="u-link u-link--underline mr-2 u-normalSize" type="button">{{'clients.common.delete' | translate}}</button>
                              <button mat-button class="c-btn-add w-25" type="button">{{'clients.common.change' | translate}}</button>
                            </div>
                          </div>
                          <button mat-button class="c-btn-add" (click)="openDialogList()" type="button">+ {{'clients.form_create.link_with_business' | translate}}</button>
                        </div>
                      </div>

                </div>
            </div>
        </div>

        <div class="c-ribbon">
            <div class="c-ribbon__text">“{{'clients.form_create.remember_fill_required_information' | translate}}"</div>
            <div class="c-ribbon__actions">
                <button mat-button class="c-btn-function">{{'clients.form_create.save_customer' | translate}} </button>
                <button mat-button class="c-btn-function">{{'clients.form_create.save_create_another' | translate}}</button>
            </div>

        </div>

    </form>



</div>
