<div class="c-dialog-addHours c-dialog-header ">
  <div class="c-dialog-header__header pt-5 pb-5">Crear nueva variable</div>
  <mat-dialog-content>

    <div class="row">

      <div class="col-md-12">

        <label class="u-title-label mt-3">Seccion</label>
        <mat-form-field appearance="fill" class="c-form-group  c-form-group--small c-form-group--noLabel">
            <mat-select class="c-form-group c-form-group__select" matInput placeholder="Seleccionar Seccion" [(ngModel)]="section">
              <mat-option *ngFor="let section of sections" [value]="section">{{section}}</mat-option>
            </mat-select>
        </mat-form-field>

        <p class="mt-2 text-right" (click)="openDialogNewSection()"><b class="u-link u-fontBold">Crear nueva sección +</b></p>

        <label class="u-title-label mt-3">Nombre de la variable</label>
        <mat-form-field appearance="fill" class="c-form-group  c-form-group--small c-form-group--noLabel">
            <input class="c-form-group__input" matInput placeholder="Ej: Modelo vehículo" [(ngModel)]="name">
        </mat-form-field>

        <div class="d-flex flex-column mb-5 mt-3 u-smallSize u-textColor">
          <b class="mb-1">Variables</b>
          <span class="u-textLightColor"> @ModVeh&*`</span>
        </div>

      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions class="mt-auto ">
      <div class="row w-100 mb-3">
          <div class="col-md-12">
              <div class="d-flex flex-wrap">
                  <button mat-button class="c-btn-function flex-1" (click)="submitForm()">Guardar</button>
                  <button mat-button class="c-btn-function flex-1" (click)="submitForm(true)">Guardar y añadir otra</button>
              </div>
              <button mat-button mat-dialog-close class="u-link text-center m-0 w-100 mt-2 p-0">Cerrar ventana</button>
          </div>
      </div>
  </mat-dialog-actions>
</div>
