<div class="c-dialog-paymentRegister c-dialog-header">
    <div class="c-dialog-header__header d-flex align-items-center justify-content-between">
        {{'dockets.profile.wallet.add_new_balance' | translate}}
    </div>

   <form [formGroup]="caseFileWalletDetailForm" (ngSubmit)="submitForm()" #form="ngForm">

            <mat-dialog-content>

              <div class="row mb-2">
                <div class="col-md-12">
                    <label class="u-title-label">Description</label>
                    <mat-form-field appearance="fill" class="c-form-group">
                        <mat-label>Description</mat-label>
                        <input class="c-form-group__input" matInput placeholder="Description of the amount" formControlName="description">
                    </mat-form-field>
                </div>
            </div>

              <div class="row mb-2">
                  <div class="col-md-12">
                      <label class="u-title-label">{{'dockets.profile.wallet.quantity_to_add?' | translate}}</label>
                      <mat-form-field appearance="fill" class="c-form-group">
                          <mat-label>{{'dockets.profile.wallet.amount' | translate}}</mat-label>
                          <input class="c-form-group__input" matInput placeholder="Ej: 2,500" formControlName="amt">
                      </mat-form-field>
                  </div>
              </div>

          </mat-dialog-content>
          <mat-dialog-actions class="c-dialog-header__footer flex-column">
              <button mat-button class="c-btn c-btn--primary c-btn--small w-75" *ngIf="!caseFileWalletDetail">{{'dockets.profile.wallet.add_new' | translate}}</button>
              <button mat-button class="c-btn c-btn--primary c-btn--small w-75" *ngIf="caseFileWalletDetail">Save Changes</button>
              <button mat-button mat-dialog-close class="u-link text-center" type="button">{{'dockets.profile.wallet.close_window' | translate}}</button>
          </mat-dialog-actions>

   </form>

</div>
