<mat-tab-group class="c-tabs c-tabs--green">
  <mat-tab label="{{'clients.billing.tabs.all' | translate}}">

    <app-invoicing-table [invoices]="invoices" *ngIf="invoices && invoices.length > 0"></app-invoicing-table>

  </mat-tab>
  <mat-tab label="{{'clients.billing.tabs.pending_charge' | translate}}">


    <app-invoicing-table [invoices]="invoices | filter:'status':invoiceStatus.PENDING" *ngIf="invoices && invoices.length > 0"></app-invoicing-table>

  </mat-tab>
  <mat-tab label="{{'clients.billing.tabs.charged' | translate}}">


      <app-invoicing-table [invoices]="invoices | filter:'status':invoiceStatus.PAYED" *ngIf="invoices && invoices.length > 0"></app-invoicing-table>

  </mat-tab>
</mat-tab-group>
