<div class="c-dialog-newTask c-dialog-header">
    <div class="c-dialog-header__header">
        Nuevo expediente
    </div>
    <mat-dialog-content>

        <div class="row">
            <div class="col-md-12">
                <label class="u-title-label">Nombre de Expediente</label>
                <mat-form-field appearance="fill" class="c-form-group">
                    <mat-label>Expediente</mat-label>
                    <input class="c-form-group__input" matInput placeholder="Ej: Crear contrato de servicio">
                </mat-form-field>

                <label class="u-title-label">Cliente</label>
                <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                    <mat-label>Nombre cliente</mat-label>
                    <mat-select>
                        <mat-option>
                            Option 1
                        </mat-option>
                        <mat-option>
                            Option 2
                        </mat-option>
                        <mat-option>
                            Option 3
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <p class="u-textColor mt-2 text-right mb-3">¿No existe el cliente que buscas? <b class="u-link u-fontBold">Crear nuevo cliente +</b></p>

                <label class="u-title-label">Asignar expediente a  </label>
                <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                    <mat-label>Colaborador</mat-label>
                    <mat-select>
                        <mat-option>
                            Option 1
                        </mat-option>
                        <mat-option>
                            Option 2
                        </mat-option>
                        <mat-option>
                            Option 3
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-md-6">
                <label class="u-title-label mb-5">¿Cómo se facturará este expediente? </label>

                    <mat-radio-group>
                        <div class="u-textColor mb-2">
                            <mat-radio-button value="1" class="c-radioButton u-smallSize u-fontBold">Honorario por Hr.</mat-radio-button>
                            <p class="u-smallerSize ml-5 mt-1">
                                En este modelo defines tu precio por hora y cada hora que inviertas en una tarea en el expediente se multiplicará por el valor de la misma. 
                            </p>
                        </div>
                        <div class="u-textColor mb-2">
                            <mat-radio-button value="2" class="c-radioButton u-smallSize u-fontBold">Retención de pago </mat-radio-button>
                            <p class="u-smallerSize ml-5 mt-1">
                                En este modelo retienes un monto acordado con tu cliente del cual se irán cubriendo las horas que vayas ejecutando mientras realizas el trabajo
                            </p>
                        </div>
                        <div class="u-textColor mb-2">
                            <mat-radio-button value="3" class="c-radioButton u-smallSize u-fontBold">Por incremento de tiempo</mat-radio-button>
                            <p class="u-smallerSize ml-5 mt-1">
                                En este modelo defines por Hr. / Minuto/ Que insertes de como se manejará con las tareas que ejecutes en este expediente
                            </p>
                        </div>
                        <div class="u-textColor">
                            <mat-radio-button value="4" class="c-radioButton u-smallSize u-fontBold">Flat fee</mat-radio-button>
                            <p class="u-smallerSize ml-5 mt-1">
                                Este es el valor fijo que represente facturación total de la ejecución de este expediente
                            </p>
                        </div>
                    </mat-radio-group>


               

            </div>
            <div class="col-md-6 d-flex justify-content-center align-content-center flex-wrap">
                <div class="mb-2 text-center">
                        <label class="u-title-label">Precio x Hr. </label>
                        <mat-form-field appearance="fill" class="c-form-group col-md-9">
                            <mat-label>Cantidad</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Ej: 25 USD">
                        </mat-form-field>
                </div>
                <div class="mb-2 text-center">
                        <label class="u-title-label">Valor del monto a retener  </label>
                        <mat-form-field appearance="fill" class="c-form-group col-md-9">
                            <mat-label>Cantidad</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Ej: 300USD">
                        </mat-form-field>
                </div>
                <div class="mb-2 text-center">
                        <label class="u-title-label">¿Cuál será tu parametro de incremento?</label>
                        <mat-form-field appearance="fill" class="c-form-group col-md-9">
                            <mat-label>Cantidad</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Minuto">
                        </mat-form-field>
                </div>
                <div class="mb-2 text-center">
                        <label class="u-title-label">Factor de incremento</label>
                        <mat-form-field appearance="fill" class="c-form-group col-md-9">
                            <mat-label>Cantidad</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Minuto">
                        </mat-form-field>
                </div>
                <div class="mb-2 text-center">
                        <label class="u-title-label">Precio por incremento</label>
                        <mat-form-field appearance="fill" class="c-form-group  col-md-9">
                            <mat-label>Cantidad</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Ej:25 USD">
                        </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="c-dialog-header__footer">
        <button mat-button mat-dialog-close class="u-link text-center">Cerrar ventana</button>
        <button mat-button class="c-btn c-btn--primary c-btn--small">Crear expediente</button>
    </mat-dialog-actions>
</div>