<div class="c-dialog-newTask c-dialog-header">
    <form [formGroup]="caseFileNoteForm" (ngSubmit)="submitForm()" #form="ngForm">

          <div class="c-dialog-header__header">
            {{'dockets.profile.notes.new_note' | translate}}
        </div>
        <mat-dialog-content>

          <div class="row">
            <div class="col-md-12">
                <label class="u-title-label">{{ 'tasks.newTaskModal.expedient' | translate }}</label>
                <mat-form-field appearance="fill" class="c-form-group c-form-group__select c-form-group--small">
                    <mat-label>Seleccionar</mat-label>
                    <mat-select formControlName="case_file" [disabled]="caseFileNote?.case_file || caseFile ? true : false">
                        <mat-option *ngFor="let caseFile of caseFiles" [value]="caseFile.uuid">
                            {{caseFile.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
          </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="u-title-label">{{'dockets.profile.notes.new_note_title' | translate}}</label>
                    <mat-form-field appearance="fill" class="c-form-group">
                        <mat-label>{{'dockets.profile.notes.title' | translate}}</mat-label>
                        <input class="c-form-group__input" matInput formControlName="title">
                    </mat-form-field>
                    <textarea formControlName="body" rows="8" matInput class="c-form-group__textarea text-area--outlined" placeholder="Escribe aquí lo detalles"></textarea>
                </div>
            </div>

        </mat-dialog-content>
        <mat-dialog-actions class="c-dialog-header__footer">
            <button mat-button mat-dialog-close class="u-link text-center" type="button">{{'dockets.profile.notes.close_window' | translate}}</button>
            <button mat-button class="c-btn c-btn--outline c-btn--small"   type="button" *ngIf="!caseFileNote" (click)="submitForm(true)">{{'dockets.profile.notes.save_create_another' | translate}}</button>
            <button mat-button class="c-btn c-btn--primary c-btn--small">{{'dockets.profile.notes.save_note' | translate}}</button>
        </mat-dialog-actions>

    </form>
</div>
