<div class="c-tabs-actions">
  <mat-tab-group class="c-tabs c-tabs--green c-tabs--sub">
      <mat-tab>
          <ng-template mat-tab-label>
              {{'clients.pending_issues.tabs.all' | translate}}
          </ng-template>

          <app-task-table *ngIf="tasks"
                         [tasks]="tasks"
                         [module]="module.USERS"
                         [securityUser]="securityUser"
                         (onExecuteTask)="getTasksBySecurityUsers()"></app-task-table>


      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
              {{'clients.pending_issues.tabs.pending' | translate}}
          </ng-template>

          <app-task-table *ngIf="tasks"
                          [tasks]="tasks"
                          [module]="module.USERS"
                          [securityUser]="securityUser"
                          (onExecuteTask)="getTasksBySecurityUsers()"></app-task-table>

      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
            {{'clients.pending_issues.tabs.completed' | translate}}
          </ng-template>

          <app-task-table *ngIf="tasks"
                          [tasks]="tasks"
                          [module]="module.USERS"
                          [securityUser]="securityUser"
                          (onExecuteTask)="getTasksBySecurityUsers()"></app-task-table>

      </mat-tab>
  </mat-tab-group>

</div>
