<div class="c-tabs-actions">
  <mat-tab-group class="c-tabs c-tabs--green c-tabs--sub">
      <mat-tab>
          <ng-template mat-tab-label>
              {{'clients.pending_issues.tabs.all' | translate}}
          </ng-template>

          <app-task-table *ngIf="tasks" [tasks]="tasks" [module]="module.USERS" [securityUser]="securityUser"></app-task-table>

          <!-- <div class="d-flex u-gap-1 u-smallSize mb-3 align-items-center flex-wrap">
              <p> <b>{{'clients.common.have' | translate}} 10  </b> {{'clients.common.records_in_total_with' | translate}} Manuel Cabral </p>
              <div class="c-form-group--search bordered u-smallSize ml-auto mt-1 ">
                  <input matInput type="mail" placeholder="{{'clients.pending_issues.table_header.search' | translate}}...">
                  <span class="icon-search"></span>
              </div>
              <div class="c-btn-filter">
                  {{'clients.pending_issues.table_header.filter_by' | translate}}
                  <button mat-button [matMenuTriggerFor]="filterMenu"><span class="icon-filter"></span></button>
                  <mat-menu #filterMenu="matMenu">
                      <div class="c-filter" (click)="$event.stopPropagation()">
                          <div class="c-filter__header">
                              <span class="icon-filter"></span>
                              <div class="c-filter__title">
                                  {{'clients.pending_issues.filter_by.filter_criteria' | translate}}
                              </div>
                          </div>
                          <div class="c-filter__body">
                              <label class="u-title-label">{{'clients.pending_issues.filter_by.priority' | translate}}</label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>{{'clients.pending_issues.filter_by.priority_level' | translate}}</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <label class="u-title-label">{{'clients.pending_issues.filter_by.status' | translate}}</label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>{{'clients.pending_issues.filter_by.state' | translate}}</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <label class="u-title-label">{{'clients.pending_issues.filter_by.responsible_for_the_task' | translate}} </label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>{{'clients.pending_issues.filter_by.name' | translate}}</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <label class="u-title-label">{{'clients.pending_issues.filter_by.subject_type' | translate}}</label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>{{'clients.pending_issues.filter_by.name' | translate}}</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>

                          </div>
                          <div class="c-filter__footer">
                              <button mat-button class="c-btn c-btn--primary c-btn--small w-100">{{'clients.pending_issues.filter_by.apply_filters' | translate}}</button>
                              <button mat-button class="u-link w-100 mt-2">{{'clients.pending_issues.filter_by.clear_criteria' | translate}} </button>
                          </div>

                      </div>
                  </mat-menu>
              </div>
              <button class="c-btn-function" mat-button (click)="openDialogNewTask()">{{'clients.pending_issues.table_header.create_new_task' | translate}}<span class="icon-plus ml-2 "></span></button>
          </div>
          <div class="u-table-responsive">
              <table mat-table [dataSource]="dataSource" class="c-table">
                  <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef class="c-table__checkbox">
                          <mat-checkbox class="c-checkbox" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                          </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                          <mat-checkbox class="c-checkbox" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                          </mat-checkbox>
                      </td>
                  </ng-container>


                  <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>


                  <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef class="c-table__icontype"> {{'clients.pending_issues.table_columns.type' | translate}} </th>
                      <td mat-cell *matCellDef="let element" class="text-center"> <img class="c-table__icon" src="../../../../assets/images/table-icons/phone.svg" alt=""> </td>
                  </ng-container>


                  <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef style="min-width: 15rem;">{{'clients.pending_issues.table_columns.subject_description' | translate}}</th>
                      <td mat-cell *matCellDef="let element" class="w-20">
                          <div class="u-link c-table__truncate" >{{element.description}} </div>
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="case">
                      <th mat-header-cell *matHeaderCellDef>{{'clients.pending_issues.table_columns.task_assigned_to' | translate}}</th>
                      <td mat-cell *matCellDef="let element">
                          <div class="u-link">{{element.case}}</div>
                      </td>
                  </ng-container>


                  <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> {{'clients.pending_issues.table_columns.expiration_date' | translate}} </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.date}}
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="priority">
                      <th mat-header-cell *matHeaderCellDef>Normal </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.priority}}
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="state">
                      <th mat-header-cell *matHeaderCellDef>{{'clients.pending_issues.table_columns.shared_with' | translate}}</th>
                      <td mat-cell *matCellDef="let element" class="u-yellowColor u-fontBold">
                          {{element.state}}
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef class="text-center-force"> {{'clients.pending_issues.table_columns.actions' | translate}} </th>
                      <td mat-cell *matCellDef="let element" class="text-center">

                          <mat-button-toggle-group class="c-btn-table">
                              <mat-button-toggle>{{'clients.common.watch' | translate}}</mat-button-toggle>
                              <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                                  <span class="icon-arrow-down"></span>
                              </mat-button-toggle>
                          </mat-button-toggle-group>

                          <mat-menu #dropdownMenuOne="matMenu" class="c-table__matMenu c-table__matMenu--bigger">
                              <button mat-menu-item class="matMenu-yellow">{{'clients.common.edit' | translate}} <span class="icon-pen"></span></button>
                              <button mat-menu-item class="matMenu-red" (click)="openAlertDelete()">{{'clients.common.delete' | translate}} <span class="icon-trash"></span></button>
                              <button mat-menu-item class="matMenu-green">{{'clients.common.share' | translate}} <span class="icon-people"></span></button>                            </mat-menu>
                      </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                  </tr>
              </table>
          </div> -->
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
              {{'clients.pending_issues.tabs.pending' | translate}}
          </ng-template>

          <app-task-table *ngIf="tasks"  [tasks]="tasks" [module]="module.USERS" [securityUser]="securityUser"></app-task-table>
          <!-- <div class="d-flex u-gap-1 u-smallSize mb-3 align-items-center flex-wrap">
              <p> <b>{{'clients.common.have' | translate}} 10  </b> {{'clients.common.records_in_total_with' | translate}} Manuel Cabral </p>
              <div class="c-form-group--search bordered u-smallSize ml-auto mt-1 ">
                  <input matInput type="mail" placeholder="{{'clients.pending_issues.table_header.search' | translate}}...">
                  <span class="icon-search"></span>
              </div>
              <div class="c-btn-filter">
                  {{'clients.pending_issues.table_header.filter_by' | translate}}
                  <button mat-button [matMenuTriggerFor]="filterMenu"><span class="icon-filter"></span></button>
                  <mat-menu #filterMenu="matMenu">
                      <div class="c-filter" (click)="$event.stopPropagation()">
                          <div class="c-filter__header">
                              <span class="icon-filter"></span>
                              <div class="c-filter__title">
                                  Criterios de filtrado
                              </div>
                          </div>
                          <div class="c-filter__body">
                              <label class="u-title-label">Prioridad</label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>Nivel de prioridad</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <label class="u-title-label">Estatus</label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>Estado</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <label class="u-title-label">Responsable de la tarea </label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>Nombre</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <label class="u-title-label">Tipo asunto</label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>Nombre</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>

                          </div>
                          <div class="c-filter__footer">
                              <button mat-button class="c-btn c-btn--primary c-btn--small w-100">Aplicar filtros</button>
                              <button mat-button class="u-link w-100 mt-2">Limpiar criterios </button>
                          </div>

                      </div>
                  </mat-menu>
              </div>
              <button class="c-btn-function" mat-button (click)="openDialogNewTask()">{{'clients.pending_issues.table_header.create_new_task' | translate}}<span class="icon-plus ml-2 "></span></button>
          </div>
          <div class="u-table-responsive">
              <table mat-table [dataSource]="dataSource" class="c-table">
                  <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef class="c-table__checkbox">
                          <mat-checkbox class="c-checkbox" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                          </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                          <mat-checkbox class="c-checkbox" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                          </mat-checkbox>
                      </td>
                  </ng-container>


                  <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>


                  <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef class="c-table__icontype"> {{'clients.pending_issues.table_columns.type' | translate}} </th>
                      <td mat-cell *matCellDef="let element" class="text-center"> <img class="c-table__icon" src="../../../../assets/images/table-icons/company.svg" alt=""> </td>
                  </ng-container>


                  <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef style="min-width: 15rem;">{{'clients.pending_issues.table_columns.subject_description' | translate}}</th>
                      <td mat-cell *matCellDef="let element" class="w-20">
                          <div class="u-link c-table__truncate" >{{element.description}} </div>
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="case">
                      <th mat-header-cell *matHeaderCellDef>{{'clients.pending_issues.table_columns.task_assigned_to' | translate}}</th>
                      <td mat-cell *matCellDef="let element">
                          <div class="u-link">{{element.case}}</div>
                      </td>
                  </ng-container>


                  <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> {{'clients.pending_issues.table_columns.expiration_date' | translate}} </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.date}}
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="priority">
                      <th mat-header-cell *matHeaderCellDef>Normal </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.priority}}
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="state">
                      <th mat-header-cell *matHeaderCellDef>{{'clients.pending_issues.table_columns.shared_with' | translate}}</th>
                      <td mat-cell *matCellDef="let element" class="u-yellowColor u-fontBold">
                          {{element.state}}
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef class="text-center-force"> {{'clients.pending_issues.table_columns.actions' | translate}} </th>
                      <td mat-cell *matCellDef="let element" class="text-center">

                          <mat-button-toggle-group class="c-btn-table">
                              <mat-button-toggle>{{'clients.common.watch' | translate}}</mat-button-toggle>
                              <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                                  <span class="icon-arrow-down"></span>
                              </mat-button-toggle>
                          </mat-button-toggle-group>

                          <mat-menu #dropdownMenuOne="matMenu" class="c-table__matMenu c-table__matMenu--bigger">
                              <button mat-menu-item>{{'clients.common.edit' | translate}} <span class="icon-pen"></span></button>
                              <button mat-menu-item (click)="openAlertDelete()">{{'clients.common.delete' | translate}} <span class="icon-trash"></span></button>
                              <button mat-menu-item>{{'clients.common.share' | translate}} <span class="icon-people"></span></button>
                          </mat-menu>
                      </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                  </tr>
              </table>
          </div> -->
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
            {{'clients.pending_issues.tabs.completed' | translate}}
          </ng-template>

          <app-task-table *ngIf="tasks"  [tasks]="tasks" [module]="module.USERS" [securityUser]="securityUser"></app-task-table>
          <!-- <div class="d-flex u-gap-1 u-smallSize mb-3 align-items-center flex-wrap">
              <p> <b>{{'clients.common.have' | translate}} 10  </b> {{'clients.common.records_in_total_with' | translate}} Manuel Cabral </p>
              <div class="c-form-group--search bordered u-smallSize ml-auto mt-1 ">
                  <input matInput type="mail" placeholder="{{'clients.pending_issues.table_header.search' | translate}}...">
                  <span class="icon-search"></span>
              </div>
              <div class="c-btn-filter">
                  {{'clients.pending_issues.table_header.filter_by' | translate}}
                  <button mat-button [matMenuTriggerFor]="filterMenu"><span class="icon-filter"></span></button>
                  <mat-menu #filterMenu="matMenu">
                      <div class="c-filter" (click)="$event.stopPropagation()">
                          <div class="c-filter__header">
                              <span class="icon-filter"></span>
                              <div class="c-filter__title">
                                  Criterios de filtrado
                              </div>
                          </div>
                          <div class="c-filter__body">
                              <label class="u-title-label">Prioridad</label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>Nivel de prioridad</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <label class="u-title-label">Estatus</label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>Estado</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <label class="u-title-label">Responsable de la tarea </label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>Nombre</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              <label class="u-title-label">Tipo asunto</label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                  <mat-label>Nombre</mat-label>
                                  <mat-select>
                                      <mat-option>
                                          Option 1
                                      </mat-option>
                                      <mat-option>
                                          Option 2
                                      </mat-option>
                                      <mat-option>
                                          Option 3
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>

                          </div>
                          <div class="c-filter__footer">
                              <button mat-button class="c-btn c-btn--primary c-btn--small w-100">Aplicar filtros</button>
                              <button mat-button class="u-link w-100 mt-2">Limpiar criterios </button>
                          </div>

                      </div>
                  </mat-menu>
              </div>
              <button class="c-btn-function" mat-button (click)="openDialogNewTask()">{{'clients.pending_issues.table_header.create_new_task' | translate}}<span class="icon-plus ml-2 "></span></button>
          </div>
          <div class="u-table-responsive">
              <table mat-table [dataSource]="dataSource" class="c-table">
                  <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef class="c-table__checkbox">
                          <mat-checkbox class="c-checkbox" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                          </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                          <mat-checkbox class="c-checkbox" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                          </mat-checkbox>
                      </td>
                  </ng-container>


                  <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>


                  <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef class="c-table__icontype"> {{'clients.pending_issues.table_columns.type' | translate}} </th>
                      <td mat-cell *matCellDef="let element" class="text-center"> <img class="c-table__icon" src="../../../../assets/images/table-icons/calendar.svg" alt=""> </td>
                  </ng-container>


                  <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef style="min-width: 15rem;">{{'clients.pending_issues.table_columns.subject_description' | translate}}</th>
                      <td mat-cell *matCellDef="let element" class="w-20">
                          <div class="u-link c-table__truncate" >{{element.description}} </div>
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="case">
                      <th mat-header-cell *matHeaderCellDef>{{'clients.pending_issues.table_columns.task_assigned_to' | translate}}</th>
                      <td mat-cell *matCellDef="let element">
                          <div class="u-link">{{element.case}}</div>
                      </td>
                  </ng-container>


                  <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> {{'clients.pending_issues.table_columns.expiration_date' | translate}} </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.date}}
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="priority">
                      <th mat-header-cell *matHeaderCellDef>Normal </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.priority}}
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="state">
                      <th mat-header-cell *matHeaderCellDef>{{'clients.pending_issues.table_columns.shared_with' | translate}}</th>
                      <td mat-cell *matCellDef="let element" class="u-yellowColor u-fontBold">
                          {{element.state}}
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef class="text-center-force"> {{'clients.pending_issues.table_columns.actions' | translate}} </th>
                      <td mat-cell *matCellDef="let element" class="text-center">

                          <mat-button-toggle-group class="c-btn-table">
                              <mat-button-toggle>{{'clients.common.watch' | translate}}</mat-button-toggle>
                              <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                                  <span class="icon-arrow-down"></span>
                              </mat-button-toggle>
                          </mat-button-toggle-group>

                          <mat-menu #dropdownMenuOne="matMenu" class="c-table__matMenu c-table__matMenu--bigger">
                              <button mat-menu-item>{{'clients.common.edit' | translate}} <span class="icon-pen"></span></button>
                              <button mat-menu-item (click)="openAlertDelete()">{{'clients.common.delete' | translate}} <span class="icon-trash"></span></button>
                              <button mat-menu-item>{{'clients.common.share' | translate}} <span class="icon-people"></span></button>                            </mat-menu>
                      </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                  </tr>
              </table>
          </div> -->
      </mat-tab>
  </mat-tab-group>
  <!-- <div class="c-tabs-actions__controls">



      <div class="c-form-group--search">
          <input matInput type="mail" placeholder="Buscar por nombre">
          <span class="icon-search"></span>
      </div>

      <button class="c-btn-function" mat-button>Crear nuevo<span class="icon-plus ml-2 "></span></button>
  </div> -->
</div>
