<main class="l-blank">
    <header class="l-blank__header">
        <img src="../../../assets/images/white-logo.svg" alt="">
    </header>
    <div class="l-blank__content">
        <div class="l-blank__heading">
            <img src="../../../assets/images/add-user.svg" alt="" class="l-blank__icon">
            <div>
                <div class="l-blank__title">{{'register.title' | translate}}</div>
                <div class="l-blank__subtitle">{{'register.subTitle' | translate}}</div>
            </div>
        </div>
        <div class="c-register">
            <div class="c-register__left">
                <div class="c-register__title">{{'register.formTitle' | translate}}</div>
                <form class="w-100" [formGroup]="signupForm">
                    <label class="u-title-label">{{'register.nameTitle' | translate}}</label>
                    <mat-form-field appearance="fill" class="c-form-group">
                        <mat-label >{{'register.name' | translate}} </mat-label>
                        <input class="c-form-group__input" matInput [placeholder]="'register.name' | translate" formControlName="firstName">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="c-form-group c-form-group--mb-4">
                        <mat-label>{{'register.lastName' | translate}}</mat-label>
                        <input class="c-form-group__input" matInput [placeholder]="'register.lastName' | translate" formControlName="lastName">
                    </mat-form-field>

                    <label class="u-title-label">{{'register.contactTitle' | translate}}</label>
                    <mat-form-field appearance="fill" class="c-form-group mb-3">
                        <mat-label>{{'register.phoneNumber' | translate}}</mat-label>
                        <input class="c-form-group__input" matInput [placeholder]="'register.phoneNumber' | translate" formControlName="phoneNumber">
                    </mat-form-field>
                    <label class="u-title-label">{{'register.emailTitle' | translate}}</label>
                    <mat-form-field appearance="fill" class="c-form-group">
                        <mat-label>{{'register.email' | translate}}</mat-label>
                        <input class="c-form-group__input" matInput [placeholder]="'register.email' | translate" formControlName="email">
                    </mat-form-field>

                    <label class="u-title-label">{{'register.password' | translate}}</label>
                    <mat-form-field appearance="fill" class="c-form-group">
                        <mat-label>{{'register.password' | translate}}</mat-label>
                        <input class="c-form-group__input" matInput type="password" [placeholder]="'register.password' | translate" formControlName="password">
                    </mat-form-field>

                    <label class="u-title-label">{{'register.confirmPassword' | translate}}</label>
                    <mat-form-field appearance="fill" class="c-form-group">
                        <mat-label>{{'register.confirmPassword' | translate}} </mat-label>
                        <input class="c-form-group__input" matInput type="password" [placeholder]="'register.confirmPassword' | translate" formControlName="confirmPassword">
                    </mat-form-field>
                    <label [ngClass]="passwordMatch ? 'u-primaryColor' : 'u-dangerColor'" class="u-smallSize d-block">{{matchMessage}}</label>
                </form>
            </div>
            <div class="c-register__right">
                <mat-slide-toggle class="c-switch mb-3" (change)="onSelectSubscriptionPeriod($event)">
                    <span i18n [ngClass]="{'is-active': !anualSubscription}">{{'register.monthly' | translate}}</span>
                    <span>/</span>
                    <span [ngClass]="{'is-active': anualSubscription}">{{'register.annual' | translate}}</span>
                </mat-slide-toggle>
                <label class="u-title-label w-100">{{'register.membership' | translate}}</label>
                <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                    <mat-label>{{'register.choosePlan' | translate}}</mat-label>
                    <mat-select (selectionChange)="onSelectPlan($event)">
                        <mat-option *ngFor="let plan of plans$ | async" [value]="plan.uuid">
                            <div class="d-flex justify-content-between">
                                <span>{{plan.name}}</span> - <span>{{plan.price}} USD</span>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <ng-container *ngIf="selectedPlan">
                  <p class="u-textColor u-smallSize mb-4" [innerHTML]="'register.getFreeTrial' | translate:{ freeTrialDays}" ></p>

                  <div class="d-flex align-items-end mb-4">
                      <span style="font-size: 37px;margin-bottom: -6px;" class="mr-2">{{planTotalPrice}}</span> USD/ {{subscriptionPeriodDesc| translate}}
                      <div class="u-badge ml-2" *ngIf="anualSubscription"  >{{'register.discount' | translate}} {{selectedPlan.anual_discount_pct}}% </div>
                  </div>

                  <div class="mb-5 u-disable-list">
                    <div class="mb-2" *ngFor="let f of selectedPlan.features"><span class="icon-check u-primaryColor mr-2"></span>{{f.quantity}} {{f.feature.description}}</div>
                  </div>
                </ng-container>

                <div class="d-flex u-gap-1" style="max-width: 280px; ">
                    <button mat-button class="c-btn c-btn--outline-primary u-smallSize flex-1" [ngClass]="{'c-btn--disable': !isValidForm}" (click)="signupAndCreateSubscription(true)">
                       {{'register.getFreeTrialButton'| translate}} 
                    </button>
                    <button mat-button class="c-btn c-btn--primary u-smallSize flex-1" [ngClass]="{'c-btn--disable': !isValidForm}" i18n (click)="signupAndCreateSubscription(false)">
                        {{'register.buyNowButton'| translate}} 
                    </button>
                </div>
                <p *ngIf="errorMessage" class="u-dangerColor mb-3">{{errorMessage | errorMessageTranslate}}</p>

            </div>
            <div class="c-register__footer">
                <label class="u-link"  routerLink="/signin">{{'register.goBack' | translate}}</label>
            </div>
        </div>

    </div>

</main>
