<div class="c-dialog-addHours c-dialog-header">
    <div class="c-dialog-header__header">
        <span class="icon-clock u-icon-white mr-2"></span> {{ 'addHoursModal.title' | translate }}
    </div>
    <form [formGroup]="taskTimeForm" (submit)="submitForm()">

        <mat-dialog-content>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 p-0 pr-2">
                                <label class="u-title-label">{{ 'addHoursModal.pricePerHour' |translate }}</label>
                                <mat-form-field appearance="fill" class="c-form-group c-form-group__select">

                                  <input class="c-form-group__input"
                                              matInput
                                              placeholder="Ej: Crear contrato de servicio"
                                              formControlName="total_amt">

                                </mat-form-field>
                                <mat-error>
                                    {{
                                      taskTimeForm.get("total_amt") | validations
                                    }}
                                </mat-error>
                            </div>
                            <div class="col-md-6 p-0">
                                <label class="u-title-label">{{ 'addHoursModal.quotedHours' |translate }}</label>
                                <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                                    <input class="c-form-group__input"
                                    matInput
                                    placeholder="Ej: Crear contrato de servicio"
                                    formControlName="total_time">
                                  </mat-form-field>
                                <mat-error>
                                    {{
                                      taskTimeForm.get("total_time") | validations
                                    }}
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="u-title-label">{{ 'addHoursModal.realTimeClock' |translate }}</label>
                        <div class="c-timer-count" *ngIf="timerConfig">
                            <div class="c-timer-count__number">
                                <countup-timer  [countUpTimerConfig]="timerConfig"></countup-timer>
                            </div>
                            <button type="button" mat-button class="c-timer-count__button" (click)="startTimer()">
                                <span [ngClass]="{'icon-pause': isTimerStart, 'icon-play': !isTimerStart }"
                                      [title]="isTimerStart ? 'Pause' : 'Play'"></span>
                          </button>
                            <button type="button" class="btn-replay" title="Reset" (click)="resetTimer()">
                                <span class="icon-replay"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <mat-checkbox class="c-checkbox mb-3 u-fontBold u-textColor mt-3" formControlName="not_billable">
                                {{ 'addHoursModal.noBillable' |translate }}
                            </mat-checkbox>
                        </div>

                        <label class="u-title-label">{{ 'addHoursModal.task' |translate }}</label>
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select c-form-group--small">
                            <mat-select formControlName="task" [disabled]="this.task !== null">
                                <mat-option *ngFor="let task of tasks" [value]="task.uuid">
                                    {{task.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error>
                            {{
                              taskTimeForm.get("task") | validations
                            }}
                        </mat-error>

                        <label class="u-title-label">{{ 'addHoursModal.description' |translate }}</label>
                        <div class="c-form-group">
                            <textarea matInput class="c-form-group__textarea"
                                      style="min-height:11rem;"
                                      placeholder="{{ 'addHoursModal.placeholder.description' | translate }}"
                                      formControlName="description">
                            </textarea>
                        </div>
                        <mat-error>
                            {{
                              taskTimeForm.get("description") | validations
                            }}
                        </mat-error>

                        <label class="u-title-label">{{ 'addHoursModal.user' |translate }}</label>
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select c-form-group--small">
                            <mat-select formControlName="executed_by">
                                <mat-option *ngFor="let securityUser of securityUsers" [value]="securityUser.uuid" (onSelectionChange)="setSecurityUserSelected(securityUser)">
                                    {{securityUser.user.first_name + ' ' + securityUser.user.last_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error>
                            {{
                              taskTimeForm.get("executed_by") | validations
                            }}
                        </mat-error>
                    </div>
                </div>
        </mat-dialog-content>
        <mat-dialog-actions class="mt-auto ">
            <div class="row w-100 mb-3">
                <div class="col-md-12">
                    <div class="d-flex">
                        <button mat-button class="c-btn-function flex-1">{{ 'addHoursModal.save' |translate }}</button>
                        <!-- <button mat-button class="c-btn-function flex-1">{{ 'addHoursModal.saveAndMore' |translate }}<span class="icon-plus ml-2"></span></button> -->
                    </div>
                    <button mat-button mat-dialog-close class="u-link text-center m-0 w-100 mt-2 p-0">{{ 'addHoursModal.close' |translate }}</button>
                </div>
            </div>
        </mat-dialog-actions>

    </form>


</div>
