<div class="l-page" *ngIf="caseFile">


    <div class="l-page__header">
        <div>
            <div class="l-page__title m-0">{{caseFile.case_no + '-'+ caseFile.name}}</div>
            <div class="l-page__info flex-wrap u-gap-1">
                <div>
                    <div>{{'dockets.profile.client' | translate}}</div>
                    <div class="u-link u-link--underline">{{caseFile.customer | customerFullName}}</div>
                  </div>
                <div *ngIf="caseFile.assigned_to">
                    <div>{{'dockets.profile.delegated_to' | translate}}:</div>
                    <div class="u-link u-link--underline" (click)="navigateToUser()">{{caseFile.assigned_to.user.first_name + ' ' + caseFile.assigned_to.user.last_name}}</div>
                </div>
                <div>
                    <div>{{'dockets.profile.creation_date' | translate}}</div>
                    <div>{{returnDateFormatted(caseFile.created_at)}}</div>
                </div>
            </div>

        </div>

        <div class="l-page__controls">
            <button *ngIf="caseFile.status === caseFileStatus.OPEN" class="c-btn-function" mat-button (click)="openCloseExpedientDialog()">
              {{'dockets.close_docket' | translate}}<span class="icon-plus ml-3 "></span>
            </button>
            <button mat-button class="c-btn-filter" [routerLink]="'/expedient'"><span class="icon-arrow-back mr-2"></span> {{'dockets.profile.goBack' | translate}}</button>
        </div>
    </div>
    <div class="l-page__body">

        <mat-tab-group class="c-tabs c-tabs--green c-tabs--darkText c-tabs--expedient" [(selectedIndex)]="selectedTabIndex">
            <mat-tab>
                <ng-template mat-tab-label>
                  {{'dockets.profile.documents.title' | translate}}
                    <span class="icon-document-color"></span>
                </ng-template>
               <app-document *ngIf="caseFile" [caseFile]="caseFile"></app-document>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                  {{'dockets.profile.notes.title' | translate}}

                    <span class=" icon-note-pen"></span>
                </ng-template>
                <app-notes *ngIf="caseFile" [caseFile]="caseFile"></app-notes>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                  {{'dockets.profile.tasks.title' | translate}}

                    <span class="icon-task"></span>
                </ng-template>

               <app-expedient-tasks *ngIf="caseFile" [caseFile]="caseFile" (onExecuteTask)="getCaseFileById()"></app-expedient-tasks>


            </mat-tab>
            <mat-tab class="test">
                <ng-template mat-tab-label>
                  {{'dockets.profile.invoicing.title' | translate}}

                    <span class="icon-invoice"></span>
                </ng-template>

                <app-expedient-invoicing *ngIf="caseFile" [caseFile]="caseFile"></app-expedient-invoicing>


            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Wallet
                    <span class="icon-wallet"></span>
                </ng-template>

               <app-expedient-wallet *ngIf="caseFile" [caseFile]="caseFile"></app-expedient-wallet>


            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                  Información
              </ng-template>

              <app-expedient-variables-info *ngIf="caseFile"  [caseFile]="caseFile"></app-expedient-variables-info>

          </mat-tab>



        </mat-tab-group>
    </div>
</div>

