<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-company"></span>
            </div>
            <div class="l-page__title">{{'firm.profile.firm_profile' | translate}}</div>
        </div>
        <div class="l-page__controls">
            <button mat-button class="u-smallSize" [routerLink]="'..'"> <span class="icon-arrow-back mr-2"></span> {{'collaborator.profile.goBack' | translate}}</button>
            <button *ngxPermissionsOnly="['change_subscription']" class="c-btn-function" mat-button [routerLink]="'create-profile'">{{'firm.profile.edit_profile' | translate}} <span class="icon-pen ml-2 "></span></button>
        </div>


    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs c-tabs--scroll" *ngIf="subscription">
            <mat-tab>

                <ng-template mat-tab-label>
                    {{'firm.profile.general_details' | translate}}
                    <span class="icon-contacts"></span>
                </ng-template>
                <app-profile-general-info *ngIf="subscription" [subscription]="subscription"></app-profile-general-info>

            </mat-tab>
            <mat-tab>

                <ng-template mat-tab-label>
                  {{'firm.profile.payment_methods' | translate}}
                  <span class="icon-credit-card"></span>
                </ng-template>

                <app-payment-method *ngIf="subscription" [subscription]="subscription"></app-payment-method>

            </mat-tab>
            <mat-tab>

                <ng-template mat-tab-label>
                  {{'firm.profile.subscription_and_billing' | translate}}
                  <span class="icon-invoice"></span>
                </ng-template>

                <app-subscription *ngIf="subscription" [subscription]="subscription"></app-subscription>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>
