<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-expedient"></span>
            </div>
            <div class="l-page__title">{{'dockets.dockets' | translate}}</div>
        </div>
        <div class="l-page__controls">
            <button *ngxPermissionsOnly="['add_casefile']" class="c-btn-function" mat-button (click)="openDialogNewExpedient()">{{'dockets.new_docket' | translate}}<span class="icon-plus ml-3 "></span></button>
        </div>
    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs">
            <mat-tab label="{{'dockets.all' | translate}}">
                <app-expedient-table *ngIf="caseFiles"
                                     [caseFiles]="caseFiles"
                                     [securityUsers]="securityUsers"
                                     [customers]="customers"
                                     (onExecuteExpedient)="getCaseFiles()">
                </app-expedient-table>
            </mat-tab>
            <mat-tab label="{{'dockets.open' | translate}}">
                <app-expedient-table *ngIf="caseFiles"
                                     [caseFiles]="openCaseFiles"
                                     [securityUsers]="securityUsers"
                                     [customers]="customers"
                                     (onExecuteExpedient)="getCaseFiles()">
                </app-expedient-table>
            </mat-tab>
            <mat-tab label="{{'dockets.closed' | translate}}">
                <app-expedient-table *ngIf="caseFiles"
                                     [caseFiles]="closedCaseFiles"
                                     [securityUsers]="securityUsers"
                                     [customers]="customers"
                                     (onExecuteExpedient)="getCaseFiles()">
                </app-expedient-table>
            </mat-tab>
            <mat-tab label="Tipo de expediente">
              <app-expedient-type-table></app-expedient-type-table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
