<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-expedient"></span>
            </div>
            <div class="l-page__title">Expedientes</div>
        </div>
        <div class="l-page__controls">
            <button class="c-btn-function" mat-button (click)="openDialogNewExpedient()">Nuevo expediente<span class="icon-plus ml-3 "></span></button>
        </div>
    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs">
            <mat-tab label="Todas">
                <app-expedient-table></app-expedient-table>
            </mat-tab>
            <mat-tab label="Abiertos">
                <app-expedient-table></app-expedient-table>
            </mat-tab>
            <mat-tab label="Cerrados">
                <app-expedient-table></app-expedient-table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
