<main class="l-main">
    <div class="l-main__header">
        <app-header></app-header>
        <button class="l-main__button" type="button" mat-button (click)="drawer.toggle()">
            <span class="icon-menu"></span>
        </button>
    </div>
    <mat-drawer-container class="l-main__body" autosize>
        <mat-drawer opened="true" #drawer fixedInViewport="true" class="example-sidenav" mode="side">
            <app-menu></app-menu>
        </mat-drawer>

        <div class="l-main__content">
            <router-outlet></router-outlet>
        </div>

        <app-onboarding [openMenu]="openMenu"></app-onboarding>
    </mat-drawer-container>
</main>
