<div class=" c-dialog-header c-dialog-options">
    <div class="c-dialog-header__header">
        <div class="align-items-center d-flex u-gap-1">
            <span class="icon-plus u-icon-white mr-3"></span>
            <div>
                <div>{{'clients.client_intake.create_new_client' | translate}}</div>
                <div class="u-smallSize u-fontRegular mt-1">{{'clients.client_intake.choose_one_option' | translate}}</div>
            </div>

        </div>
    </div>
    <mat-dialog-content class="pr-5 pl-5 pt-0">
        <div *ngxPermissionsOnly="['add_customerintakerequest']" class="c-dialog-options__item" mat-dialog-close (click)="openDialogSendRegister()">
            <div class="c-dialog-options__icon">
                <span class="icon-send"></span>
            </div>
            <div class="flex-1">
                <div class="c-dialog-options__title">{{'clients.client_intake.send_form_to_customer' | translate}}</div>
            <p class="c-dialog-options__text">
                {{'clients.client_intake.client_completes_his_data_himself' | translate}}
            </p>
            </div>
        </div>
        <div *ngxPermissionsOnly="['add_customer']" class="c-dialog-options__item" mat-dialog-close routerLink="/customers/create-client">
            <div class="c-dialog-options__icon">
                <span class="icon-add-user"></span>
            </div>
            <div class="flex-1">
                <div class="c-dialog-options__title">{{'clients.client_intake.create_manually' | translate}}</div>
            <p class="c-dialog-options__text">
                {{'clients.client_intake.you_fill_in_the_customer_data_yourself' | translate}}
            </p>
            </div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions class="c-dialog-header__footer justify-content-center">
        <button mat-button mat-dialog-close class="u-link text-center">{{'clients.client_intake.close_window' | translate}}</button>
    </mat-dialog-actions>
</div>
