<form [formGroup]="scheduleForm">
  <div class="row">
    <div class="col-lg-11">
        <div class="information-title mb-1 u-bigSize">Horario de la firma</div>
        <p class="u-textLightColor mb-5">Puedes modificar todos los horarios</p>
         <div formArrayName="schedules" >
          <div *ngFor="let schedule of returnFormArray('schedules'); let i = index;" [formGroupName]="i">
            <div class="c-hour-sign">
              <div class="c-hour-sign__label u-primaryColor">{{returnWeekDayDesc(schedule.value.week_day)}}</div>

              <mat-form-field appearance="fill" class="c-form-group is-valid">
                  <mat-label>Hora de apertura</mat-label>
                  <input formControlName="start_time" class="c-form-group__input" matInput [ngxTimepicker]="picker1" [format]="24">
                  <ngx-material-timepicker #picker1></ngx-material-timepicker>
              </mat-form-field>

              <div class="c-hour-sign__dash">-</div>

              <mat-form-field appearance="fill" class="c-form-group is-valid">
                  <mat-label>Hora de cierre</mat-label>
                  <input formControlName="end_time" class="c-form-group__input" matInput [ngxTimepicker]="picker2" [format]="24">
                  <ngx-material-timepicker #picker2></ngx-material-timepicker>
              </mat-form-field>

              <mat-slide-toggle class="c-switch" (change)="setScheduleFieldToggle($event,i)" [checked]="!schedule.value.is_closed">
              </mat-slide-toggle>
          </div>
          </div>
         </div>

        <!--<div class="c-hour-sign">
            <div class="c-hour-sign__label">Martes</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de apertura</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <div class="c-hour-sign__dash">-</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de cierre</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <mat-slide-toggle class="c-switch">
            </mat-slide-toggle>
        </div>
        <div class="c-hour-sign">
            <div class="c-hour-sign__label">Miercoles</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de apertura</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <div class="c-hour-sign__dash">-</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de cierre</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <mat-slide-toggle class="c-switch">
            </mat-slide-toggle>
        </div>
        <div class="c-hour-sign">
            <div class="c-hour-sign__label">Jueves</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de apertura</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <div class="c-hour-sign__dash">-</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de cierre</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <mat-slide-toggle class="c-switch">
            </mat-slide-toggle>
        </div>
        <div class="c-hour-sign">
            <div class="c-hour-sign__label">Viernes</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de apertura</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <div class="c-hour-sign__dash">-</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de cierre</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <mat-slide-toggle class="c-switch">
            </mat-slide-toggle>
        </div>
        <div class="c-hour-sign">
            <div class="c-hour-sign__label">Sábado</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de apertura</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <div class="c-hour-sign__dash">-</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de cierre</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <mat-slide-toggle class="c-switch">
            </mat-slide-toggle>
        </div>
        <div class="c-hour-sign">
            <div class="c-hour-sign__label">Domingo</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de apertura</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <div class="c-hour-sign__dash">-</div>
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>Hora de cierre</mat-label>
                <input class="c-form-group__input" matInput>
            </mat-form-field>
            <mat-slide-toggle class="c-switch">
            </mat-slide-toggle>
        </div> -->
    </div>
  </div>

</form>
