<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-task"></span>
            </div>
            <div class="l-page__title">{{ 'tasks.title' | translate | titlecase }}</div>
        </div>
        <div class="l-page__controls">
            <button class="c-btn-function" mat-button [matMenuTriggerFor]="menu">{{ 'tasks.newTask' | translate | titlecase }}<span class="icon-plus ml-3 "></span></button>
            <mat-menu #menu="matMenu" class="c-btn-function__menu">

              <button *ngFor="let taskType of tasksTypes" mat-menu-item (click)="openDialog(taskType)"><span [ngClass]="returnTaskTypeIcon(taskType)"></span>{{taskType.name}}</button>

            </mat-menu>

        </div>
    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs" (selectedIndexChange)="onTabChange($event)" *ngIf="allTasks">

            <mat-tab>
              <ng-template mat-tab-label>
                  {{ 'tasks.tabs.all' | translate | titlecase }}
                  <div class="c-tabs__badge">
                      {{ allTasks.length }}
                  </div>
              </ng-template>

              <app-task-table [tasks]="allTasks">
              </app-task-table>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
                {{ 'tasks.tabs.completed' | translate | titlecase }}
                <div class="c-tabs__badge">
                    {{ completedTasks.length }}
                </div>
            </ng-template>

            <app-task-table [tasks]="completedTasks">
            </app-task-table>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
              {{ 'tasks.tabs.pending' | translate | titlecase }}
              <div class="c-tabs__badge">
                  {{ pendingTasks.length }}
              </div>
          </ng-template>

          <app-task-table [tasks]="pendingTasks">
          </app-task-table>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
            {{ 'tasks.tabs.overdue' | translate | titlecase }}
            <div class="c-tabs__badge">
                {{ overdueTasks.length }}
            </div>
        </ng-template>

        <app-task-table [tasks]="overdueTasks">
        </app-task-table>
    </mat-tab>


        </mat-tab-group>
    </div>
</div>
