<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-task"></span>
            </div>
            <div class="l-page__title">Mis tareas</div>
        </div>
        <div class="l-page__controls">
            <button class="c-btn-function" mat-button [matMenuTriggerFor]="menu">Nueva Tarea<span class="icon-plus ml-3 "></span></button>
            <mat-menu #menu="matMenu" class="c-btn-function__menu">
                <button mat-menu-item (click)="openDialogNewTask()"><span class="icon-phone"></span>Llamada</button>
                <button mat-menu-item><span class="icon-task-list"></span>Coordinar cita</button>
                <button mat-menu-item><span class="icon-email"></span>Enviar correo</button>
                <button mat-menu-item><span class="icon-chat"></span>Ofrecer consulta</button>
                <button mat-menu-item><span class="icon-document-color"></span>Redactar documento</button>
                <button mat-menu-item><span class="icon-swap"></span>Radicación</button>
                <button mat-menu-item><span class="icon-law"></span>Comparecer a vista</button>
                <button mat-menu-item><span class="icon-meeting"></span>Reunión</button>
                <button mat-menu-item><span class="icon-sunglasses" style="font-size: 10px;"></span>Investigación</button>
                <button mat-menu-item><span class="icon-open-book"></span>Lectura</button>
                <button mat-menu-item (click)="openDialogNewReason()"><span class="icon-more"></span>Otros</button>
            </mat-menu>

        </div>
    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs" (selectedIndexChange)="onTabChange($event)">
            <mat-tab *ngFor="let tab of tabs">
                <ng-template mat-tab-label>
                    {{ tab.title | titlecase }}
                    <div class="c-tabs__badge">
                        {{ tab.badge }}
                    </div>
                </ng-template>
                
                <app-task-table [tasks]="_tasks">
                </app-task-table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>