<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-task"></span>
            </div>
            <div class="l-page__title">Mis tareas</div>
        </div>
        <div class="l-page__controls">
            <button class="c-btn-function" mat-button [matMenuTriggerFor]="menu">Nueva Tarea<span class="icon-plus ml-3 "></span></button>
            <mat-menu #menu="matMenu" class="c-btn-function__menu">
                <button mat-menu-item (click)="openDialogNewTask()"><span class="icon-phone"></span>Llamada</button>
                <button mat-menu-item><span class="icon-task-list"></span>Coordinar cita</button>
                <button mat-menu-item><span class="icon-email"></span>Enviar correo</button>
                <button mat-menu-item><span class="icon-chat"></span>Ofrecer consulta</button>
                <button mat-menu-item><span class="icon-document-color"></span>Redactar documento</button>
                <button mat-menu-item><span class="icon-swap"></span>Radicación</button>
                <button mat-menu-item><span class="icon-law"></span>Comparecer a vista</button>
                <button mat-menu-item><span class="icon-meeting"></span>Reunión</button>
                <button mat-menu-item><span class="icon-sunglasses" style="font-size: 10px;"></span>Investigación</button>
                <button mat-menu-item><span class="icon-open-book"></span>Lectura</button>
                <button mat-menu-item (click)="openDialogNewReason()"><span class="icon-more"></span>Otros</button>
            </mat-menu>

        </div>
    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs">
            <mat-tab>
                <ng-template mat-tab-label>
                    Todas
                    <div class="c-tabs__badge">10</div>
                  </ng-template>
                <div class="u-smallSize mb-3 d-flex align-items-center justify-content-between flex-wrap u-gap-1">
                    <p><b>Listado de tareas</b></p>
                    <div class="c-btn-filter">
                        Filtrar por
                        <button mat-button [matMenuTriggerFor]="filterMenu"><span class="icon-filter"></span></button>
                        <mat-menu #filterMenu="matMenu">
                            <div class="c-filter" (click)="$event.stopPropagation()">
                                <div class="c-filter__header">
                                    <span class="icon-filter"></span>
                                    <div class="c-filter__title">
                                        Criterios de filtrado
                                    </div>
                                </div>
                                <div class="c-filter__body">
                                    <label class="u-title-label">Prioridad</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nivel de prioridad</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Estatus</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Estado</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Responsable de la tarea </label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nombre</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Tipo asunto</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nombre</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                                <div class="c-filter__footer">
                                    <button mat-button class="c-btn c-btn--primary c-btn--small w-100">Aplicar filtros</button>
                                    <button mat-button class="u-link w-100 mt-2">Limpiar criterios </button>
                                </div>

                            </div>
                        </mat-menu>
                    </div>

                </div>
                <div class="u-table-responsive">
                    <table mat-table [dataSource]="dataSource" class="c-table">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef class="c-table__checkbox">
                                <mat-checkbox class="c-checkbox" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox class="c-checkbox" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Type Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef class="c-table__icontype"> Tipo </th>
                            <td mat-cell *matCellDef="let element" class="text-center"> <img class="c-table__icon" src="../../../../assets/images/table-icons/phone.svg" alt=""> </td>
                        </ng-container>

                        <!-- task Column -->
                        <ng-container matColumnDef="rason">
                            <th mat-header-cell *matHeaderCellDef> Motivo ó razón </th>
                            <td mat-cell *matCellDef="let element" class="w-20">
                                <div class="u-link c-table__truncate">{{element.rason}} </div>
                            </td>
                        </ng-container>

                        <!-- Estatus Column -->
                        <ng-container matColumnDef="client">
                            <th mat-header-cell *matHeaderCellDef> Cliente </th>
                            <td mat-cell *matCellDef="let element" class="c-table__truncate">
                                {{element.client}}
                            </td>
                        </ng-container>

                        <!-- Expedient Column -->
                        <ng-container matColumnDef="expedient">
                            <th mat-header-cell *matHeaderCellDef> Expediente ó caso </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="u-link c-table__truncate" routerLink="/expedient-info">{{element.expedient}}</div>
                            </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="hours">
                            <th mat-header-cell *matHeaderCellDef> Hr. invertidas </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="u-link" (click)="openDialogChargedHours()">
                                    <span class="icon-clock-outline mr-1"></span> {{element.hours}} </div>
                            </td>
                        </ng-container>
                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Fech. Vencimiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="text-center-force"> Acciones </th>
                            <td mat-cell *matCellDef="let element" class="text-center">

                                <mat-button-toggle-group class="c-btn-table">
                                    <mat-button-toggle>Completar</mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                                        <span class="icon-arrow-down"></span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>

                                <mat-menu #dropdownMenuOne="matMenu" class="c-table__matMenu c-table__matMenu--bigger">
                                    <button mat-menu-item class="matMenu-yellow">Editar<span class="icon-pen"></span></button>
                                    <button mat-menu-item class="matMenu-green">Ver tarea <span class="icon-eye" style="font-size: 11px;"></span></button>
                                    <button mat-menu-item class="matMenu-red" (click)="openAlertDelete()" >Eliminar tarea <span class="icon-trash"></span></button>
                                    <button mat-menu-item class="matMenu-blue">Añadir hora <span class="icon-timer"></span></button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Pendiente
                    <div class="c-tabs__badge">5</div>
                  </ng-template>
                <div class="u-smallSize mb-3 d-flex align-items-center justify-content-between flex-wrap u-gap-1">
                    <p><b>Listado de tareas</b></p>
                    <div class="c-btn-filter">
                        Filtrar por
                        <button mat-button [matMenuTriggerFor]="filterMenu"><span class="icon-filter"></span></button>
                        <mat-menu #filterMenu="matMenu">
                            <div class="c-filter" (click)="$event.stopPropagation()">
                                <div class="c-filter__header">
                                    <span class="icon-filter"></span>
                                    <div class="c-filter__title">
                                        Criterios de filtrado
                                    </div>
                                </div>
                                <div class="c-filter__body">
                                    <label class="u-title-label">Prioridad</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nivel de prioridad</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Estatus</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Estado</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Responsable de la tarea </label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nombre</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Tipo asunto</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nombre</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                                <div class="c-filter__footer">
                                    <button mat-button class="c-btn c-btn--primary c-btn--small w-100">Aplicar filtros</button>
                                    <button mat-button class="u-link w-100 mt-2">Limpiar criterios </button>
                                </div>

                            </div>
                        </mat-menu>
                    </div>

                </div>
                <div class="u-table-responsive">
                    <table mat-table [dataSource]="dataSource" class="c-table">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef class="c-table__checkbox">
                                <mat-checkbox class="c-checkbox" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox class="c-checkbox" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Type Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef class="c-table__icontype"> Tipo </th>
                            <td mat-cell *matCellDef="let element" class="text-center"> <img class="c-table__icon" src="../../../../assets/images/table-icons/calendar-pending.svg" alt=""> </td>
                        </ng-container>

                        <!-- task Column -->
                        <ng-container matColumnDef="rason">
                            <th mat-header-cell *matHeaderCellDef> Motivo ó razón </th>
                            <td mat-cell *matCellDef="let element" class="w-20">
                                <div class="u-link c-table__truncate">{{element.rason}} </div>
                            </td>
                        </ng-container>

                        <!-- Estatus Column -->
                        <ng-container matColumnDef="client">
                            <th mat-header-cell *matHeaderCellDef> Cliente </th>
                            <td mat-cell *matCellDef="let element" class="c-table__truncate">
                                {{element.client}}
                            </td>
                        </ng-container>

                        <!-- Expedient Column -->
                        <ng-container matColumnDef="expedient">
                            <th mat-header-cell *matHeaderCellDef> Expediente ó caso </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="u-link c-table__truncate" routerLink="/expedient-info">{{element.expedient}}</div>
                            </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="hours">
                            <th mat-header-cell *matHeaderCellDef> Hr. invertidas </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="u-link" (click)="openDialogChargedHours()">
                                    <span class="icon-clock-outline mr-1"></span> {{element.hours}} </div>
                            </td>
                        </ng-container>
                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Fech. Vencimiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="text-center-force"> Acciones </th>
                            <td mat-cell *matCellDef="let element" class="text-center">

                                <mat-button-toggle-group class="c-btn-table">
                                    <mat-button-toggle>Completar</mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                                        <span class="icon-arrow-down"></span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>

                                <mat-menu #dropdownMenuOne="matMenu" class="c-table__matMenu c-table__matMenu--bigger">
                                    <button mat-menu-item class="matMenu-yellow">Editar<span class="icon-pen"></span></button>
                                    <button mat-menu-item class="matMenu-green">Ver tarea <span class="icon-eye" style="font-size: 11px;"></span></button>
                                    <button mat-menu-item class="matMenu-red" (click)="openAlertDelete()" >Eliminar tarea <span class="icon-trash"></span></button>
                                    <button mat-menu-item class="matMenu-blue">Añadir hora <span class="icon-timer"></span></button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab >
                <ng-template mat-tab-label>
                    Completados
                    <div class="c-tabs__badge">2</div>
                  </ng-template>
                  <div class="u-smallSize mb-3 d-flex align-items-center justify-content-between flex-wrap u-gap-1">
                    <p><b>Listado de tareas</b></p>
                    <div class="c-btn-filter">
                        Filtrar por
                        <button mat-button [matMenuTriggerFor]="filterMenu"><span class="icon-filter"></span></button>
                        <mat-menu #filterMenu="matMenu">
                            <div class="c-filter" (click)="$event.stopPropagation()">
                                <div class="c-filter__header">
                                    <span class="icon-filter"></span>
                                    <div class="c-filter__title">
                                        Criterios de filtrado
                                    </div>
                                </div>
                                <div class="c-filter__body">
                                    <label class="u-title-label">Prioridad</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nivel de prioridad</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Estatus</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Estado</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Responsable de la tarea </label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nombre</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Tipo asunto</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nombre</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                                <div class="c-filter__footer">
                                    <button mat-button class="c-btn c-btn--primary c-btn--small w-100">Aplicar filtros</button>
                                    <button mat-button class="u-link w-100 mt-2">Limpiar criterios </button>
                                </div>

                            </div>
                        </mat-menu>
                    </div>

                </div>
                <div class="u-table-responsive">
                    <table mat-table [dataSource]="dataSource" class="c-table">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef class="c-table__checkbox">
                                <mat-checkbox class="c-checkbox" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox class="c-checkbox" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Type Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef class="c-table__icontype"> Tipo </th>
                            <td mat-cell *matCellDef="let element" class="text-center"> <img class="c-table__icon" src="../../../../assets/images/table-icons/chat.svg" alt=""> </td>
                        </ng-container>

                        <!-- task Column -->
                        <ng-container matColumnDef="rason">
                            <th mat-header-cell *matHeaderCellDef> Motivo ó razón </th>
                            <td mat-cell *matCellDef="let element" class="w-20">
                                <div class="u-link c-table__truncate">{{element.rason}} </div>
                            </td>
                        </ng-container>

                        <!-- Estatus Column -->
                        <ng-container matColumnDef="client">
                            <th mat-header-cell *matHeaderCellDef> Cliente </th>
                            <td mat-cell *matCellDef="let element" class="c-table__truncate">
                                {{element.client}}
                            </td>
                        </ng-container>

                        <!-- Expedient Column -->
                        <ng-container matColumnDef="expedient">
                            <th mat-header-cell *matHeaderCellDef> Expediente ó caso </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="u-link c-table__truncate" routerLink="/expedient-info">{{element.expedient}}</div>
                            </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="hours">
                            <th mat-header-cell *matHeaderCellDef> Hr. invertidas </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="u-link" (click)="openDialogChargedHours()">
                                    <span class="icon-clock-outline mr-1"></span> {{element.hours}} </div>
                            </td>
                        </ng-container>
                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Fech. Vencimiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="text-center-force"> Acciones </th>
                            <td mat-cell *matCellDef="let element" class="text-center">

                                <mat-button-toggle-group class="c-btn-table">
                                    <mat-button-toggle>Completar</mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                                        <span class="icon-arrow-down"></span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>

                                <mat-menu #dropdownMenuOne="matMenu" class="c-table__matMenu c-table__matMenu--bigger">
                                    <button mat-menu-item class="matMenu-yellow">Editar<span class="icon-pen"></span></button>
                                    <button mat-menu-item class="matMenu-green">Ver tarea <span class="icon-eye" style="font-size: 11px;"></span></button>
                                    <button mat-menu-item class="matMenu-red" (click)="openAlertDelete()" >Eliminar tarea <span class="icon-trash"></span></button>
                                    <button mat-menu-item class="matMenu-blue">Añadir hora <span class="icon-timer"></span></button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                    </table>
                </div>

            </mat-tab>
            
            <mat-tab>
                <ng-template mat-tab-label>
                    Vencidas
                    <div class="c-tabs__badge">6</div>
                </ng-template>
                <div class="u-smallSize mb-3 d-flex align-items-center justify-content-between flex-wrap u-gap-1">
                    <p><b>Listado de tareas</b></p>
                    <div class="c-btn-filter">
                        Filtrar por
                        <button mat-button [matMenuTriggerFor]="filterMenu"><span class="icon-filter"></span></button>
                        <mat-menu #filterMenu="matMenu">
                            <div class="c-filter" (click)="$event.stopPropagation()">
                                <div class="c-filter__header">
                                    <span class="icon-filter"></span>
                                    <div class="c-filter__title">
                                        Criterios de filtrado
                                    </div>
                                </div>
                                <div class="c-filter__body">
                                    <label class="u-title-label">Prioridad</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nivel de prioridad</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Estatus</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Estado</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Responsable de la tarea </label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nombre</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label class="u-title-label">Tipo asunto</label>
                                    <mat-form-field appearance="fill" class="c-form-group c-form-group--small c-form-group__select">
                                        <mat-label>Nombre</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                Option 1
                                            </mat-option>
                                            <mat-option>
                                                Option 2
                                            </mat-option>
                                            <mat-option>
                                                Option 3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                                <div class="c-filter__footer">
                                    <button mat-button class="c-btn c-btn--primary c-btn--small w-100">Aplicar filtros</button>
                                    <button mat-button class="u-link w-100 mt-2">Limpiar criterios </button>
                                </div>

                            </div>
                        </mat-menu>
                    </div>

                </div>
                <div class="u-table-responsive">
                    <table mat-table [dataSource]="dataSource" class="c-table">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef class="c-table__checkbox">
                                <mat-checkbox class="c-checkbox" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox class="c-checkbox" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Type Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef class="c-table__icontype"> Tipo </th>
                            <td mat-cell *matCellDef="let element" class="text-center"> <img class="c-table__icon" src="../../../../assets/images/table-icons/phone-danger.svg" alt=""> </td>
                        </ng-container>

                        <!-- task Column -->
                        <ng-container matColumnDef="rason">
                            <th mat-header-cell *matHeaderCellDef> Motivo ó razón </th>
                            <td mat-cell *matCellDef="let element" class="w-20">
                                <div class="u-link c-table__truncate">{{element.rason}} </div>
                            </td>
                        </ng-container>

                        <!-- Estatus Column -->
                        <ng-container matColumnDef="client">
                            <th mat-header-cell *matHeaderCellDef> Cliente </th>
                            <td mat-cell *matCellDef="let element" class="c-table__truncate">
                                {{element.client}}
                            </td>
                        </ng-container>

                        <!-- Expedient Column -->
                        <ng-container matColumnDef="expedient">
                            <th mat-header-cell *matHeaderCellDef> Expediente ó caso </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="u-link c-table__truncate" routerLink="/expedient-info">{{element.expedient}}</div>
                            </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="hours">
                            <th mat-header-cell *matHeaderCellDef> Hr. invertidas </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="u-link" (click)="openDialogChargedHours()">
                                    <span class="icon-clock-outline mr-1"></span> {{element.hours}} </div>
                            </td>
                        </ng-container>
                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Fech. Vencimiento </th>
                            <td mat-cell *matCellDef="let element" class="u-dangerColor"> {{element.date}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="text-center-force"> Acciones </th>
                            <td mat-cell *matCellDef="let element" class="text-center">

                                <mat-button-toggle-group class="c-btn-table">
                                    <mat-button-toggle>Completar</mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                                        <span class="icon-arrow-down"></span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>

                                <mat-menu #dropdownMenuOne="matMenu" class="c-table__matMenu c-table__matMenu--bigger">
                                    <button mat-menu-item class="matMenu-yellow">Editar<span class="icon-pen"></span></button>
                                    <button mat-menu-item class="matMenu-green">Ver tarea <span class="icon-eye" style="font-size: 11px;"></span></button>
                                    <button mat-menu-item class="matMenu-red" (click)="openAlertDelete()" >Eliminar tarea <span class="icon-trash"></span></button>
                                    <button mat-menu-item class="matMenu-blue">Añadir hora <span class="icon-timer"></span></button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                    </table>
                </div>



            </mat-tab>
        </mat-tab-group>
    </div>
</div>