<div class="c-dialog-paymentGateway c-dialog-header">

  <div class="c-dialog-header__header">
     <span> Agregar merchant</span>
  </div>

  <form [formGroup]="paymentGatewayForm" (submit)="submitForm()">


  <mat-dialog-content>

    <div class="row">
      <div class="col-md-12">
          <label class="u-title-label">Proveedor</label>
          <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
            <mat-label>Seleccionar proveedor</mat-label>
            <mat-select formControlName="payment_gateway" (selectionChange)="onSelectChange($event)">
                <mat-option *ngFor="let paymentGateway of paymentGateways" [value]="paymentGateway.uuid">
                  {{paymentGateway.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <label class="u-title-label d-block mt-4">¿Es el proveedor predeterminado?</label>
        <mat-radio-group aria-label="Select an option" formControlName="is_default">
            <mat-radio-button class="c-radioButton mr-3" [value]="true">Si</mat-radio-button>
            <mat-radio-button class="c-radioButton mr-3" [value]="false">No</mat-radio-button>
        </mat-radio-group>

        <div class="mt-4" *ngFor="let variable of paymentGatewaySelected?.variables">
          <label class="u-title-label">{{variable.name}}</label>
          <mat-form-field appearance="fill" class="c-form-group">
              <mat-label>{{variable.name}}</mat-label>
              <input class="c-form-group__input" matInput placeholder="Ej: #87429" [formControlName]="variable.value_path">
          </mat-form-field>
        </div>

      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions class="c-dialog-header__footer">
    <button mat-button mat-dialog-close class="u-link text-center">
        Cerrar ventana
    </button>
    <button mat-button class="c-btn c-btn--primary c-btn--small">
        <span>Guardar</span>
    </button>
  </mat-dialog-actions>

  </form>

</div>
