<div class="c-generalInfo">
    <div class="c-generalInfo__header">
        <div class="align-items-center d-flex">
            <img src="../../../../../assets/images/user.jpg" class="c-generalInfo__profilePicture">
            <div>
                <div class=" c-generalInfo__name ">Datos de contacto </div>
                <div class="c-generalInfo__subname ">Detalles del usuario </div>
            </div>
        </div>
        <div class="c-generalInfo__company ">
            <img src="../../../../../assets/images/company.svg" alt=" "> <b class="mr-1">Compañía </b>Moya & Asociados

        </div>
    </div>
    <hr class="u-divider ">
    <div class="c-generalInfo__body">
        <div class="c-generalInfo__title ">
            Circunstancias personales
        </div>
        <div class="row">
            <div class="align-items-center col-md-4 d-flex u-gap-1 u-textColor mb-2">
                <span class="icon-birthday" style="font-size: 2rem;"></span>
                <div>
                    <p><b>Fecha de nacimiento</b></p>
                    <p>9 noviembre 1978</p>
                </div>
            </div>
            <div class="align-items-center col-md-4 d-flex u-gap-1 u-textColor mb-2">
                <span class="icon-suitcase" style="font-size: 1.8rem;"></span>
                <div>
                    <p><b>Profesión u/o oficio</b></p>
                    <p>Abogado(a)</p>
                </div>
            </div>
            <div class="align-items-center col-md-4 d-flex u-gap-1 u-textColor mb-2">
                <span class="icon-marriage" style="font-size: 2rem;"></span>
                <div>
                    <p><b>Estado civil </b></p>
                    <p>Soltero</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="u-divider ">
    <div class="c-generalInfo__body ">
        <div class="c-generalInfo__title ">
            <span class="icon-phone"></span>Contactos
        </div>
        <div class="row ">
            <div class="col-md-6 ">
                <div class="information-title ">Teléfonos</div>

                <div class="info-group ">
                    <div class="info-group__info ">
                        <span class="icon-mobile"></span> Núm. Celular
                    </div>
                    <div class="info-group__data mr-5">
                        +1 (734) 938 8394
                    </div>
                </div>
                <div class="info-group ">
                    <div class="info-group__info ">
                        <span class="icon-company "></span> Núm. Celular
                    </div>
                    <div class="info-group__data mr-5">
                        +1 (734) 938 8394
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="information-title ">Teléfonos</div>
                <div class="info-group ">
                    <div class="info-group__info ">
                        <span class="icon-email"></span> Correo personal
                    </div>
                    <div class="info-group__data ">
                        Manuel@fugus.com
                    </div>
                </div>
                <div class="info-group ">
                    <div class="info-group__info ">
                        <span class="icon-email"></span> Correo empresarial
                    </div>
                    <div class="info-group__data ">
                        Manuel@fugus.com
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="u-divider ">

    <div class="c-generalInfo__body ">
        
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="c-generalInfo__title">
                    <span class="icon-id-card"></span>Datos
                </div>
                <div class="mb-4">
                    <div class="u-smallSize u-textColor u-fontBold mb-1">Licencia # 1 </div>
                    <p class="u-textLightColor">983792A38</p>
                </div>
                <div class="mb-4"> 
                    <div class="u-smallSize u-textColor u-fontBold mb-1">Gobierno emisor licencia</div>
                    <p class="u-textLightColor">Estado Unidos, estado de alabama</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="c-generalInfo__title ">
                    <span class="icon-clock"></span>Honorarios
                </div>
                <div class="mb-4"> 
                    <div class="u-smallSize u-textColor u-fontBold mb-1">Costo por hora</div>
                    <p class="u-textLightColor u-bigSize-2">25 USD x Hr. </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="u-divider ">

    <div class="c-generalInfo__body ">
        <div class="c-generalInfo__title ">
            <span class="icon-phone"></span>Dirección física y postal
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="information-title ">Dirección física #1 </div>

                <div class="info-group mb-2 ">
                    <div class="info-group__info ">País</div>
                    <div class="info-group__data mr-5">República Dominicana</div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Ciudad, Estado ó provincia</div>
                    <div class="info-group__data mr-5">Miami, Florida </div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Código Postal</div>
                    <div class="info-group__data mr-5">33126</div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Dirección física</div>
                    <div class="info-group__data mr-5">1466 NW 78 AVE</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="information-title ">Dirección Postal #1</div>
                <p class="u-textLightColor u-smallSize">
                    No tiene dirección postal
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="information-title ">Dirección física #2 </div>

                <div class="info-group mb-2 ">
                    <div class="info-group__info ">País</div>
                    <div class="info-group__data mr-5">República Dominicana</div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Ciudad, Estado ó provincia</div>
                    <div class="info-group__data mr-5">Miami, Florida </div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Código Postal</div>
                    <div class="info-group__data mr-5">33126</div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Dirección física</div>
                    <div class="info-group__data mr-5">1466 NW 78 AVE</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="information-title ">Dirección Postal #2</div>
                <p class="u-textLightColor u-smallSize">
                    No tiene dirección postal
                </p>
            </div>
        </div>
    </div>
</div>