<div class="c-dashboard">
    <div class="c-dashboard__header">
        <div class="d-flex">
            <div class="c-dashboard__icon">
                <span class="icon-dashboard"></span>
            </div>
            <div>
                <div class="c-dashboard__title">
                   {{'dashboard.menu.title' | translate:{ name: userName  } }}
                </div>
                <div class="c-dashboard__subtitle">
                    {{'dashboard.menu.subTitle' | translate }} <b class="u-textColor">{{today | localizedDate }}</b>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column u-textColor u-smallSize u-fontBold text-center">
            {{'dashboard.menu.shortcuts.title' | translate }}

            <button class="c-btn-function mt-1" mat-button [matMenuTriggerFor]="menu">{{'dashboard.menu.shortcuts.label' | translate }}<span class="icon-bell ml-3 "></span></button>
            <mat-menu #menu="matMenu" class="c-btn-function__menu">
                <button mat-menu-item (click)="openDialogNewCostumer()"><span class="icon-add-user"></span>{{'dashboard.menu.shortcuts.createCustomer' | translate }}</button>
                <button mat-menu-item (click)="openDialogNewTask()"><span class="icon-task-list"></span>{{'dashboard.menu.shortcuts.createTask' | translate }}</button>
                <button mat-menu-item (click)="navigateToCreateCollaborator()"><span class="icon-businessman-color"></span>{{'dashboard.menu.shortcuts.addCollaborator' | translate }}</button>
                <button mat-menu-item (click)="openDialogAddHours()"><span class="icon-timer"></span>{{'dashboard.menu.shortcuts.timer' | translate }} </button>
                <button mat-menu-item (click)="openDialogGenerateDocument()"><span class="icon-document-color"></span>{{'dashboard.menu.shortcuts.generateDocument' | translate }}</button>
                <button mat-menu-item (click)="navigateToNewInvoice()"><span class="icon-invoice-color"></span>{{'dashboard.menu.shortcuts.generateInvoice' | translate }}</button>
                <button mat-menu-item (click)="openDialogNewNote()"><span class="icon-note-pen"></span>{{'dashboard.menu.shortcuts.createNote' | translate }}</button>
            </mat-menu>
        </div>
    </div>
    <div class="c-dashboard-tab">

        <div class="c-dashboard-tab__header">
            <button mat-menu-item (click)="scroll(stats)" class="is-active"><span class="icon-stats-color c-dashboard-tab__icon"></span>{{'dashboard.menu.tabs.statistics' | translate }}</button>
            <button mat-menu-item (click)="scroll(task)"><span class="icon-hot c-dashboard-tab__icon"></span>{{'dashboard.menu.tabs.importantTasks' | translate }} </button>
            <button mat-menu-item (click)="scroll(invoice)"><span class="icon-money-bag c-dashboard-tab__icon"></span>{{'dashboard.menu.tabs.accountsReceivable' | translate }}</button>
            <button mat-menu-item (click)="scroll(notes)"><span class="icon-notes c-dashboard-tab__icon"></span>{{'dashboard.menu.tabs.recentNotes' | translate }}</button>
        </div>

        <div class="c-dashboard-tab__body">
            <div class="c-dashboard-tab__content" #stats>
                <app-indicators [invoices]="invoices" [caseFiles]="caseFiles" [tasks]="tasks" [payments]="payments"></app-indicators>
            </div>
            <div class="c-dashboard-tab__content" #task>
                <app-task *ngIf="tasks" [tasks]="tasks"></app-task>
            </div>
            <div class="c-dashboard-tab__content" #invoice>
                <app-invoices *ngIf="invoices" [invoices]="invoices"></app-invoices>
            </div>
            <div class="c-dashboard-tab__content" #notes>
                <app-dashboard-notes *ngIf="caseFileNotes" [caseFileNotes]="caseFileNotes"></app-dashboard-notes>
            </div>

        </div>
    </div>
</div>
