<div class="c-dialog-recovery" *ngIf="showRecoveryPassword">
    <mat-dialog-content class="d-flex flex-column justify-center">
        <h4 class="mb-5 u-textBold u-textColor" >{{'recoverPassword.title' | translate}}</h4>
        <img class="mb-5" src="../../../../assets/images/password-lock.svg" alt="">
        <p class="u-textColor text-center mb-5">
            {{'recoverPassword.subTitle' | translate}}
        </p>
        <form class="w-100" [formGroup]="recoverPasswordForm">
            <mat-form-field appearance="fill" class="c-form-group">
                <mat-label>{{'recoverPassword.email' | translate}}</mat-label>
                <input class="c-form-group__input"
                       matInput
                       type="mail"
                       placeholder="Ej: m@nasbu.com"
                       formControlName="username">
            </mat-form-field>

        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="mt-auto">
        <button mat-button
                (click)="onSendForgotPassword()"
                class="c-btn c-btn--primary w-100 u-smallSize"
                [ngClass]="{'c-btn--disable': !recoverPasswordForm.valid}" >{{'recoverPassword.sendButton' | translate}}</button>
        <button mat-button mat-dialog-close class="u-link text-center m-0 w-100 mt-2 p-0" >{{'recoverPassword.closeButton' | translate}}</button>
    </mat-dialog-actions>
</div>

<div class="c-dialog-recovery" *ngIf="showSendEmail">
    <mat-dialog-content class="d-flex flex-column justify-center">
        <h4 class="mb-3 u-textBold u-textColor">{{'recoverPassword.PasswordInstructionsTitle' | translate}}</h4>
        <p class="u-textColor text-center mb-5">
           {{'recoverPassword.passwordInstructionsMessage' | translate}}
            <b>{{recoverPasswordForm.value.username}}</b>
        </p>
        <img class="mb-5" src="../../../../assets/images/emailer.svg" alt="">
        <p class="u-textColor text-center mb-5">
            {{'recoverPassword.passwordInstructionsResendMessage' | translate}}
        </p>
    </mat-dialog-content>
    <mat-dialog-actions class="mt-auto">
        <button mat-button (click)="toggleEmail()" class="c-btn c-btn--primary w-100 u-smallSize"> 
            {{'recoverPassword.passwordInstructionsTestWithAnother' | translate}}
        </button>
        <button mat-button mat-dialog-close class="u-link text-center m-0 w-100 mt-2 p-0">
            {{'recoverPassword.closeWindowsButton' | translate}}
        </button>
    </mat-dialog-actions>
</div>

<div class="c-dialog-recovery" *ngIf="showDoneMessage">
    <mat-dialog-content class="d-flex flex-column justify-center">
        <h4 class="mb-3 u-textBold u-textColor">  {{'recoverPassword.successTitle' | translate}}</h4>
        <p class="u-textColor text-center mb-5">
            {{'recoverPassword.successSubTitle' | translate}}
        </p>
        <img class="mb-5" src="../../../../assets/images/check.svg" alt="">
        <p class="u-textColor text-center mb-5">
            {{'recoverPassword.successMessage' | translate}}
        </p>
    </mat-dialog-content>
    <mat-dialog-actions class="mt-auto">
        <button mat-button class="c-btn c-btn--primary w-100 u-smallSize">{{'login.title' | translate}}</button>
        <button mat-button mat-dialog-close class="u-link text-center m-0 w-100 mt-2 p-0"> {{'recoverPassword.closeWindowsButton' | translate}}</button>
    </mat-dialog-actions>
</div>


<div class="c-dialog-recovery d-none">
    <mat-dialog-content class="d-flex flex-column justify-center">
        <h4 class="mb-3 u-textBold u-textColor">Verifica con el cliente</h4>
        <p class="u-textColor text-center mb-5" >
            El SMS ha sido enviado nuevamente a <br> <b>+1 829 928 2738</b> 
        </p>
        <img class="mb-5" src="../../../../assets/images/sms-mobile.svg" alt="">
        <p class="u-textColor text-center mb-5">
            Si aún no lo recibes puedes utilizar otro teléfono
        </p>
    </mat-dialog-content>
    <mat-dialog-actions class="mt-auto">
        <button mat-button class="c-btn c-btn--primary w-100 u-smallSize">Probar con otro teléfono</button>
        <button mat-button mat-dialog-close class="u-link text-center m-0 w-100 mt-2 p-0">{{'recoverPassword.closeWindowsButton' | translate}}</button>
    </mat-dialog-actions>
</div>