<div [ngSwitch]="pageStep">
    <div *ngSwitchCase="1">
        <ng-container *ngTemplateOutlet="step1"></ng-container>
    </div>
    <div *ngSwitchCase="2">
        <ng-container *ngTemplateOutlet="step2"></ng-container>
    </div>
    <div *ngSwitchCase="3">
        <ng-container *ngTemplateOutlet="step3"></ng-container>
    </div>
    <div *ngSwitchCase="4">
        <ng-container *ngTemplateOutlet="step4"></ng-container>
    </div>
</div>

<ng-template #step1>
    <div class="c-dialog-recovery">
        <mat-dialog-content class="d-flex flex-column justify-center">
            <h4 class="mb-5 u-textBold u-textColor">{{'recoverPassword.title' | translate}}</h4>
            <img class="mb-5" src="../../../../assets/images/password-lock.svg" alt="">
            <p class="u-textColor text-center mb-5">
                {{'recoverPassword.subTitle' | translate}}
            </p>
            <form class="w-100" [formGroup]="recoverPasswordForm">
                <mat-form-field appearance="fill" class="c-form-group">
                    <mat-label>{{'recoverPassword.email' | translate}}</mat-label>
                    <input class="c-form-group__input" matInput type="mail" placeholder="Ej: m@nasbu.com" autocomplete="off"
                        formControlName="username">
                </mat-form-field>

            </form>
        </mat-dialog-content>
        <mat-dialog-actions class="mt-auto">
            <button mat-button (click)="onSendForgotPassword()" class="c-btn c-btn--primary w-100 u-smallSize"
                [ngClass]="{'c-btn--disable': !recoverPasswordForm.valid}">{{'recoverPassword.sendButton' |
                translate}}</button>
            <button mat-button mat-dialog-close
                class="u-link text-center m-0 w-100 mt-2 p-0">{{'recoverPassword.closeButton' | translate}}</button>
        </mat-dialog-actions>
    </div>
</ng-template>

<ng-template #step2>
    <div class="c-dialog-recovery justify-content-center">
        <app-spinner></app-spinner>
    </div>
</ng-template>

<ng-template #step3>
    <div class="c-dialog-recovery">
        <mat-dialog-content class="d-flex flex-column justify-center">
            <h4 class="mb-3 u-textBold u-textColor">{{'recoverPassword.passwordInstructionsTitle' | translate}}</h4>
            <p class="u-textColor text-center mb-5">
                {{'recoverPassword.passwordInstructionsMessage' | translate}}
                <b>{{recoverPasswordForm.value.username}}</b>
            </p>
            <img class="mb-5" src="../../../../assets/images/emailer.svg" alt="">
            <p class="u-textColor text-center mb-5">
                {{'recoverPassword.passwordInstructionsResendMessage' | translate}}
            </p>
        </mat-dialog-content>
        <mat-dialog-actions class="mt-auto">
            <button mat-button (click)="tryAnotherEmail()" class="c-btn c-btn--primary w-100 u-smallSize">
                {{'recoverPassword.passwordInstructionsTestWithAnother' | translate}}
            </button>
            <button mat-button mat-dialog-close class="u-link text-center m-0 w-100 mt-2 p-0">
                {{'recoverPassword.closeWindowsButton' | translate}}
            </button>
        </mat-dialog-actions>
    </div>
</ng-template>

<ng-template #step4>
    <div class="c-dialog-recovery">
        <mat-dialog-content class="d-flex flex-column justify-content-between">
            <h4 class="mb-3 u-textBold u-textColor"> {{'recoverPassword.errorTitle' | translate}}</h4>
            <img class="mb-5" src="../../../../assets/images/error.svg" alt="">
            <p class="text-center mb-5" class="u-dangerColor mb-3" >{{errorMessage | errorMessageTranslate}}</p>
        </mat-dialog-content>
        <mat-dialog-actions class="mt-auto">
            <button mat-button mat-dialog-close class="u-link text-center m-0 w-100 mt-2">
                {{'recoverPassword.closeWindowsButton' | translate}}
            </button>
        </mat-dialog-actions>
    </div>
</ng-template>