.l-page {
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        flex-wrap: wrap;
        gap: 2rem;
        @include respond(450) {
           gap: 1rem;
           padding: 1rem;
        }
    }
    &__icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #D9FFE6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        & span::before {
            color: var(--primary-color);
        }
    }
    &__title {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        font-size: 20px;
        font-family: 'helveticabold';
        color: #435B6C;
        flex: 1;
    }
    &__controls {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        @include respond(450) {
            width: 100%;
        }
        & button {
            @include respond(450) {
                width: 100%;
            }
        }
    }
    &__info{
        display: flex;
        margin-top: 2rem;

        & > div{
            font-size: 12px;
            padding-right: 1.5rem;
            margin-right: 1.5rem;
            color: var(--text-color);

            &:not(:last-child){
                border-right: 1px solid var(--border-color);
            }
        }
    }
}