<div class=" c-dialog-header c-dialog-history">
    <div class="c-dialog-header__header">
        <div class="align-items-center d-flex u-gap-1">
            <span class="icon-clock u-icon-white"></span>
            <div>
                <div>Historial de pagos </div>
                <div class="u-smallSize u-fontRegular">Expediente NB001 - Caso divorcio</div>
            </div>
            
        </div>
    </div>
    <mat-dialog-content class="pr-5 pl-5 pt-0">
        
        <div class="c-payment-history">
            <div class="c-payment-history__item">
                <img src="../../../../assets/images/history-income.svg" alt="" class="mr-2">
                <div class="d-flex flex-wrap u-gap-1 align-items-center justify-content-between flex-1">
                    <div class="u-smallSize u-textLightColor">
                        <div>01/16/2022</div>
                        <div class="u-textColor mt-1 mb-1">Pago recibido</div>
                        <div>USD 100 </div>
                    </div>
                    <mat-button-toggle-group class="c-btn-table">
                        <mat-button-toggle>Enviar</mat-button-toggle>
                        <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                            <span class="icon-arrow-down"></span>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-menu #dropdownMenuOne="matMenu" class="c-table__matMenu">
                        <button mat-menu-item class="matMenu-yellow">Editar<span class="icon-pen"></span></button>
                        <button mat-menu-item class="matMenu-red">Eliminar <span class="icon-trash"></span></button>
                        <button mat-menu-item class="matMenu-blue">Aplicar pago<span class="icon-payment"></span></button>
                        <button mat-menu-item class="matMenu-green">Ver factura<span class="icon-invoice"></span></button>
                        <button mat-menu-item class="matMenu-blue">Enviar recibo<span class="icon-receipt"></span></button>
                    </mat-menu>
                </div>
            </div>
            <div class="c-payment-history__item">
                <img src="../../../../assets/images/history-income.svg" alt="" class="mr-2">
                <div class="d-flex flex-wrap u-gap-1 align-items-center justify-content-between flex-1">
                    <div class="u-smallSize u-textLightColor">
                        <div>01/16/2022</div>
                        <div class="u-textColor mt-1 mb-1">Pago recibido</div>
                        <div>USD 100 </div>
                    </div>
                    <mat-button-toggle-group class="c-btn-table">
                        <mat-button-toggle>Enviar</mat-button-toggle>
                        <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                            <span class="icon-arrow-down"></span>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-menu #dropdownMenuOne="matMenu" class="c-table__matMenu">
                        <button mat-menu-item class="matMenu-yellow">Editar<span class="icon-pen"></span></button>
                        <button mat-menu-item class="matMenu-red">Eliminar <span class="icon-trash"></span></button>
                        <button mat-menu-item class="matMenu-blue">Aplicar pago<span class="icon-payment"></span></button>
                        <button mat-menu-item class="matMenu-green">Ver factura<span class="icon-invoice"></span></button>
                        <button mat-menu-item class="matMenu-blue">Enviar recibo<span class="icon-receipt"></span></button>
                    </mat-menu>
                </div>
            </div>
            <div class="c-payment-history__item">
                <img src="../../../../assets/images/history-income.svg" alt="" class="mr-2">
                <div class="d-flex flex-wrap u-gap-1 align-items-center justify-content-between flex-1">
                    <div class="u-smallSize u-textLightColor">
                        <div>01/16/2022</div>
                        <div class="u-textColor mt-1 mb-1">Pago recibido</div>
                        <div>USD 100 </div>
                    </div>
                    <mat-button-toggle-group class="c-btn-table">
                        <mat-button-toggle>Enviar</mat-button-toggle>
                        <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                            <span class="icon-arrow-down"></span>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-menu #dropdownMenuOne="matMenu" class="c-table__matMenu">
                        <button mat-menu-item class="matMenu-yellow">Editar<span class="icon-pen"></span></button>
                        <button mat-menu-item class="matMenu-red">Eliminar <span class="icon-trash"></span></button>
                        <button mat-menu-item class="matMenu-blue">Aplicar pago<span class="icon-payment"></span></button>
                        <button mat-menu-item class="matMenu-green">Ver factura<span class="icon-invoice"></span></button>
                        <button mat-menu-item class="matMenu-blue">Enviar recibo<span class="icon-receipt"></span></button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <div class="d-flex mt-5">
            <div class="u-textColor mr-4">
                <div class="u-smallSize mb-1">Pendiente de pago</div>
                <div class="u-bigSize2 align-items-center d-flex u-primaryColor"><span class="icon-income mr-2 u-normalSize"></span>300 USD</div>
            </div>
            <div class="u-textColor">
                <div class="u-smallSize mb-1">Abonado</div>
                <div class="u-bigSize2 align-items-center d-flex u-dangerColor"><span class="icon-outcome mr-2 u-normalSize"></span>200 USD</div>
            </div>
        </div>
    </mat-dialog-content>
</div>