/* //////////////////* /
/*     RESET         */

/* ///////////////// */

mat-dialog-container {
  border-radius: 25px !important;
  box-shadow: 0px 3px 56px rgb(0 0 0 / 16%) !important;
}

/* ///////////////// */

.c-dialog-recovery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3rem 2rem 3rem;
  width: 36rem;
  height: 44rem;
  & .mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
  }
}

/* ///////////////// */

.c-dialog-header {
  &__header {
    position: relative;
    top: -24px;
    left: -24px;
    width: calc(100% + 48px);
    background: #389856;
    color: white;
    font-size: 17px;
    font-family: "helveticabold";
    padding: 2rem 3rem;
  }
  &__footer {
    margin-top: auto;
    padding: 2rem !important;
    display: flex !important;
    justify-content: flex-end;
    gap: 1rem;
    @include respond(450) {
      flex-direction: column;
      padding: 0 !important;
      padding-bottom: 2rem !important;
      margin-top: 2rem;
    }
    & button {
      @include respond(450) {
        margin: 0 !important;
        width: 100% !important;
      }
    }
  }
}

/* ///////////////// */

.c-dialog-newTask {
  max-width: 53rem;
}

.c-dialog-paymentGateway {
  max-width: 70rem;
}


.c-dialog-newDocument {
  max-width: 70rem;
}

.c-dialog-paymentRegister {
  max-width: 45rem;
}
.c-dialog-history {
  min-width: 45rem;
  @include respond(900) {
    min-width: initial;
  }
}
.c-dialog-chargedHours {
  width: 57rem;
  @include respond(900) {
    width: initial;
  }
}

.c-dialog-addHours {
  width: 50rem;
  @include respond(600) {
    width: initial;
  }
}

.c-dialog-options {
  max-width: 43rem;

  &__item {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: var(--text-color);
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background: #f7f7f7;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    background: #efefef;
    border-radius: 2rem;
    font-size: 3rem;

    & span::before {
      color: #8594a0;
    }
  }
  &__title {
    font-size: var(--normal-size);
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: var(--small-size);
  }
}

.c-dialog-list {
  min-height: 55vh;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  @include respond(600) {
    min-width: 33rem;
  }
  @include respond(450) {
    min-width: initial;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0;
    width: 100%;
    flex: 1;
    padding-right: 1rem;
    max-height: 50rem;
    overflow: auto;

    & button {
      height: 35px !important;
    }
  }
  &__blank {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__icon {
      font-size: 6rem;
      & span::before {
        color: #efefef;
      }
    }
    &__text {
      font-size: var(--small-size);
      margin-top: 1rem;
      color: var(--text-color-light);
    }
  }

  & .mat-dialog-content {
    overflow: hidden;
    display: flex;
  }
}

.c-dialog-intake {
  & mat-dialog-container {
    max-width: 52rem;
    height: 51rem;
    border-radius: 25px;
    background: linear-gradient(#435b6c 0%, #222f38 100%);
    display: flex;
    padding: 5rem 3rem 3rem 3rem;
  }
  & app-dialog-intake {
    flex: 1;
  }
  &__header {
    text-align: center;
    color: white;
    width: 90%;
  }
  &__body {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
  }
  &__footer {
    display: flex;
    width: 100%;
    gap: 2rem;
  }
  &__title {
    font-size: var(--big-size);
    font-weight: 600;
    margin-bottom: 1.6rem;
    font-family: "helveticabold";
  }
  &__text {
    font-size: 14px;
  }
}
.c-dialog-sendInvoice{
  max-width: 35rem;
}
.cdk-overlay-pane {
  @include respond(450) {
    max-width: 95vw !important;
  }
}
