.c-register {
    background: #F4F4F4;
    padding: 4.5rem 6.5rem;
    border-radius: 25px;
    max-width: 74rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-bottom: 2rem;
    @include respond(450){
        padding: 3.5rem 2.5rem;
        gap: 1rem;
    }
    &__left {
        flex: 1;
    }
    &__right {
        flex: 1;
        margin-top: 2rem;
    }
    &__footer {
        width: 100%;
        @include respond(450){
            text-align: center;
            margin-top: 2rem;
        }
    }
    &__title {
        font-size: 25px;
        color: var(--text-color);
        font-weight: bold;
        margin-bottom: 3rem;
        @include respond(450){
            font-size: 18px;
            margin-bottom: 2rem;
        }
    }
    &--client{
        max-width: 530px;
        padding: 4.5rem 10rem;
        gap: 0;
        @include respond(450){
            padding: 3.5rem 3rem;
            margin: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0
        }
    }
    &__header{
        text-align: center;
        font-size: 16px;
        margin-bottom: 3rem;
        padding: 0rem 1rem;
    }
    &__profileImage{
        width: 75px;
        height: 75px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 2rem;

        & img{
            object-fit: cover;
            border-radius: 9px;
            width: 100%;
            height: 100%;
        }
        & .icon-check{
            position: absolute;
            bottom: -1rem;
            right: -1rem;
            font-size: 20px;
        }
    }
}