.c-uploadPicture {
    display: flex;
    align-items: center;
    &__img {
        width: 13rem;
        height: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed #0D6AFF;
        border-radius: 2.5rem;
        cursor: pointer;
        transition: all .2s;
        position: relative;
        &:hover {
            background-color: #ECF3FF;
        }

    }
    &__picture {
        width: 104% !important;
        height: 103%;
        top: -1px !important;
        bottom: -1px;
        left: -2px !important;
        right: 1px;
        position: absolute !important;
        border-radius: 2rem;
        object-fit: cover;
    }
    &__controls {
        margin-left: 2rem;
    }
    &__text {
        font-size: var(--small-size);
    }
}
