.c-variableList {
    padding: 4rem;
    border: 1px solid #B6B9BC;
    border-radius: 1.5rem;
    @include respond(450) {
        padding: 0rem;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        flex-wrap: wrap;
        gap: 1rem;
        @include respond(450) {
            padding: 2rem;
            margin-bottom: 0rem;
            padding-bottom: 1rem;
        }
    }
    & .c-form-group--search {
        @include respond(450) {
            width: 100%;
        }
    }
    &__body {
        table {
            width: 100%;
            font-size: 13px;
            color: #435B6C;
            border-collapse: collapse;
        }
        thead {
            height: 5rem;
            border-bottom: 1px solid #E7E6E6;
            display: table;
            width: 100%;
            table-layout: fixed;
            th:last-child {
                text-align: center;
            }
            th:first-child {
                padding-left: 2rem;
            }
        }
        th {
            text-align: left;
            min-width: 15rem;
        }
        tbody {
            display: block;
            height: 25rem;
            overflow: auto;
            & tr {
                height: 5rem;
                transition: all .2s;
                display: table;
                width: 100%;
                table-layout: fixed;
                &:hover {
                    background-color: #435b6c0f;
                }
            }
        }
        td:last-child {
            text-align: center;
        }
        td:first-child {
            padding-left: 2rem;
        }
    }
}