<div class="l-create">
    <div class="l-create__header">
        <app-header></app-header>
    </div>
    <div class="l-create__body">
        <div class="l-create__btnBack">
            <button mat-button class="u-smallSize" [routerLink]="'..'"> <span class="icon-arrow-back mr-2"></span>Volver atras</button>
        </div>
        <div class="c-create">
            <div class="c-create__header">
                <div class="row w-100">
                    <div class="col-sm-12 mb-5">
                        <div class="c-create__title">Crear nuevo colaborador</div>
                        <div class="c-create__subtitle">¿Qué función o rol desempeña? <span class="u-dangerColor">*</span></div>
                        <div class="c-create__text">Selecciona una de las opciones</div>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select mb-0">
                            <mat-label>Abogado</mat-label>
                            <mat-select>
                                <mat-option>
                                    Option 1
                                </mat-option>
                                <mat-option>
                                    Option 2
                                </mat-option>
                                <mat-option>
                                    Option 3
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6 align-items-center d-flex">
                        <button mat-button class="u-link" (click)="openDialogNewRole()">Añadir nuevo rol ó función</button>
                    </div>
                </div>
            </div>
            <hr class="u-divider--marginBig">
            <div class="c-create__body">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="u-title-label">Nombre del colaborador<span class="u-dangerColor">*</span></label>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Nombre </mat-label>
                            <input class="c-form-group__input" matInput placeholder="Nombre">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Apellido</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Apellido">
                        </mat-form-field>
                        <label class="u-title-label">Pais de origen<span class="u-dangerColor">*</span></label>
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                            <mat-label>Seleccionar país </mat-label>
                            <mat-select>
                                <mat-option>
                                    Option 1
                                </mat-option>
                                <mat-option>
                                    Option 2
                                </mat-option>
                                <mat-option>
                                    Option 3
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <label class="u-title-label">Foto o logo</label>
                        <div class="c-uploadPicture">
                            <div class="c-uploadPicture__img">
                                <img src="../../../../assets/images/upload-camera.svg" alt="">
                                <img src="../../../../assets/images/user.jpg" alt="" class="c-uploadPicture__picture d-none">
                            </div>
                            <div class="c-uploadPicture__controls">
                                <div class="c-uploadPicture__text">
                                    Nota: <br> Subir imagen máximo 2MB
                                </div>
                                <div class="u-link mt-1">Eliminar</div>
                            </div>
                        </div>
                    </div>
                </div>



                <hr class="u-divider--marginBig">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="u-title-label mb-0">Licencia de abogado ó profesional</label>
                        
                        <p class="u-textLightColor u-smallSize mb-2">(Número ó código alfanumérico)</p>

                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Licencia</mat-label>
                            <input class="c-form-group__input" matInput placeholder="No. de licencia Ej: A34BB8">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <label class="u-title-label mt-4">¿Qué gobierno emitió esta licencia?</label>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Nombre</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Estado ó provincia ">
                        </mat-form-field>
                        
                    </div>
                    <div class="col-sm-12">
                        <button mat-button class="c-btn-add">+ Añadir nueva licencia</button>
                    </div>
                </div>







                <hr class="u-divider--marginBig">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="u-title-label">Contacto <span class="u-dangerColor">*</span></label>
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                            <mat-label>Núm. Teléfono celular</mat-label>
                            <mat-select>
                                <mat-option>
                                    Option 1
                                </mat-option>
                                <mat-option>
                                    Option 2
                                </mat-option>
                                <mat-option>
                                    Option 3
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Num. de Teléfono </mat-label>
                            <input class="c-form-group__input" matInput>
                        </mat-form-field>
                        <button mat-button class="c-btn-add">+ Añadir otro teléfono</button>
                    </div>
                    <div class="col-sm-6">
                        <label class="u-title-label">Email <span class="u-dangerColor">*</span></label>
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                            <mat-label>Personal</mat-label>
                            <mat-select>
                                <mat-option>
                                    Option 1
                                </mat-option>
                                <mat-option>
                                    Option 1
                                </mat-option>
                                <mat-option>
                                    Option 1
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Correo electrónico</mat-label>
                            <input class="c-form-group__input" matInput>
                        </mat-form-field>
                        <button mat-button class="c-btn-add">+ Añadir otro teléfono</button>
                    </div>
                </div>
                <hr class="u-divider--marginBig">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="u-title-label">Dirección Física</label>
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                            <mat-label>Seleccionar país </mat-label>
                            <mat-select>
                                <mat-option>
                                    Option 1
                                </mat-option>
                                <mat-option>
                                    Option 2
                                </mat-option>
                                <mat-option>
                                    Option 3
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Ciudad</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Ej: Miami, Florida">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Dirección</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Calle, número, Apart.">
                        </mat-form-field>
                        <div class="col-sm-5 p-0">
                            <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>Código Postal</mat-label>
                                <input class="c-form-group__input" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <mat-checkbox class="c-checkbox mt-1 mb-4">
                                Dirección Física y Postal comparten la misma información
                            </mat-checkbox>
                        </div>
                        
                    </div>
                    <div class="col-sm-6">
                        <label class="u-title-label">Dirección postal</label>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Ciudad</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Ej: Miami, Florida">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Dirección</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Calle, número, Apart.">
                        </mat-form-field>
                        <div class="col-sm-5 p-0">
                            <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>Código Postal</mat-label>
                                <input class="c-form-group__input" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-1">
                        <button mat-button class="c-btn-add">+ Añadir nuevo domicilio</button>
                    </div>
                </div>


                <hr class="u-divider--marginBig">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="u-title-label mb-4">Configuración rated facturación  <span class="u-dangerColor">*</span></label>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>Monto</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Ej: 25 USD">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <label class="u-title-label mb-4">Dirección postal <span class="u-dangerColor">*</span></label>
                        <div class="d-flex flex-column">
                            <mat-checkbox class="c-checkbox mb-2">
                                Añadir Honorarios por hora
                            </mat-checkbox>
                            <mat-checkbox class="c-checkbox mb-2">
                                Precio único
                            </mat-checkbox>
                            <mat-checkbox class="c-checkbox mb-2">
                                Por Incremento de tiempo
                            </mat-checkbox>
                            <mat-checkbox class="c-checkbox mb-2">
                                Monto fijo ( Flat fee)
                            </mat-checkbox>
                            <mat-checkbox class="c-checkbox mb-2">
                                No facturable
                            </mat-checkbox>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-ribbon">
        <div class="c-ribbon__text">“Recuerda completar los datos requeridos"</div>
        <div class="c-ribbon__actions">
            <button mat-button class="c-btn-function">Guardar cliente </button>
            <button mat-button class="c-btn-function">Guardar y crear otro</button>
        </div>

    </div>
</div>