<div class="l-create">
    <div class="l-create__header">
        <app-header></app-header>
    </div>
   <form [formGroup]="collaboratorForm" (ngSubmit)="submitForm()" #form="ngForm">
      <div class="l-create__body">
        <div class="l-create__btnBack">
            <button type="button" mat-button class="u-smallSize" [routerLink]="'/users'"> <span class="icon-arrow-back mr-2"></span>{{'collaborator.profile.goBack' | translate }}</button>
        </div>
        <div class="c-create">
            <div class="c-create__header">
                <div class="row w-100">
                    <div class="col-sm-12 mb-5">
                        <div class="c-create__title" *ngIf="!securityUser">{{'collaborator.form_create.create_new_collaborator' | translate }}</div>
                        <div class="c-create__title" *ngIf="securityUser">{{'collaborator.form_create.edit_collaborator' | translate }}</div>

                        <div class="c-create__subtitle">¿Qué función o rol desempeña? <span class="u-dangerColor">*</span></div>
                        <div class="c-create__text">{{'collaborator.form_create.choose_option' | translate }}</div>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select mb-0" >
                            <mat-label>Seleccionar Grupo</mat-label>
                            <mat-select formControlName="group">
                                <mat-option *ngFor="let group of securityGroups" [value]="group.group">
                                    {{group.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br><br>
                        <mat-error *ngIf="collaboratorForm.controls['group'].status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                    </div>

                    <!-- <div class="col-sm-6 align-items-center d-flex">
                        <button type="button" mat-button class="u-link" (click)="openDialogNewRole()">Añadir nuevo rol ó función</button>
                    </div> -->
                </div>
            </div>
            <hr class="u-divider--marginBig">
            <div class="c-create__body">
                <div class="row">
                    <div class="col-sm-6">

                      <label class="u-title-label">{{'collaborator.form_create.name_of_the_collaborator' | translate }}<span class="u-dangerColor">*</span></label>
                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'collaborator.form_create.firstname' | translate }} </mat-label>
                            <input class="c-form-group__input" matInput placeholder="Nombre" formControlName="first_name">
                        </mat-form-field>
                        <mat-error *ngIf="collaboratorForm.controls['first_name'].status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                        <mat-form-field appearance="fill" class="c-form-group">
                            <mat-label>{{'collaborator.form_create.lastname' | translate }}</mat-label>
                            <input class="c-form-group__input" matInput placeholder="Apellido" formControlName="last_name">
                        </mat-form-field>
                        <mat-error *ngIf="collaboratorForm.controls['last_name'].status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                        <label class="u-title-label">{{'collaborator.form_create.origin_country' | translate}}<span class="u-dangerColor">*</span></label>
                        <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                            <mat-label>{{'collaborator.form_create.choose_country' | translate }} </mat-label>
                            <mat-select formControlName="origin_country">
                                <mat-option *ngFor="let country of countries" [value]="country.uuid">
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="collaboratorForm.controls['origin_country'].status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                    </div>
                    <div class="col-sm-6">
                        <app-upload-image [imgUrl]="image_url || ''" (imgUpload)="setLogoFile($event)"></app-upload-image>
                    </div>
                </div>

                <hr class="u-divider--marginBig">


                <div class="row">
                  <div class="col-sm-6">
                      <label class="u-title-label mt-4">Correo electrónico para tu usuario</label>


                      <mat-form-field appearance="fill" class="c-form-group" >
                          <mat-label>Correo electrónico</mat-label>
                          <input class="c-form-group__input" matInput placeholder="Ej: tucorreo@gmail.com" formControlName="email">

                      </mat-form-field>

                  </div>

                </div>

                <hr class="u-divider--marginBig">

                <div formArrayName="licenses">
                  <div *ngFor="let license of returnFormArray('licenses'); let i = index" [formGroupName]="i">
                    <br>
                    <div class="row">
                      <div class="col-sm-6">
                          <label class="u-title-label mb-0">Licencia de abogado ó profesional</label>

                          <p class="u-textLightColor u-smallSize mb-2">(Número ó código alfanumérico)</p>

                          <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>{{'collaborator.profile.license' | translate }}</mat-label>
                              <input class="c-form-group__input" matInput placeholder="No. de licencia Ej: A34BB8" formControlName="license_no">
                              <div class="c-form-group__action" (click)="removeItemFormArray('licenses',i)">
                                <button type="button" mat-button type='button'><span class="icon-times"></span></button>
                              </div>
                          </mat-form-field>
                          <mat-error *ngIf="returnFormArrayFields('licenses','license_no',i)?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                      </div>
                      <div class="col-sm-6">
                          <label class="u-title-label mt-4">¿Qué gobierno emitió esta licencia?</label>
                          <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>{{'collaborator.form_create.name' | translate }}</mat-label>
                              <input class="c-form-group__input" matInput placeholder="Estado ó provincia " formControlName="license_country_state">
                          </mat-form-field>
                          <mat-error *ngIf="returnFormArrayFields('licenses','license_country_state',i)?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                      </div>
                      <div class="col-sm-12">
                          <button type="button" mat-button class="c-btn-add" (click)="addLicenseItem('licenses',license.value)">+ {{'collaborator.form_create.add_new_license' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </div>


                <hr class="u-divider--marginBig">
                <div class="row" formArrayName="contacts">
                    <div class="col-sm-6">
                       <div *ngFor="let contactPhone of filterFormArray('contacts','type',typeContact.phone_number); let i = index" [formGroupName]="returnIndexFormArrayContact(contactPhone.value)">
                        <br>
                            <label class="u-title-label">Contacto <span class="u-dangerColor">*</span></label>
                            <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                                <mat-label>{{'collaborator.form_create.cellphone_number' | translate}}</mat-label>
                                <mat-select formControlName="sub_type">
                                  <mat-option [value]="subtypeContact.cellphone_number">
                                    {{'clients.form_create.cellphone_number' | translate}}
                                  </mat-option>
                                  <mat-option [value]="subtypeContact.currentphone_number">
                                    {{'clients.form_create.landline_number' | translate}}
                                  </mat-option>
                                  <mat-option [value]="subtypeContact.phoneoffice_number">
                                    {{'clients.form_create.phone_office_number' | translate}}
                                  </mat-option>
                                </mat-select>
                                <div class="c-form-group__action" (click)="deleteContact(contactPhone.value)">
                                  <button type="button" mat-button type='button'><span class="icon-times"></span></button>
                                </div>
                            </mat-form-field>
                            <!-- <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>{{'clients.form_create.cellphone_number' | translate}} </mat-label>
                                <input class="c-form-group__input" matInput>
                            </mat-form-field> -->
                            <ngx-intl-tel-input (numberChange)="setPhoneField(contactPhone.value,$event)" [value]="contactPhone.value.contact_value" ></ngx-intl-tel-input>
                            <mat-error *ngIf="returnFormArrayFields('contacts','contact_value',0,contactPhone.value)?.value === '' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>


                            <button type="button" mat-button class="c-btn-add" (click)="addContactItem('contacts',contactPhone.value)">+ {{'collaborator.form_create.add_another_telephone_number' | translate}}</button>
                       </div>

                    </div>
                    <div class="col-sm-6">
                      <div  *ngFor="let contactEmail of filterFormArray('contacts','type',typeContact.email); let i = index" [formGroupName]="returnIndexFormArrayContact(contactEmail.value)">
                        <br>
                        <label class="u-title-label">{{'collaborator.form_create.email' | translate}} <span class="u-dangerColor">*</span></label>
                          <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                              <mat-label>{{'collaborator.form_create.personal_email' | translate}}</mat-label>
                              <mat-select formControlName="sub_type">
                                <mat-option [value]="subtypeContact.personal_email">
                                  {{'clients.form_create.personal_email' | translate}}
                                </mat-option>
                                <mat-option [value]="subtypeContact.business_email">
                                  {{'clients.form_create.business_email' | translate}}
                                </mat-option>
                              </mat-select>
                              <div class="c-form-group__action" (click)="deleteContact(contactEmail.value)">
                                <button type="button" mat-button type='button'><span class="icon-times"></span></button>
                              </div>
                          </mat-form-field>
                          <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>{{'collaborator.form_create.email' | translate}}</mat-label>
                              <input formControlName="contact_value" class="c-form-group__input" matInput>
                          </mat-form-field>
                          <mat-error *ngIf="returnFormArrayFields('contacts','contact_value',0,contactEmail.value)?.value === '' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                          <button type="button" mat-button class="c-btn-add" (click)="addContactItem('contacts',contactEmail.value)">+ {{'collaborator.form_create.add_another_email' | translate}}</button>
                        </div>
                    </div>
                </div>
                <hr class="u-divider--marginBig">
                <div formArrayName="addresses">
                  <div *ngFor="let address of returnFormArray('addresses'); let i = index" [formGroupName]="i">
                    <br>
                    <div class="row">
                      <div class="col-sm-6">

                          <label class="u-title-label">{{'collaborator.form_create.physical_address' | translate}}</label>
                          <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                              <mat-label>{{'collaborator.form_create.choose_country' | translate}} </mat-label>
                              <mat-select formControlName="physical_country">
                                  <mat-option *ngFor="let country of countries" [value]="country.uuid">
                                      {{country.name}}
                                  </mat-option>
                              </mat-select>
                              <div class="c-form-group__action" (click)="removeItemFormArray('addresses',i)">
                                <button type="button" mat-button type='button'><span class="icon-times"></span></button>
                              </div>
                          </mat-form-field>
                          <mat-error *ngIf="returnFormArrayFields('addresses','physical_country',i)?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>


                          <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>{{'collaborator.form_create.city' | translate}}</mat-label>
                              <input class="c-form-group__input" matInput placeholder="Ej: Miami, Florida" formControlName="physical_city">
                          </mat-form-field>
                          <mat-error *ngIf="returnFormArrayFields('addresses','physical_city',i)?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                          <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>{{'collaborator.form_create.address' | translate}}</mat-label>
                              <input class="c-form-group__input" matInput placeholder="Calle, número, Apart." formControlName="physical_address">
                          </mat-form-field>
                          <mat-error *ngIf="returnFormArrayFields('addresses','physical_address',i)?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                          <div class="col-sm-5 p-0">

                              <mat-form-field appearance="fill" class="c-form-group">
                                  <mat-label>{{'collaborator.form_create.postal_code' | translate}}</mat-label>
                                  <input class="c-form-group__input" matInput formControlName="physical_postal_code">
                              </mat-form-field>
                              <mat-error *ngIf="returnFormArrayFields('addresses','physical_postal_code',i)?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                          </div>
                          <div class="col-sm-12">
                              <mat-checkbox class="c-checkbox mt-1 mb-4" (change)="changeValueCheckboxAddress($event,i)">
                                {{'collaborator.form_create.physical_postal_address_share_info' | translate}}
                              </mat-checkbox>
                          </div>

                      </div>
                      <div class="col-sm-6">

                          <label class="u-title-label">{{'collaborator.form_create.mailing_address' | translate}}</label>
                          <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>{{'collaborator.form_create.city' | translate}}</mat-label>
                              <input class="c-form-group__input" matInput placeholder="Ej: Miami, Florida" formControlName="postal_city">
                          </mat-form-field>
                          <mat-error *ngIf="returnFormArrayFields('addresses','postal_city',i)?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                          <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>{{'collaborator.form_create.address' | translate}}</mat-label>
                              <input class="c-form-group__input" matInput placeholder="Calle, número, Apart." formControlName="postal_address">
                          </mat-form-field>
                          <mat-error *ngIf="returnFormArrayFields('addresses','postal_address',i)?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                          <div class="col-sm-5 p-0">
                              <mat-form-field appearance="fill" class="c-form-group">
                                  <mat-label>{{'collaborator.form_create.postal_code' | translate}}</mat-label>
                                  <input class="c-form-group__input" matInput formControlName="postal_postal_code">
                              </mat-form-field>
                          </div>
                          <mat-error *ngIf="returnFormArrayFields('addresses','postal_postal_code',i)?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                      </div>

                      <div class="col-sm-12 mt-1">
                          <button type="button" mat-button class="c-btn-add" (click)="addAddressItem('addresses',address.value)">+ {{'collaborator.form_create.add_another_address' | translate}}</button>
                      </div>
                  </div>
                  </div>
                </div>


                <hr class="u-divider--marginBig">
                <app-setting-rated-invoice-collaborator></app-setting-rated-invoice-collaborator>
            </div>
        </div>
    </div>
    <div class="c-ribbon">
        <div class="c-ribbon__text">“Recuerda completar los datos requeridos"</div>
        <div class="c-ribbon__actions">
            <button mat-button class="c-btn-function">Guardar Usuario </button>
            <button mat-button class="c-btn-function">Guardar y crear otro</button>
        </div>

    </div>
   </form>
</div>
