<div class=" c-dialog-header">
    <div class="c-dialog-header__header">
      {{'settings.permissions.add_group' | translate}}
    </div>
   <form action="" [formGroup]="groupForm" (submit)="submitForm()">
    <mat-dialog-content class="pr-5 pl-5 pb-5 pt-0">
      <div class="row">
          <div class="col-sm-6">
              <label class="u-title-label">{{'settings.permissions.group_name' | translate}}<span class="u-dangerColor">*</span></label>
              <mat-form-field appearance="fill" class="c-form-group  c-form-group--small">
                  <mat-label>{{'settings.permissions.name' | translate}}</mat-label>
                  <input class="c-form-group__input" matInput placeholder="Nombre grupo  Ej: Equipo de ventas" formControlName="name">
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <hr class="u-divider">
              <div class="l-configuration__title">{{'settings.permissions.permissions_for_this_group' | translate}}</div>
              <hr class="u-divider mb-0">
              <div class="u-table-responsive" formArrayName="modules_access">
                  <table class="c-table-roles">
                      <tr>
                          <th><span class="icon-bell u-icon-yellow mr-2"></span>{{'settings.permissions.access_to_menu_and_permissions' | translate}} </th>
                          <th>{{'settings.permissions.administrator' | translate}}</th>
                          <th>{{'settings.permissions.editor' | translate}}</th>
                          <th>{{'settings.permissions.read_only' | translate}}</th>
                      </tr>

                       <tr *ngFor="let module of returnFormArray('modules_access'); let i = index" [formGroupName]="i">
                          <td>

                              <mat-checkbox class="c-checkbox mb-2 u-textColor" formControlName="active" (click)="checkUnCheckModuleAccess(!module.value.active,i)">
                                {{'settings.permissions.access_to' | translate}} <b>{{returnModuleDescription(module.value.module) || '' | translate}}</b>
                              </mat-checkbox>
                          </td>
                          <td>
                            <mat-radio-group formControlName="type">
                              <mat-radio-button [value]="typeAccess.ADMINISTRATOR"
                                                (change)="setTypeModuleAccess($event,i)"
                                                name="escalationTeam"
                                                class="c-radioButton"
                                                [disabled]="!module.value.active">
                              </mat-radio-button>
                            </mat-radio-group>
                          </td>
                          <td>
                            <mat-radio-group formControlName="type">
                              <mat-radio-button [value]="typeAccess.WRITE"
                                                (change)="setTypeModuleAccess($event,i)"
                                                name="escalationTeam"
                                                class="c-radioButton"
                                                [disabled]="!module.value.active">
                              </mat-radio-button>
                            </mat-radio-group>
                          </td>
                          <td>
                            <mat-radio-group formControlName="type">
                              <mat-radio-button [value]="typeAccess.READ"
                                                (change)="setTypeModuleAccess($event,i)"
                                                name="escalationTeam"
                                                class="c-radioButton"
                                                [disabled]="!module.value.active">
                              </mat-radio-button>
                            </mat-radio-group>
                          </td>

                        </tr>

                        <tr>
                          <td>

                              <mat-checkbox class="c-checkbox mb-2 u-textColor"
                                            [(ngModel)]="allSections"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="checkUnCheckAllSections($event)">
                                {{'settings.permissions.access_to' | translate}} <b>All Sections</b>
                              </mat-checkbox>
                          </td>
                          <td>
                            <mat-radio-group [(ngModel)]="allSectionsType" [ngModelOptions]="{standalone: true}">
                              <mat-radio-button [value]="typeAccess.ADMINISTRATOR"
                                                name="escalationTeam"
                                                class="c-radioButton"
                                                [disabled]="allSections ? false : true"
                                                (change)="setTypeAccessAllModule($event)"
                                                >
                              </mat-radio-button>
                            </mat-radio-group>
                          </td>
                          <td>
                            <mat-radio-group [(ngModel)]="allSectionsType" [ngModelOptions]="{standalone: true}">
                              <mat-radio-button [value]="typeAccess.WRITE"
                                                name="escalationTeam"
                                                class="c-radioButton"
                                                [disabled]="allSections ? false : true"
                                                (change)="setTypeAccessAllModule($event)">
                              </mat-radio-button>
                            </mat-radio-group>
                          </td>
                          <td>
                            <mat-radio-group [(ngModel)]="allSectionsType" [ngModelOptions]="{standalone: true}">
                              <mat-radio-button [value]="typeAccess.READ"
                                                name="escalationTeam"
                                                class="c-radioButton"
                                                [disabled]="allSections ? false : true"
                                                (change)="setTypeAccessAllModule($event)">
                              </mat-radio-button>
                            </mat-radio-group>
                          </td>

                        </tr>

                  </table>

              </div>
          </div>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions class="mt-auto">
        <button mat-button class="c-btn c-btn--primary w-100 u-smallSize">{{'settings.permissions.save_group' | translate}}</button>
        <button type="button" mat-button mat-dialog-close class="u-link text-center m-0 w-100 mt-2 p-0">{{'settings.permissions.close_window' | translate}}</button>
    </mat-dialog-actions>
   </form>
</div>
