.btn-Disabled{
  background-color: #DDDDDD;
  color: #8594A0;
  border-left-color: #8594A0 !important;
  border-right-color: #8594A0 !important;
  border-top-color: #8594A0 !important;
  border-bottom-color: #8594A0 !important;
}
