<div class="c-tabs-actions">

    <mat-tab-group class="c-tabs c-tabs--green c-tabs--sub">

        <mat-tab>

            <ng-template mat-tab-label>
                {{'clients.files.tabs.all' | translate}}
            </ng-template>

            <app-expedient-table *ngIf="caseFiles" [caseFiles]="caseFiles"
                                 [module]="module.CUSTOMERS"
                                 [customer]="customer"
                                 (onExecuteExpedient)="getCaseFilesByCustomer()"></app-expedient-table>

        </mat-tab>

        <mat-tab>

            <ng-template mat-tab-label>
                {{'clients.files.tabs.open' | translate}}
            </ng-template>

            <app-expedient-table *ngIf="caseFiles"
                                 [caseFiles]="caseFiles"
                                 [module]="module.CUSTOMERS"
                                 [customer]="customer"
                                 (onExecuteExpedient)="getCaseFilesByCustomer()"></app-expedient-table>

        </mat-tab>

        <mat-tab>

            <ng-template mat-tab-label>
                {{'clients.files.tabs.closed' | translate}}
            </ng-template>

            <app-expedient-table *ngIf="caseFiles"
                                 [caseFiles]="caseFiles"
                                 [module]="module.CUSTOMERS"
                                 [customer]="customer"
                                 (onExecuteExpedient)="getCaseFilesByCustomer()"></app-expedient-table>

        </mat-tab>
    </mat-tab-group>

</div>
