<div class="c-menu">
    <div class="c-menu__title">Dashboard </div>

    <button mat-button class="c-menu__item" [routerLink]="'dashboard'" routerLinkActive="is-active">
        {{'menu.activity_summary' | translate}}
        <span class="icon-dashboard c-menu__icon"></span>
    </button>
    <div class="c-menu__title mt-5">{{'menu.title' | translate}}</div>

    <button
       mat-button class="c-menu__item"
       [routerLink]="'/customers'" routerLinkActive="is-active"
       *ngxPermissionsOnly="['add_customer', 'view_customer', 'change_customer', 'delete_customer']">
          {{'menu.clients' | translate}}

        <span class="icon-user c-menu__icon"></span>
    </button>
    <button mat-button class="c-menu__item"  [routerLink]="'users'" routerLinkActive="is-active">
        {{'menu.users' | translate}}
        <span class="icon-businessman c-menu__icon"></span>
    </button>
    <button mat-button class="c-menu__item" [routerLink]="'expedient'" routerLinkActive="is-active">
        {{'menu.dockets' | translate}}
        <span class="icon-expedient c-menu__icon"></span>
    </button>
    <button mat-button class="c-menu__item" [routerLink]="'task'" routerLinkActive="is-active">
        {{'menu.my_tasks' | translate}}
        <span class="icon-task c-menu__icon"></span>
    </button>
    <button mat-button class="c-menu__item" [routerLink]="'templates'" routerLinkActive="is-active">
       {{'menu.documents_templates' | translate}}
        <span class="icon-document-color c-menu__icon"></span>
    </button>
    <button mat-button class="c-menu__item" [routerLink]="'invoicing'" routerLinkActive="is-active">
        {{'menu.invoicing' | translate}}
        <span class="icon-invoice c-menu__icon"></span>
    </button>
    <button mat-button class="c-menu__item">
        {{'menu.reports' | translate}}
        <span class="icon-report c-menu__icon"></span>
    </button>
    <button mat-button class="c-menu__item" [routerLink]="'configuration'" routerLinkActive="is-active">
        {{'menu.settings' | translate}}
        <span class="icon-gear c-menu__icon"></span>
    </button>



    <button mat-button [matMenuTriggerFor]="menu" class="c-notification c-notification--menu">
        <div>
            <div class="c-notification__title">Notificaciones</div>
            <div class="c-notification__subtitle">Aún sin leer</div>
        </div>
        <div class="c-notification__icon">
            <span matBadge="4" matBadgeOverlap="false"><span class="icon-bell"></span></span>
        </div>
    </button>
    <mat-menu #menu="matMenu" class="c-notification-menu ">
        <div class="c-notification-menu__header">
            <div class="c-notification-menu__title">Notificaciones</div>
            <div class="c-notification-menu__subtitle">Tienes <b class="u-primaryColor">2</b> nuevas actualizaciones</div>
        </div>
        <div class="c-nofitication-menu__body">
            <div class="c-notification-menu__item">
                <span class="icon-bell c-notification-menu__icon"></span>
                <div class="flex-1">
                    <div class="c-notification-menu__text">Se ha añadido una nueva tarea</div>
                    <div class="c-notification-menu__subtext">Llamada Raúl comprés''</div>
                </div>
                <div class="c-notification-menu__date">Hace 5 min</div>
            </div>
            <div class="c-notification-menu__item">
                <span class="icon-bell c-notification-menu__icon"></span>
                <div class="flex-1">
                    <div class="c-notification-menu__text">Se ha añadido una nueva tarea</div>
                    <div class="c-notification-menu__subtext">Llamada Raúl comprés''</div>
                    <div class="c-notification-menu__subtext u-textColor"><b>Expediente:</b> Contrato de Arrendamiento permisivo</div>
                </div>
                <div class="c-notification-menu__date">Hace 5 min</div>
            </div>
        </div>
        <div class="c-notification-menu__footer">
            <button mat-button>
                Cerrar ventana
            </button>
        </div>
    </mat-menu>
    <div class="c-timer-count c-timer-count--small c-timer-count--menu">
        <div>
            <div class="c-timer-count__number">00:00:00</div>
            <div class="c-timer-count__title">Timer</div>
        </div>
        <button mat-button class="c-timer-count__button">
           <span class="icon-play"></span>
       </button>
    </div>
</div>
