<div class=" c-dialog-header">
    <div class="c-dialog-header__header">
        Agregar nuevo rol
    </div>
    <mat-dialog-content class="pr-5 pl-5 pb-5 pt-0">
        <label class="u-title-label">Nombre nuevo rol</label>
        <mat-form-field appearance="fill" class="c-form-group ">
        <mat-label>Nombre</mat-label>
            <input class="c-form-group__input" matInput placeholder="Ej: Abogado">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="c-dialog-header__footer">
        <button mat-button mat-dialog-close class="u-link text-center">Cerrar ventana</button>
        <button mat-button class="c-btn c-btn--primary c-btn--small">Agregar nuevo</button>
    </mat-dialog-actions>
</div>