<div class="c-dialog-recovery">
  <mat-dialog-content class="d-flex flex-column justify-center">
      <h4 class="mb-5 u-textBold"><b>Valor impuesto</b></h4>
      <img class="mb-5" src="../../../../assets/images/impuestos.svg" alt="">
      <p class="u-textColor text-center mb-5">
          Coloca aquí el valor del impuesto <br> que quieres utilizar en tus facturas
      </p>
      <div class="w-100">
          <mat-form-field appearance="fill" class="c-form-group">
              <input class="c-form-group__input" matInput type="mail" placeholder="Ej: 18" autocomplete="off"
                  [(ngModel)]="tax_pct">
          </mat-form-field>

        </div>
  </mat-dialog-content>
  <mat-dialog-actions class="mt-auto">
      <button mat-button class="c-btn c-btn--primary w-100 u-smallSize" (click)="saveSubscriptionBillingFee()">Guardar</button>
      <button mat-button mat-dialog-close
          class="u-link text-center m-0 w-100 mt-2 p-0">Cerrar ventana</button>
  </mat-dialog-actions>
</div>
