<label class="u-title-label">Foto o logo</label>
<div class="c-uploadPicture">
   <label for="inputTypeFile">
    <div class="c-uploadPicture__img">
      <img *ngIf="!imgTemp && !imgUrl" src="../../../../assets/images/upload-camera.svg" alt="">
      <img id="imgUpload" *ngIf="imgTemp" [src]="imgTemp" alt="">
      <img id="imgUpload" *ngIf="imgUrl && !imgTemp" [src]="imgUrl" alt="">
    </div>
   </label>
    <div class="c-uploadPicture__controls">
        <div class="c-uploadPicture__text">
            Nota: <br> Subir imagen máximo 2MB
        </div>
        <div class="u-link mt-1" (click)="removeImage()">Eliminar</div>
    </div>
</div>

<input id="inputTypeFile" type="file" (change)="changeImage($event)">

