<label class="u-title-label">{{'clients.form_create.photo_or_logo' | translate}}</label>
<div class="c-uploadPicture">
   <label for="inputTypeFile">
    <div class="c-uploadPicture__img">
      <img *ngIf="!imgTemp && !imgUrl" src="../../../../assets/images/upload-camera.svg" alt="">
      <img id="imgUpload" *ngIf="imgTemp" [src]="imgTemp" alt="">
      <img id="imgUpload" *ngIf="imgUrl && !imgTemp" [src]="imgUrl" alt="">
    </div>
   </label>
    <div class="c-uploadPicture__controls">
        <div class="c-uploadPicture__text">
          {{'clients.common.note' | translate}}: <br> {{'clients.form_create.upload_image_max_2' | translate}}
        </div>
        <div class="u-link mt-1" (click)="removeImage()">{{'clients.common.delete' | translate}}</div>
    </div>
</div>

<input id="inputTypeFile" type="file" (change)="changeImage($event)">

