<div class="c-dialog-newDocument c-dialog-header">
    <div class="c-dialog-header__header d-flex flex-column">
        Creando nueva plantilla
        <span class="u-smallSize u-fontRegular">A partir de una existen, sigue estos pasos 1-4</span>
    </div>
    <form [formGroup]="templateForm" (submit)="submitForm()">
      <mat-dialog-content>
        <div class="row mb-2">
            <div class="col-md-12">

                <label class="u-title-label u-normalSize mb-5">1-Nombre tu plantilla y escoge el tipo</label>
                <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                    <mat-label>Seleccionar tipo de plantilla</mat-label>
                    <mat-select formControlName="template_type" (selectionChange)="onChangeDocumentTemplateType($event)">
                        <mat-option *ngFor="let templateType of documentTemplateTypes" [value]="templateType.uuid">
                            {{templateType.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="c-form-group">
                    <mat-label>Nombre plantilla </mat-label>
                    <input class="c-form-group__input" matInput formControlName="name">
                </mat-form-field>

                <hr class="u-divider">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="u-title-label u-normalSize mb-5">2-¿Cómo preparar la plantilla para poder subirla a NASBU? -  2 Pasos.</label>
                <p class="u-smallSize u-textColor mb-3">
                    1- <b>Sustituye por variables</b> en tu documento existen los elementos que serán dinámicos ej: Nombres, Direcciones, y actores o partes del documento. <span class="u-link">Ver ejemplo</span>
                </p>
                <p class="u-smallSize u-textColor mb-5">
                    2- Una vez hayas correctamente colocados la variables <b> variables guárdalo y
                        luego súbe el archivo</b>
                </p>

                <div class="c-variableList">
                    <div class="c-variableList__header">
                        <div class="u-fontBold u-textColor">
                            Listado de variables
                        </div>
                        <div class="c-form-group--search bordered u-smallSize">
                            <input matInput type="mail" placeholder="Buscar por nombre" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}">
                            <span class="icon-search"></span>
                        </div>
                    </div>
                    <div class="c-variableList__body">
                        <div class="u-table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Seccion</th>
                                        <th>Variable</th>
                                        <th>Acción</th>
                                    </tr>

                                </thead>
                                <tbody *ngIf="documentTemplateType">
                                    <tr *ngFor="let variable of filteredVariables">
                                        <td>{{variable.section}} </td>
                                        <td>{{variable.name}}</td>
                                        <td><button type="button" mat-button (click)="copyToClipboard(variable.code || '')"><span class="icon-copy"></span></button></td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>

                <hr class="u-divider mt-5 mb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="u-title-label u-normalSize mb-3">3- Por último subir tu plantilla modificada</label>
                <p class="u-smallSize u-textColor mb-4">
                    Recuerda esta plantilla ya debe tener todas las variables colocadas antes de subirlo El documento debes guardarlo en Doc.tx
                    <span class="u-link">¿Cómo guardar en doc.tx?</span>
                </p>
            </div>
            <div class="col-md-6">
                    <div class="c-uploadPicture">
                      <label for="inputTypeFile">
                      <div class="c-uploadPicture__img">
                          <img *ngIf="!imgTemp && !imgUrl" src="../../../../assets/images/upload-document.svg" alt="">
                          <img id="imgUpload" *ngIf="imgTemp" [src]="imgTemp" alt="">
                          <img src="../../../../assets/images/user.jpg" alt="" class="c-uploadPicture__picture d-none">
                      </div>
                    </label>
                      <div class="c-uploadPicture__controls">
                          <div class="c-uploadPicture__text">
                              Nota: <br> Subir imagen máximo 2MB
                          </div>
                          <div class="u-link mt-1" (click)="deleteImage()">Eliminar</div>
                      </div>
                  </div>
                <input id="inputTypeFile" type="file" (change)="changeImage($event)">

            </div>
        </div>

      </mat-dialog-content>
      <mat-dialog-actions class="c-dialog-header__footer">
          <button mat-button mat-dialog-close class="u-link text-center">Cancelar</button>
          <button mat-button class="c-btn-function">Generar documento</button>
      </mat-dialog-actions>
    </form>
</div>
