<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-invoice"></span>
            </div>
            <div class="l-page__title">{{'invoicing.title' | translate}}</div>
        </div>
        <div class="l-page__controls">
            <button class="c-btn c-btn--outline c-btn--small" mat-button (click)="openDialogPaymentRegister()">{{'invoicing.apply_payment' | translate}}<span class="icon-plus ml-2 "></span></button>
            <button class="c-btn-function" mat-button [routerLink]="'new-invoice'">{{'invoicing.new_invoice' | translate}}<span class="icon-plus ml-3 "></span></button>

        </div>
    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs">
            <mat-tab>

              <ng-template mat-tab-label>
                {{'invoicing.all' | translate}}
                <div class="c-tabs__badge">{{allInvoices.length}}</div>
              </ng-template>

              <app-no-invoices *ngIf="invoices && invoices.length === 0"></app-no-invoices>

              <app-invoicing-table [invoices]="invoices"
                                   *ngIf="invoices && invoices.length > 0"
                                   [selectedSubscriptionId]="selectedSubscription?.ssid.uuid"
                                   (onExecuteInvoice)="onExecuteInvoice()">
              </app-invoicing-table>

            </mat-tab>
            <mat-tab>

                <ng-template mat-tab-label>
                  {{'invoicing.pending_approval' | translate}}
                  <div class="c-tabs__badge">{{notApprovedInvoices.length}}</div>
                </ng-template>

                <app-invoicing-table [invoices]="invoices | filter:'status':invoiceStatus.NOT_APPROVED"
                                     [inputInvoiceStatus]="invoiceStatus.NOT_APPROVED"
                                     [selectedSubscriptionId]="selectedSubscription?.ssid.uuid"
                                     *ngIf="invoices && invoices.length > 0"
                                     (onExecuteInvoice)="onExecuteInvoice()">
                </app-invoicing-table>

            </mat-tab>
            <mat-tab>

                <ng-template mat-tab-label>
                  {{'invoicing.awaiting_payment' | translate}}
                    <div class="c-tabs__badge">{{pendingInvoices.length}}</div>
                </ng-template>

                <app-invoicing-table [invoices]="invoices | filter:'status':invoiceStatus.PENDING"
                                     [selectedSubscriptionId]="selectedSubscription?.ssid.uuid"
                                     *ngIf="invoices && invoices.length > 0"
                                     [inputInvoiceStatus]="invoiceStatus.PENDING"
                                     (onExecuteInvoice)="onExecuteInvoice()">
                </app-invoicing-table>

            </mat-tab>
            <mat-tab>

                <ng-template mat-tab-label>
                  {{'invoicing.paid' | translate}}
                    <div class="c-tabs__badge">{{payedInvoices.length}}</div>
                </ng-template>

                <app-invoicing-table [invoices]="invoices | filter:'status':invoiceStatus.PAYED"
                                     *ngIf="invoices && invoices.length > 0"
                                     [selectedSubscriptionId]="selectedSubscription?.ssid.uuid"
                                     [inputInvoiceStatus]="invoiceStatus.PAYED"
                                     (onExecuteInvoice)="onExecuteInvoice()">
                </app-invoicing-table>

            </mat-tab>
            <mat-tab>

                <ng-template mat-tab-label>
                  {{'invoicing.past_due' | translate}}
                    <div class="c-tabs__badge">{{expiredInvoices.length}}</div>
                </ng-template>

                <app-invoicing-table [invoices]="invoices | filter:'status':invoiceStatus.EXPIRED"
                                     *ngIf="invoices && invoices.length > 0"
                                     [selectedSubscriptionId]="selectedSubscription?.ssid.uuid"
                                     [inputInvoiceStatus]="invoiceStatus.EXPIRED"
                                     (onExecuteInvoice)="onExecuteInvoice()">
                </app-invoicing-table>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>
