<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-invoice"></span>
            </div>
            <div class="l-page__title">Facturación</div>
        </div>
        <div class="l-page__controls">
            <button class="c-btn c-btn--outline c-btn--small" mat-button (click)="openDialogPaymentRegister()">Registrar pago<span class="icon-plus ml-2 "></span></button>
            <button class="c-btn-function" mat-button [routerLink]="'new-invoice'">Nueva Factura<span class="icon-plus ml-3 "></span></button>

        </div>
    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs">
            <mat-tab>

              <ng-template mat-tab-label>
                Todas
                <div class="c-tabs__badge">{{allInvoices.length}}</div>
              </ng-template>

              <app-no-invoices *ngIf="invoices && invoices.length === 0"></app-no-invoices>

              <app-invoicing-table [invoices]="allInvoices" *ngIf="invoices && invoices.length > 0"></app-invoicing-table>

            </mat-tab>
            <mat-tab>

                <ng-template mat-tab-label>
                    Pendiente aprobación
                    <div class="c-tabs__badge">{{notApprovedInvoices.length}}</div>
                </ng-template>

                <app-invoicing-table [invoices]="notApprovedInvoices"
                                     [inputInvoiceStatus]="invoiceStatus.NOT_APPROVED"
                                     *ngIf="invoices && invoices.length > 0"></app-invoicing-table>

            </mat-tab>
            <mat-tab>

                <ng-template mat-tab-label>
                    En espera de pago
                    <div class="c-tabs__badge">{{pendingInvoices.length}}</div>
                </ng-template>

                <app-invoicing-table [invoices]="pendingInvoices"
                                     *ngIf="invoices && invoices.length > 0"
                                     [inputInvoiceStatus]="invoiceStatus.PENDING"></app-invoicing-table>

            </mat-tab>
            <mat-tab>

                <ng-template mat-tab-label>
                    Pagadas
                    <div class="c-tabs__badge">{{payedInvoices.length}}</div>
                </ng-template>

                <app-invoicing-table [invoices]="payedInvoices"
                                     *ngIf="invoices && invoices.length > 0"
                                     [inputInvoiceStatus]="invoiceStatus.PAYED"></app-invoicing-table>

            </mat-tab>
            <mat-tab>

                <ng-template mat-tab-label>
                    Vencidas
                    <div class="c-tabs__badge">{{expiredInvoices.length}}</div>
                </ng-template>

                <app-invoicing-table [invoices]="expiredInvoices"
                                     *ngIf="invoices && invoices.length > 0"
                                     [inputInvoiceStatus]="invoiceStatus.EXPIRED"></app-invoicing-table>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>
