<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-invoice"></span>
            </div>
            <div class="l-page__title">{{'invoice_parameter.title' | translate}}</div>
        </div>
        <div class="l-page__controls">
            <button mat-button class="u-smallSize" [routerLink]="'..'"> <span class="icon-arrow-back mr-2"></span> {{'invoice_parameter.goBack' | translate}}</button>

        </div>

    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs">
            <mat-tab label="{{'invoice_parameter.list_of_parameters' | translate}}">

              <form [formGroup]="invoicingParameterForm" (ngSubmit)="submitForm()" #form="ngForm">

                      <div class="d-flex justify-content-between align-items-center mt-3 flex-wrap">
                            <div class="d-flex justify-content-between align-items-center mt-3 flex-wrap">
                              <div class="l-configuration__title">
                                  <span class="icon-lock mr-2 u-icon-yellow"></span> {{'invoice_parameter.allowed_billing_methods' | translate}}
                              </div>
                          </div>
                          <div class="l-page__controls">
                            <button class="c-btn-function c-btn--outline">{{'invoice_parameter.save_changes' | translate}} <span class="icon-plus ml-2 "></span></button>
                          </div>
                      </div>
                    <hr class="u-divider">
                    <div class="row">
                        <div class="col-md-5 col-sm-6">
                            <mat-checkbox class="c-checkbox mb-2 u-fontBold u-textColor">
                              {{'invoice_parameter.add_hourly_rate' | translate}}
                            </mat-checkbox>
                            <p class="u-smallSize u-textColor pl-4 mb-1">
                                {{'invoice_parameter.this_model_your_hourly_rate_time_invested_in_a_task' | translate}}
                            </p>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <label class="u-title-label">{{'invoice_parameter.hourly_rate' | translate}} </label>
                            <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>{{'invoice_parameter.price' | translate}}</mat-label>
                                <input class="c-form-group__input" matInput placeholder="Ej: 25 USD" formControlName="price_per_hour">
                            </mat-form-field>
                        </div>
                    </div>
                    <hr class="u-divider">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <mat-checkbox class="c-checkbox mb-2 u-fontBold u-textColor" formControlName="allow_retainers">
                              {{'invoice_parameter.retainer' | translate}}
                            </mat-checkbox>
                            <p class="u-smallSize u-textColor pl-4 mb-1">
                              {{'invoice_parameter.under_this_model_you_retain_a_given_amount' | translate}}
                            </p>
                        </div>


                    </div>
                    <hr class="u-divider">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <mat-checkbox class="c-checkbox mb-2 u-fontBold u-textColor">
                                {{'invoice_parameter.by_increment_of_time' | translate}}
                            </mat-checkbox>
                            <p class="u-smallSize u-textColor pl-4 mb-1">
                              {{'invoice_parameter.this_model_defines_your_pay_by_hour_minute' | translate}}
                            </p>
                        </div>

                        <div class="col-lg-2 col-sm-6">
                            <label class="u-title-label">{{'invoice_parameter.increment_factor' | translate}}</label>
                            <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>{{'invoice_parameter.quantity' | translate}}</mat-label>
                                <input class="c-form-group__input" matInput placeholder="Ej: 25 USD" formControlName="increment_factor">
                            </mat-form-field>
                        </div>
                        <!-- class=u-disable-list -->
                        <div class="col-lg-2 col-sm-12">
                            <label class="u-title-label">{{'invoice_parameter.cost_per_increment' | translate}}</label>
                            <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>{{'invoice_parameter.quantity' | translate}}</mat-label>
                                <input class="c-form-group__input" matInput placeholder="Ej: 25 USD" formControlName="price_per_increment">
                            </mat-form-field>
                        </div>
                    </div>
                    <hr class="u-divider">
                    <div class="row">
                        <div class="col-md-5 col-sm-6">
                            <mat-checkbox class="c-checkbox mb-2 u-fontBold u-textColor" formControlName="allow_flat_fee">
                                Flat feed
                            </mat-checkbox>
                            <p class="u-smallSize u-textColor pl-4 mb-1">
                                {{'invoice_parameter.this_is_a_set_that_represents_the_total_invoice_amount' | translate}}
                            </p>
                        </div>

                    </div>

              </form>


            </mat-tab>


        </mat-tab-group>
    </div>
</div>
