<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-key"></span>
            </div>
            <div class="l-page__title">{{'settings.permissions.title' | translate}} </div>
        </div>
        <div class="l-page__controls">
            <button mat-button class="u-smallSize" [routerLink]="'..'"> <span class="icon-arrow-back mr-2"></span> {{'settings.permissions.goBack' | translate}}</button>
            <button class="c-btn-function" mat-button (click)="openDialogNewRole()">{{'settings.permissions.add_group' | translate}}<span class="icon-plus ml-2 "></span></button>
        </div>


    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs c-tabs--scroll">
            <mat-tab label="{{'settings.permissions.my_configured_permissions' | translate}}">


                <div class="row">
                    <div class="col-md-6">
                        <div class="l-configuration__title mb-4">
                          {{'settings.permissions.permission_levels_of_NASBU' | translate}}
                        </div>
                        <br>
                        <div class="d-flex mb-4">
                            <div class="mr-4 text-center" style="width: 2rem;">
                                <span class="icon-user u-icon-yellow"></span>
                            </div>
                            <div class="flex-1">
                                <div class="u-fontBold u-smallSize u-textColor mb-2">{{'settings.permissions.administrator' | translate}}</div>
                                <p class="u-smallSize u-textLightColor">{{'settings.permissions.this_model_allows_you_crud_function_within_platform' | translate}}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="mr-4 text-center" style="width: 2rem;">
                                <span class="icon-book u-icon-yellow"></span>
                            </div>

                            <div class="flex-1">
                                <div class="u-fontBold u-smallSize u-textColor mb-2">{{'settings.permissions.editor' | translate}}</div>
                                <p class="u-smallSize u-textLightColor">{{'settings.permissions.this_model_allows_you_create_edit_certain_elements' | translate}}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="mr-4 text-center" style="width: 2rem;">
                                <span class="icon-eye u-icon-yellow"></span>
                            </div>

                            <div class="flex-1">
                                <div class="u-fontBold u-smallSize u-textColor mb-2">{{'settings.permissions.read_only' | translate}}</div>
                                <p class="u-smallSize u-textLightColor">{{'settings.permissions.this_model_allows_you_view_information_applying_modification' | translate}}
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between align-items-center mt-5 flex-wrap">
                            <div class=" l-configuration__title ">{{'settings.permissions.existing_permission_group' | translate}}
                            </div>
                            <p class="u-smallSize " *ngIf="groups">
                                <!-- Tiene configurado <b class="u-primaryColor ">{{groups.length}}</b> permisos -->
                                <span [innerHTML]="'settings.permissions.you_currently_have_permission_groups' | translate: {permissionsQuantity:groups.length} "></span>
                            </p>
                        </div>
                        <hr class="u-divider ">
                    </div>
                </div>

                <div *ngFor="let group of groups">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="u-primaryColor u-bigSize2">{{'settings.permissions.permissions_group' | translate}} <b>{{ group.name }}</b></div>
                      <p class="u-textColor u-smallSize">{{'settings.permissions.the_following_configuration_for_this_role' | translate}}</p>
                      <div class="u-table-responsive">
                        <table class="c-table-roles">
                          <tr>
                            <th><span class="icon-lock u-icon-yellow mr-2"></span>{{'settings.permissions.access_to_menu_and_permissions' | translate}}</th>
                            <th>{{'settings.permissions.administrator' | translate}}</th>
                            <th>{{'settings.permissions.editor' | translate}}</th>
                            <th>{{'settings.permissions.read_only' | translate}}</th>
                            <th></th>
                          </tr>
                          <tr *ngFor="let module_access of group.modules_access; let i = index">
                            <td>
                              <mat-checkbox class="c-checkbox mb-2 u-textColor" [(ngModel)]="module_access.active">
                                {{'settings.permissions.access_to' | translate}} <b>{{ returnModuleDescription(module_access.module) || '' | translate }}</b>
                              </mat-checkbox>
                            </td>
                            <td>
                              <mat-radio-group    [(ngModel)]="module_access.type" [name]="'admin_' + group.name + '_' + i">
                                <mat-radio-button [value]="typeAccess.ADMINISTRATOR"
                                                  [checked]="module_access.type === typeAccess.ADMINISTRATOR"
                                                  class="c-radioButton"
                                                  (change)="updateSubscriptionGroups(group)"></mat-radio-button>
                              </mat-radio-group>
                            </td>
                            <td>
                              <mat-radio-group    [(ngModel)]="module_access.type" [name]="'write_' + group.name + '_' + i">
                                <mat-radio-button [value]="typeAccess.WRITE"
                                                  [checked]="module_access.type === typeAccess.WRITE"
                                                  class="c-radioButton"
                                                  (change)="updateSubscriptionGroups(group)"></mat-radio-button>
                              </mat-radio-group>
                            </td>
                            <td>
                              <mat-radio-group    [(ngModel)]="module_access.type" [name]="'read_' + group.name + '_' + i">
                                <mat-radio-button [value]="typeAccess.READ"
                                                  [checked]="module_access.type === typeAccess.READ"
                                                  class="c-radioButton"
                                                  (change)="updateSubscriptionGroups(group)"></mat-radio-button>
                              </mat-radio-group>
                            </td>
                            <td *ngIf="i === 0">
                              <button class="c-btn-function c-btn--outline" (click)="deleteSecurityGroup(group)"><i class="icon-trash"></i>{{'settings.permissions.delete' | translate}}</button>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <hr class="u-divider">
                    </div>
                  </div>
                </div>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>
