<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex flex-wrap u-gap-1">
            <button mat-button [routerLink]="'/customers'"><span class="icon-arrow-back mr-2" ></span> {{'clients.common.back' | translate}}</button>
            <div class="d-flex">
                <div class="l-page__icon">
                    <span class="icon-user"></span>
                </div>
                <div class="l-page__title">{{customer.first_name}} {{customer.last_name}} </div>
            </div>

        </div>

        <div class="l-page__controls">
            <button class="c-btn c-btn--outline c-btn--small" mat-button>{{'clients.details.express_billing' | translate}}<span class="icon-invoice ml-2" style="font-size: 19px;"></span></button>
            <button class="c-btn c-btn--primary c-btn--small" mat-button>{{'clients.details.edit_customer' | translate}} <span class="icon-pen ml-2 "></span></button>

        </div>

    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs c-tabs--hasSub no-padder-body" animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    {{'clients.details.general_data' | translate}}
                    <span class="icon-id-card"></span>
                </ng-template>
                <app-general-info></app-general-info>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    {{'clients.details.files' | translate}}
                    <span class="icon-expedient"></span>
                </ng-template>
                <app-client-expedient></app-client-expedient>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    {{'clients.details.pending_issues' | translate}}
                    <span class="icon-task"></span>
                </ng-template>
                <app-client-pending></app-client-pending>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    {{'clients.details.billing' | translate}}
                    <span class="icon-invoice"></span>
                </ng-template>
                <app-client-invoicing></app-client-invoicing>
            </mat-tab>

        </mat-tab-group>

    </div>
</div>
