<main class="l-blank">
    <header class="l-blank__header">
        <img src="../../../assets/images/white-logo.svg" alt="">
    </header>
    <div class="l-blank__content">
        <div class="c-recovery">
            <img class="mb-5" src="../../../../assets/images/password-lock.svg" alt="">
            <h4 class="mb-5 u-textBold u-textColor u-bigSize2">{{'recovery.title' | translate}}</h4>
            <p class="u-textColor text-center mb-5">
                {{'recovery.subTitle' | translate}}
            </p>

            <div class="w-75">
                <mat-form-field appearance="fill" class="c-form-group">
                    <mat-label>{{'recovery.code' | translate}}</mat-label>
                    <input class="c-form-group__input" matInput type="text" disabled  [ngModel]="recoveryCode">
                </mat-form-field>
            </div>
            <div class="w-75">
                <mat-form-field appearance="fill" class="c-form-group">
                    <mat-label>{{'register.email' | translate}}</mat-label>
                    <input class="c-form-group__input" matInput type="text" disabled  [ngModel]="recoveryEmail">
                </mat-form-field>
            </div>
            <form class="w-75" [formGroup]="recoveryForm" (ngSubmit)="onSubmit()" >
                <mat-form-field appearance="fill" class="c-form-group">
                    <mat-label>{{'recovery.newPassword' | translate}}</mat-label>
                    <input class="c-form-group__input" matInput type="password"  placeholder="*******" formControlName="newPassword">
                    <span class="c-form-group__input--checked " [ngClass]="validPassword ? 'icon-check' : 'icon-not-check'"></span>
                </mat-form-field>
                <mat-form-field appearance="fill" class="c-form-group c-form-group--has-info">
                    <mat-label>{{'register.confirmPassword' | translate}}</mat-label>
                    <input 
                      matInput 
                      class="c-form-group__input" 
                      type="password" 
                      placeholder="*******"
                      formControlName="confirmPassword"
                    >
                </mat-form-field>
                <label [ngClass]="passwordMatch ? 'u-primaryColor' : 'u-dangerColor'" class="u-smallSize d-block mb-3">{{matchMessage}}</label>
                <button mat-button [ngClass]="{'c-btn--disable': !isValidForm}" class="c-btn c-btn--primary w-100 u-smallSize">{{'recovery.savePassword' | translate}}</button>
                <p *ngIf="errorMessage" class="u-dangerColor mt-3">{{errorMessage | errorMessageTranslate}}</p>
            </form>
        </div>
        <div [routerLink]="['/signin']" class="u-link mt-4">{{'recovery.goBack' | translate}}</div>
    </div>
</main>
