<main class="l-blank">
    <header class="l-blank__header">
        <img src="../../../assets/images/white-logo.svg" alt="">
    </header>
    <div class="l-blank__content">
        <div class="c-recovery">
            <img class="mb-5" src="../../../../assets/images/password-lock.svg" alt="">
            <h4 class="mb-5 u-textBold u-textColor u-bigSize2">Recuperación de contraseña</h4>
            <p class="u-textColor text-center mb-5">
                Coloca una nueva contraseña y continua disfrutando de nasbu sin contratiempos
            </p>
            <form class="w-75">
                <mat-form-field appearance="fill" class="c-form-group">
                    <mat-label>Password</mat-label>
                    <input class="c-form-group__input" matInput type="password" placeholder="Ej: m@nasbu.com">
                    <span class="c-form-group__input--checked icon-check"></span>
                </mat-form-field>
                <mat-form-field appearance="fill" class="c-form-group c-form-group--has-info">
                    <mat-label>Password</mat-label>
                    <input class="c-form-group__input" matInput type="password" placeholder="Ej: m@nasbu.com">
                </mat-form-field>
                <label class="u-smallSize u-primaryColor d-block mb-3">Contraseñas coinciden</label>
                <button mat-button class="c-btn c-btn--disable c-btn--primary w-100 u-smallSize">Guardar contraseña</button>
            </form>
        </div>
        <div class="u-link mt-4">Volver a la pagina principal</div>
    </div>

</main>