<div class="l-page">
  <div class="l-page__header">
      <div class="d-flex">
          <div class="l-page__icon">
              <span class="icon-document-color"></span>
          </div>
          <div class="l-page__title">Documentos y Plantillas</div>
      </div>
      <div class="l-page__controls">
          <button class="c-btn c-btn--outline c-btn--small" mat-button (click)="openDialogNewDocument()">Generar nuevo documento<span class="icon-plus ml-2 "></span></button>
          <button class="c-btn-function" mat-button (click)="openDialogNewTemplate()">Crear plantilla<span class="icon-plus ml-2 "></span></button>
      </div>
  </div>
  <div class="l-page__body">
      <mat-tab-group class="c-tabs" [(selectedIndex)]="selectedTabIndex">

          <mat-tab>
              <ng-template mat-tab-label>
                  Plantillas
                  <div class="c-tabs__badge">{{documentTemplates ? documentTemplates.length : 0}}</div>
              </ng-template>

              <app-no-document-template *ngIf="documentTemplates && documentTemplates.length === 0"></app-no-document-template>

              <app-templates *ngIf="documentTemplates && documentTemplates.length > 0"
                             [documentTemplates]="documentTemplates"
                             (onExecuteDocumentTemplate)="getDocumentTemplates()"></app-templates>

          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
                  Documentos Generados
                  <div class="c-tabs__badge">{{documentGenerations ? documentGenerations.length : 0}}</div>
              </ng-template>

              <app-documents *ngIf="documentGenerations && documentGenerations.length > 0"
                             [documentGenerations]="documentGenerations"
                             (onExecuteDocumentGeneration)="getDocumentGenerations()"></app-documents>


          </mat-tab>

      </mat-tab-group>
  </div>
</div>
