<div class="align-items-center d-flex flex-column justify-content-center u-h-50-vh">
    <img class="mb-3" src="../../../../../assets/images/credit-card.svg" alt="">
    <p class="u-textLightColor">
        {{'firm.profile.do_not_have_any_payment_methods_added' | translate}}
    </p>
    <button mat-button class="u-link" (click)="openDialogAddCreditcard()">+ {{'firm.profile.add_payment_method' | translate}} </button>
</div>

<div class="d-flex justify-content-between u-smallSize mb-3 pr-3">
    <p> <b>Tienes 1 Factura</b> en espera de pago </p>
    <p class="u-textColor">Organizado por fecha de creación</p>
</div>
<table mat-table [dataSource]="dataSource" class="c-table">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="c-table__checkbox">
            <mat-checkbox class="c-checkbox" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox class="c-checkbox" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="method">
        <th class="pl-5" mat-header-cell *matHeaderCellDef style="width: 35rem;">Método de pago</th>
        <td mat-cell *matCellDef="let element">
            <div class="c-creditCard">
                <div class="c-creditCard__header">
                    <span class="icon-bell"></span>
                    <div class="c-creditCard__type">American Express</div>
                    <div class="c-creditCard__ccv">CCV / CVV ***</div>
                </div>
                <div class="c-creditCard__strip"></div>
                <div class="c-creditCard__body">
                    <div class="c-creditCard__date">Fecha venc.09 / 22</div>
                    <div class="c-creditCard__number">XXXX-XXXX-XXXX-<b>8746</b></div>
                </div>
            </div>

        </td>
    </ng-container>

    <!-- task Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fech. de inclusión </th>
        <td mat-cell *matCellDef="let element">
            {{element.date}}
        </td>
    </ng-container>

    <!-- Estatus Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estatus </th>
        <td mat-cell *matCellDef="let element" class="u-dangerColor"> {{element.status}} </td>
    </ng-container>

    <!-- Expedient Column -->
    <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Prioridad </th>
        <td mat-cell *matCellDef="let element">
            {{element.priority}}
        </td>
    </ng-container>



    <!-- Date Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center-force"> Acciones </th>
        <td mat-cell *matCellDef="let element" class="text-center">

            <mat-button-toggle-group class="c-btn-table">
                <mat-button-toggle>Editar</mat-button-toggle>
                <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                    <span class="icon-arrow-down"></span>
                </mat-button-toggle>
            </mat-button-toggle-group>

            <mat-menu #dropdownMenuOne="matMenu">
                <button mat-menu-item>One</button>
                <button mat-menu-item>Two</button>
                <button mat-menu-item>Three</button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
</table>
