<main class="l-blank" *ngIf="confirmed">
  <header class="l-blank__header">
      <img src="../../../assets/images/white-logo.svg" alt="">
  </header>
  <div class="l-blank__content">
      <div class="c-recovery" [style.backgroundColor]="'white'">
          <img class="mb-5" src="../../../../assets/images/password-lock.svg" alt="">
          <h4 class="mb-5 u-textBold u-textColor u-bigSize2">{{'confirmAccount.title' | translate}}</h4>
          <p class="u-textColor text-center mb-5">
              {{'confirmAccount.subTitle' | translate}}
          </p>
          <button mat-button class="c-btn c-btn--primary w-100 u-smallSize" (click)="navigateToSignin()">{{'confirmAccount.gotoLoginButton' | translate}}</button>
      </div>
  </div>
</main>
