<div class="align-items-center d-flex justify-content-center p-3 u-primaryBg">
  <img src="./assets/images/white-logo.svg" alt="">
</div>
<mat-stepper linear class="c-stepper-template" [@.disabled]="true">
  <mat-step>
    <app-create-templates-types-basic-info (templateTypeBasicInfo)="documentTemplatesTypes = $event"></app-create-templates-types-basic-info>
  </mat-step>
  <mat-step>
    <app-create-templates-types-variables (templateTypesVariablesOutput)="variablesTemplatesTypes = $event; createDocumentTemplateTypes()"></app-create-templates-types-variables>
  </mat-step>
  <mat-step>
    <div class="d-flex flex-column align-items-center u-gap-2 justify-content-center" style="min-height: 60vh;">
      <img src="../../../../assets/images/check.svg" alt="">
      <h4 class="u-fontRegular">Plantilla creada con éxito</h4>
    </div>
  </mat-step>
</mat-stepper>
