<div class="l-invoicing">
    <form [formGroup]="invoiceForm" (submit)="submitForm()" #form="ngForm">

      <div class="l-invoicing__header">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <label class="u-title-label">{{'invoicing.invoice.client' | translate}}</label>
                <mat-form-field appearance="fill" class="c-form-group c-form-group__select c-form-group--small">
                    <mat-label>{{'invoicing.invoice.choose_client' | translate}}</mat-label>
                    <mat-select (selectionChange)="onChangeCustomer($event)" formControlName="customer">
                        <mat-option *ngFor="let customer of customers" [value]="customer.uuid">
                            {{customer | customerFullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-6">
                <label class="u-title-label">{{'invoicing.invoice.docket_you_would_like_to_invoice' | translate}}</label>
                <mat-form-field appearance="fill" class="c-form-group c-form-group__select c-form-group--small">
                    <mat-label>{{'invoicing.invoice.docket_name' | translate}}</mat-label>
                    <mat-select (selectionChange)="onChangeCaseFile($event)" formControlName="case_file">
                        <mat-option *ngFor="let caseFile of caseFiles" [value]="caseFile.uuid">
                            {{caseFile.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="align-items-center col-md-2 col-sm-3 d-flex">
                <mat-checkbox class="c-checkbox u-textColor" (change)="disableCaseFileField($event)">
                    {{'invoicing.invoice.no_docket' | translate}}
                </mat-checkbox>
            </div>
            <div class="align-items-center col-md-2 col-sm-3 d-flex" *ngIf="invoice">
                <mat-button-toggle-group class="c-btn-table">
                    <mat-button-toggle (click)="openDialogSendInvoice()">{{'invoicing.invoice.send' | translate}}</mat-button-toggle>
                    <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                        <span class="icon-arrow-down"></span>
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <mat-menu #dropdownMenuOne="matMenu">
                    <button (click)="downloadInvoice()" mat-menu-item>Descargar</button>
                    <button (click)="openDialogPaymentHistory()" mat-menu-item>{{'invoicing.send_payment' | translate}}</button>
                    <ng-container *ngIf="invoice.status !== invoiceStatus.PAYED">
                        <button mat-menu-item class="matMenu-blue" (click)="openDialogRegisterPayment()">{{'invoicing.apply_payment' | translate}}</button>
                        <button mat-menu-item class="matMenu-blue" (click)="openDialogRequestPayment()">{{'invoicing.sendPaymentLink' | translate}}</button>
                    </ng-container>
                </mat-menu>
            </div>
        </div>
      </div>
      <div class="l-invoicing__body" *ngIf="subscriptionInfo">
          <div class="c-invoice">
              <div class="c-invoice__header">
                  <div>
                      <div class="c-invoice__title mb-5">{{'invoicing.invoice.invoice' | translate}}
                        <span *ngIf="invoice">{{invoice.code}}</span>
                      </div>
                      <div class="c-invoice__subtitle">{{subscriptionInfo.name}}</div>
                      <ul class="c-invoice__data">
                          <li>{{subscriptionInfo.addresses[0].physical_address}}</li>
                          <li *ngIf="countries.length > 0">
                            {{ subscriptionInfo.addresses[0].physical_state + ',' +
                              returnCountryName(subscriptionInfo.addresses[0].physical_country) +
                              ' ' + subscriptionInfo.addresses[0].physical_postal_code  }}
                          </li>

                      </ul>
                  </div>
                  <div class="text-right">
                      <div class="c-invoice__subtitle">{{customerSelected | customerFullName}}</div>
                      <ul class="c-invoice__data " *ngIf="customerSelected">
                          <li *ngIf="countries.length > 0">{{returnCountryName(customerSelected.addresses[0].physical_country)}}</li>
                          <li>{{customerSelected.addresses[0].physical_city}} </li>
                          <li>{{customerSelected.addresses[0].physical_postal_code}}</li>
                          <li>{{customerSelected.addresses[0].physical_address}}</li>
                      </ul>
                      <div class="d-flex flex-column u-gap-1 mt-4">
                          <mat-form-field class="c-form-group c-form-group--small c-form-group__datepicker">
                              <mat-label>{{'invoicing.invoice.invoice_date' | translate}}</mat-label>
                              <input matInput type="date" placeholder="start date" formControlName="inv_date">
                          </mat-form-field>
                          <mat-form-field class="c-form-group c-form-group--small c-form-group__datepicker">
                              <mat-label>{{'invoicing.invoice.due_date' | translate}}</mat-label>
                              <input matInput type="date" placeholder="start date" formControlName="inv_exp_date">
                          </mat-form-field>
                      </div>

                  </div>
              </div>
              <div class="c-invoice__body">
                  <div class="c-invoice__title">{{'invoicing.invoice.invoice_details' | translate}} </div>
                  <hr class="u-divider mb-0">
                  <div class="u-table-responsive">
                      <table class="c-table-invoice">
                          <thead>
                              <tr>
                                  <th scope="col"></th>
                                  <th scope="col">Item</th>
                                  <th scope="col">{{'invoicing.invoice.description' | translate}} </th>
                                  <th scope="col">{{'invoicing.invoice.invoice_type' | translate}} </th>
                                  <th scope="col">{{'invoicing.invoice.task_duration' | translate}}  </th>
                                  <th scope="col">{{'invoicing.invoice.hourly_rate' | translate}}  </th>
                                  <th scope="col">{{'invoicing.invoice.flat_fee' | translate}} </th>
                                  <th scope="col">Subtotal</th>
                                  <th scope="col">Retención </th>
                                  <th scope="col">Total</th>
                              </tr>
                          </thead>
                          <tbody formArrayName="details">
                              <tr *ngFor="let invoice_detail of filterFormArray('details','is_legal_charge',false); let i = index" [formGroupName]="i">

                                  <td>
                                    <span class="icon-times mr-2" (click)="removeItemFormArray('details',invoice_detail.value)"></span>
                                  </td>
                                  <td data-label="Item">
                                      <div class="d-flex align-items-center u-fontBold">
                                          <span>{{i + 1}}</span>
                                      </div>

                                  </td>
                                  <td data-label="Descripción">
                                      <textarea matInput class="c-form-group__textarea text-area--outlined"
                                                placeholder="{{'invoicing.invoice.insert_details_here' | translate}}"
                                                formControlName="description"
                                                [readonly]="invoice_detail.value.related_charge"
                                                [ngClass]="{'text-area--disabled': invoice_detail.value.related_charge}"></textarea>
                                  </td>
                                  <td data-label="Tipo Facturación">

                                    <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                                      <mat-label>{{'invoicing.invoice.price' | translate}}</mat-label>
                                      <mat-select formControlName="billing_type"
                                                  (selectionChange)="onChangeInvoiceDetail('details',invoice_detail.value)"
                                                  [disabled]="invoice_detail.value.related_charge">
                                        <mat-option [value]="billingType.PER_HOUR">
                                          {{'invoicing.invoice.hourly_rate' | translate}}
                                      </mat-option>
                                      <mat-option [value]="billingType.FLAT_FEE">
                                        {{'invoicing.invoice.flat_fee' | translate}}
                                      </mat-option>
                                      <mat-option [value]="billingType.BY_TIME_INCREMENT" *ngIf="invoice_detail.value.related_charge">
                                        Precio por incremento
                                      </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                  </td>
                                  <td data-label="Duración en Hr.">
                                      <mat-form-field appearance="fill"
                                                      class="c-form-group input--outlined"
                                                      [ngClass]="{'input--disabled': invoice_detail.value.billing_type === billingType.FLAT_FEE || invoice_detail.value.related_charge}" >
                                          <mat-label>{{'invoicing.invoice.number' | translate}}</mat-label>
                                          <input class="c-form-group__input" matInput
                                                 placeholder="0000  0000  0000  0000"
                                                 formControlName="total_hours"
                                                 (blur)="onChangeInvoiceDetail('details',invoice_detail.value)"
                                                 [readonly]="invoice_detail.value.billing_type === billingType.FLAT_FEE || invoice_detail.value.related_charge">
                                      </mat-form-field>
                                  </td>
                                  <td data-label="Precio x Hr.">
                                      <mat-form-field appearance="fill"
                                                      class="c-form-group input--filled"
                                                      [ngClass]="{'input--disabled': invoice_detail.value.billing_type === billingType.FLAT_FEE || invoice_detail.value.related_charge}">
                                          <mat-label>{{'invoicing.invoice.number' | translate}}</mat-label>
                                          <input class="c-form-group__input " matInput
                                                 placeholder="0000  0000  0000  0000"
                                                 formControlName="bt_price_per_hour"
                                                 (blur)="onChangeInvoiceDetail('details',invoice_detail.value)"
                                                 [readonly]="invoice_detail.value.billing_type === billingType.FLAT_FEE || invoice_detail.value.related_charge">
                                      </mat-form-field>
                                  </td>
                                  <td data-label="Precio fijo">
                                      <mat-form-field appearance="fill"
                                                      class="c-form-group  input--outlined"
                                                      [ngClass]="{'input--disabled': invoice_detail.value.billing_type === billingType.PER_HOUR || invoice_detail.value.related_charge}">
                                          <mat-label>{{'invoicing.invoice.number' | translate}}</mat-label>
                                          <input class="c-form-group__input" matInput
                                                 placeholder="0000  0000  0000  0000"
                                                 formControlName="bt_amt"
                                                 (blur)="onChangeInvoiceDetail('details',invoice_detail.value)"
                                                 [readonly]="invoice_detail.value.billing_type === billingType.PER_HOUR || invoice_detail.value.related_charge">
                                      </mat-form-field>
                                  </td>

                                  <td data-label="Subtotal">
                                     {{invoice_detail.value.sub_total_amt  | currency}}
                                  </td>

                                  <td data-label="Retencion de pago">
                                     {{invoice_detail.value.total_retainer_amt  | currency}}

                                  </td>

                                  <td data-label="Total">
                                      USD {{invoice_detail.value.total_amt  | currency}}
                                  </td>
                              </tr>

                              <tr>
                                  <td colspan="100%"><button type="button" mat-button class="c-btn c-btn-add" (click)="addInvoiceDetail('details',false)">+ {{'invoicing.invoice.add_new_item' | translate}} </button></td>
                              </tr>

                          </tbody>


                      </table>
                  </div>

                  <div class="c-invoice__title mt-5">{{'invoicing.reimbursement' | translate}}</div>
                  <hr class="u-divider mb-0">
                  <div class="u-table-responsive">
                      <table class="c-table-invoice">
                          <thead>
                              <tr>
                                  <th scope="col"></th>
                                  <th scope="col">Item</th>
                                  <th scope="col">{{'invoicing.invoice.description' | translate}} </th>
                                  <th scope="col">{{'invoicing.invoice.invoice_type' | translate}} </th>
                                  <th scope="col">{{'invoicing.invoice.flat_fee' | translate}}</th>
                                  <th scope="col">Subtotal </th>
                                  <th scope="col">Retención </th>
                                  <th scope="col">Total</th>
                              </tr>
                          </thead>
                          <tbody formArrayName="details">
                              <tr *ngFor="let legal_expense of filterFormArray('details','is_legal_charge',true); let i = index" [formGroupName]="returnIndexFormArrayInvoiceDetail(legal_expense.value)">
                                  <td>
                                    <span class="icon-times mr-2" (click)="removeItemFormArray('details',legal_expense.value)"></span>
                                  </td>
                                  <td data-label="Item">
                                      <div class="d-flex align-items-center u-fontBold">
                                        <span>{{i + 1}}</span>
                                      </div>

                                  </td>
                                  <td data-label="Descripción">
                                      <textarea matInput
                                                class="c-form-group__textarea text-area--outlined"
                                                placeholder="{{'invoicing.invoice.insert_details_here' | translate}}"
                                                formControlName="description"></textarea>
                                  </td>
                                  <td data-label="Tipo Facturación">

                                      <mat-form-field appearance="fill" class="c-form-group c-form-group__select" (selectionChange)="onChangeInvoiceDetail('details',legal_expense.value)">
                                          <mat-label>{{'invoicing.invoice.price' | translate}}</mat-label>
                                          <mat-select formControlName="billing_type" [value]="billingType.FLAT_FEE" [disabled]="true">

                                            <mat-option [value]="billingType.FLAT_FEE">
                                              {{'invoicing.invoice.flat_fee' | translate}}
                                            </mat-option>

                                          </mat-select>
                                      </mat-form-field>
                                  </td>

                                  <td data-label="Precio fijo">
                                      <mat-form-field appearance="fill" class="c-form-group  input--outlined" [ngClass]="{'input--disabled': legal_expense.value.billing_type === billingType.PER_HOUR}" >
                                          <mat-label>{{'invoicing.invoice.number' | translate}}</mat-label>
                                          <input class="c-form-group__input"
                                                 matInput
                                                 placeholder="0000  0000  0000  0000"
                                                 formControlName="bt_amt"
                                                 (blur)="onChangeInvoiceDetail('details',legal_expense.value)"
                                                 [readonly]="legal_expense.value.billing_type === billingType.PER_HOUR">
                                      </mat-form-field>
                                  </td>

                                  <td data-label="Subtotal">
                                    {{legal_expense.value.sub_total_amt  | currency}}
                                 </td>

                                 <td data-label="Retencion de pago">
                                    {{legal_expense.value.total_retainer_amt  | currency}}

                                 </td>

                                 <td data-label="Total">
                                     USD {{legal_expense.value.total_amt  | currency}}
                                 </td>
                              </tr>

                              <tr>
                                  <td colspan="100%"><button type="button" mat-button class="c-btn c-btn-add" (click)="addInvoiceDetail('details',true)">+ {{'invoicing.invoice.add_new_item' | translate}}</button></td>
                              </tr>

                          </tbody>


                      </table>
                  </div>

              </div>

              <div class="c-invoice__footer">
                  <div class="align-items-end d-flex flex-column flex-wrap mb-2 u-gap-1 u-smallSize u-text-color">
                      <p><b class="mr-2">Subtotal</b>USD {{subTotalInvoiceAmount | currency}}</p>
                      <p *ngIf="applyTax"><b class="mr-2">{{'invoicing.invoice.tax' | translate}} ( {{taxInvoice}}%)</b>USD {{totalTaxInvoiceAmount | currency}}</p>

                  </div>
                  <div class="d-flex justify-content-between u-gap-1 flex-wrap">
                      <div class="c-invoice__title">Total</div>
                      <div class="c-invoice__totalprice">USD {{totalInvoiceAmount | currency}}</div>
                  </div>
                  <hr class="u-divider">
                  <div class="d-flex justify-content-end align-items-center flex-wrap u-gap-1 mt-5" *ngIf="action !== actionEnum.VIEW">
                      <mat-checkbox class="c-checkbox u-fontBold u-textColor mr-2"
                                    [(ngModel)]="applyTax"
                                    [ngModelOptions]="{standalone: true}"
                                    (click)="openDialogAddTax()">
                        {{'invoicing.invoice.apply_tax' | translate}}
                      </mat-checkbox>
                      <button mat-button class="c-btn-function">{{'invoicing.invoice.save_invoice' | translate}}</button>
                  </div>
              </div>
          </div>
      </div>

    </form>
</div>
