<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-gear"></span>
            </div>
            <div class="l-page__title">{{'settings.title' | translate}}</div>
        </div>
    </div>
    <div class="l-page__body">
        <div class="l-configuration">
            <div class="c-configuration-menu">
                <button *ngxPermissionsOnly="['view_subscriptionpermissionsgroup']" mat-button class="c-configuration-menu__item" [routerLink]="'permission'">
                    <div class="c-configuration-menu__icon">
                        <span class="icon-key"></span>
                    </div>
                    <div class="flex-1">
                        <div class="c-configuration-menu__title">{{'settings.permissions_and_users' | translate}}</div>
                        <p class="c-configuration-menu__paragraph">
                          {{'settings.here_you_can_configure_permissions_of_collaborators' | translate}}
                        </p>
                    </div>
                </button>
                <button *ngxPermissionsOnly="['change_subscription']" mat-button class="c-configuration-menu__item" [routerLink]="'invoicing-parameters'">
                    <div class="c-configuration-menu__icon">
                        <span class="icon-invoice"></span>
                    </div>
                    <div class="flex-1">
                        <div class="c-configuration-menu__title">{{'settings.invoicing_parameters' | translate}}</div>
                        <p class="c-configuration-menu__paragraph">
                          {{'settings.configure_your_rates_and_invoicing_models' | translate}}
                        </p>
                    </div>
                </button>
                <button *ngxPermissionsOnly="['view_subscription']" mat-button class="c-configuration-menu__item" [routerLink]="'profile-sign'">
                    <div class="c-configuration-menu__icon">
                        <span class="icon-company"></span>
                    </div>
                    <div class="flex-1">
                        <div class="c-configuration-menu__title">{{'settings.firm_profile' | translate}}</div>
                        <p class="c-configuration-menu__paragraph">
                          {{'settings.configure_details_of_your_firm_in_this_section' | translate}}
                        </p>
                    </div>
                </button>
                <button mat-button class="c-configuration-menu__item" [routerLink]="'notification'">
                    <div class="c-configuration-menu__icon">
                        <span class="icon-bell"></span>
                    </div>
                    <div class="flex-1">
                        <div class="c-configuration-menu__title">{{'settings.notifications' | translate}}</div>
                        <p class="c-configuration-menu__paragraph">
                          {{'settings.configure_and_control_your_notifications' | translate}}
                        </p>
                    </div>
                </button>
                <button *ngxPermissionsOnly="['view_subscription']" mat-button class="c-configuration-menu__item" [routerLink]="'plans'">
                    <div class="c-configuration-menu__icon">
                        <span class="icon-pricing"></span>
                    </div>
                    <div class="flex-1">
                        <div class="c-configuration-menu__title">{{'settings.nasbu_plans' | translate}}</div>
                        <p class="c-configuration-menu__paragraph">
                          {{'settings.change_your_plan_whenever_necessary' | translate}}
                        </p>
                    </div>
                </button>

            </div>
        </div>
    </div>
</div>
