<div class=" c-dialog-header c-dialog-history">
  <div class="c-dialog-header__header">
      <div class="align-items-center d-flex u-gap-1">
          <span class="icon-send u-icon-white mr-3"></span>
          <div>
              <div>Send Document to Sign</div>
              <div class="u-smallSize u-fontRegular mt-1">{{'clients.client_intake.choose_one_option' | translate}}</div>
          </div>

      </div>
  </div>
  <mat-dialog-content class="pr-5 pl-5 pt-0">
      <div class="row mb-5">
          <div class="col-md-12">
              <label class="u-title-label d-block mt-3">{{'clients.client_intake.What_sending_method_will_you_use' | translate}}</label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="signatureRequest.send_by">
                  <mat-radio-button checked class="c-radioButton mr-3" [value]="sendingMethod.EMAIL" >{{'clients.client_intake.email' | translate}}</mat-radio-button>
                  <mat-radio-button class="c-radioButton mr-3" [value]="sendingMethod.SMS" >SMS</mat-radio-button>
                  <mat-radio-button class="c-radioButton mr-3" [value]="sendingMethod.CLIPBOARD" >Copiar Link</mat-radio-button>
              </mat-radio-group>

          </div>
      </div>

      <div class="row" *ngIf="signatureRequest.send_by === sendingMethod.EMAIL">
        <div class="col-md-12">
          <div class="d-flex flex-column" *ngIf="customer">
            <mat-checkbox (change)="addEmail($event,contact.contact_value)" class="c-checkbox mb-2 u-normalSize u-link" *ngFor="let contact of customer.contacts | filter:'type':typeContact.email">
                <span class="ml-2">{{contact.contact_value}}</span>
            </mat-checkbox>
         </div>
        </div>
      </div>

      <div class="row" *ngIf="signatureRequest.send_by === sendingMethod.SMS">
        <div class="col-md-12">
          <div class="d-flex flex-column" *ngIf="customer">
            <mat-checkbox (change)="addPhone($event,contact.contact_value)" class="c-checkbox mb-2 u-normalSize u-link" *ngFor="let contact of customer.contacts | filter:'type':typeContact.phone_number">
                <span class="ml-2">{{contact.contact_value}}</span>
            </mat-checkbox>
         </div>
        </div>
      </div>

  </mat-dialog-content>
  <mat-dialog-actions class="c-dialog-header__footer">
      <button mat-button mat-dialog-close class="u-link text-center">{{'clients.client_intake.close_window' | translate}}</button>
      <button mat-button class="c-btn c-btn--primary c-btn--small pr-5 pl-5" (click)="sendCustomerIntakeRequest()">
        {{signatureRequest.send_by === sendingMethod.CLIPBOARD ? 'Copiar link' : 'clients.client_intake.send' | translate}}
      </button>
  </mat-dialog-actions>
</div>
