<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-bell"></span>
            </div>
            <div class="l-page__title">Notificaciones</div>
        </div>
        <div class="l-page__controls">

            <button mat-button class="u-smallSize" [routerLink]="'..'"> <span class="icon-arrow-back mr-2"></span> Volver atrás</button>
        </div>

    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs">
            <mat-tab label="Configuraciones">

                <div class="l-notification">
                    <div class="l-notification__title">Tareas</div>
                    <div class="l-notification__content">
                        <div class="c-notification-cog">
                            <div class="c-notification-cog__info">
                                <div class="c-notification-cog__icon">
                                    <span class="icon-bell"></span>
                                </div>
                                <div>
                                    <div class="c-notification-cog__title">Alerta de tarea completada</div>
                                    <p class="c-notification-cog__text">Descripción de la notificación y de que trata y los avisos que permitirá conocer </p>
                                </div>
                            </div>
                            <div class="c-notification-cog__action">
                                <mat-slide-toggle class="c-switch u-smallSize">
                                    <span>Desactivada</span>
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <div class="c-notification-cog">
                            <div class="c-notification-cog__info">
                                <div class="c-notification-cog__icon">
                                    <span class="icon-bell"></span>
                                </div>
                                <div>
                                    <div class="c-notification-cog__title">Alerta de tarea vencida</div>
                                    <p class="c-notification-cog__text">Descripción de la notificación y de que trata y los avisos que permitirá conocer </p>
                                </div>
                            </div>
                            <div class="c-notification-cog__action">
                                <mat-slide-toggle class="c-switch u-smallSize">
                                    <span>Desactivada</span>
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>

                    <div class="l-notification__title">Expedientes</div>
                    <div class="l-notification__content">
                        <div class="c-notification-cog">
                            <div class="c-notification-cog__info">
                                <div class="c-notification-cog__icon">
                                    <span class="icon-bell"></span>
                                </div>
                                <div>
                                    <div class="c-notification-cog__title">Alerta de expediente cerrado</div>
                                    <p class="c-notification-cog__text">Descripción de la notificación y de que trata y los avisos que permitirá conocer </p>
                                </div>
                            </div>
                            <div class="c-notification-cog__action">
                                <mat-slide-toggle class="c-switch u-smallSize">
                                    <span>Desactivada</span>
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <div class="c-notification-cog">
                            <div class="c-notification-cog__info">
                                <div class="c-notification-cog__icon">
                                    <span class="icon-bell"></span>
                                </div>
                                <div>
                                    <div class="c-notification-cog__title">Alerta de nuevo expediente abierto</div>
                                    <p class="c-notification-cog__text">Descripción de la notificación y de que trata y los avisos que permitirá conocer </p>
                                </div>
                            </div>
                            <div class="c-notification-cog__action">
                                <mat-slide-toggle class="c-switch u-smallSize">
                                    <span>Desactivada</span>
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>

                    <div class="l-notification__title">Facturación</div>
                    <div class="l-notification__content">
                        <div class="c-notification-cog">
                            <div class="c-notification-cog__info">
                                <div class="c-notification-cog__icon">
                                    <span class="icon-bell"></span>
                                </div>
                                <div>
                                    <div class="c-notification-cog__title">Alerta de tarea completada</div>
                                    <p class="c-notification-cog__text">Descripción de la notificación y de que trata y los avisos que permitirá conocer </p>
                                </div>
                            </div>
                            <div class="c-notification-cog__action">
                                <mat-slide-toggle class="c-switch u-smallSize">
                                    <span>Desactivada</span>
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <div class="c-notification-cog">
                            <div class="c-notification-cog__info">
                                <div class="c-notification-cog__icon">
                                    <span class="icon-bell"></span>
                                </div>
                                <div>
                                    <div class="c-notification-cog__title">Alerta de tarea completada</div>
                                    <p class="c-notification-cog__text">Descripción de la notificación y de que trata y los avisos que permitirá conocer </p>
                                </div>
                            </div>
                            <div class="c-notification-cog__action">
                                <mat-slide-toggle class="c-switch u-smallSize">
                                    <span>Desactivada</span>
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <div class="c-notification-cog">
                            <div class="c-notification-cog__info">
                                <div class="c-notification-cog__icon">
                                    <span class="icon-bell"></span>
                                </div>
                                <div>
                                    <div class="c-notification-cog__title">Alerta de tarea completada</div>
                                    <p class="c-notification-cog__text">Descripción de la notificación y de que trata y los avisos que permitirá conocer </p>
                                </div>
                            </div>
                            <div class="c-notification-cog__action">
                                <mat-slide-toggle class="c-switch u-smallSize">
                                    <span>Desactivada</span>
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>




            </mat-tab>


        </mat-tab-group>
    </div>
</div>