<div class="l-page">
    <div class="l-page__header">
        <div class="d-flex">
            <div class="l-page__icon">
                <span class="icon-bell"></span>
            </div>
            <div class="l-page__title">{{ 'notificationPreferences.title' | translate }}</div>
        </div>
        <div class="l-page__controls">

            <button mat-button class="u-smallSize" [routerLink]="'..'"> <span class="icon-arrow-back mr-2"></span> {{ 'notificationPreferences.back' | translate }}</button>
        </div>

    </div>
    <div class="l-page__body">
        <mat-tab-group class="c-tabs">
            <mat-tab [label]="'notificationPreferences.settingsTab' | translate">

                <div class="l-notification" *ngIf="loaded">
                    <ng-container *ngFor="let category of categories">
                        <div class="l-notification__title">{{ ('notificationPreferences.categories.' + category) | translate }}</div>
                        <div class="l-notification__content">
                            <div class="c-notification-cog" *ngFor="let row of rows(category)">
                                <div class="c-notification-cog__info">
                                    <div class="c-notification-cog__icon">
                                        <span class="icon-bell"></span>
                                    </div>
                                    <div>
                                        <div class="c-notification-cog__title">{{ ('notificationPreferences.events.' + row.code + '.title') | translate }}</div>
                                        <p class="c-notification-cog__text">{{ ('notificationPreferences.events.' + row.code + '.description') | translate }}</p>
                                    </div>
                                </div>
                                <div class="c-notification-cog__action">
                                    <mat-slide-toggle class="c-switch u-smallSize" [checked]="row.email"
                                        [disabled]="isSaving(row)" (change)="toggleEmail(row, $event.checked)"
                                        [matTooltip]="'notificationPreferences.dashboardMandatory' | translate">
                                        <span>{{ (row.email ? 'notificationPreferences.emailOn' : 'notificationPreferences.emailOff') | translate }}</span>
                                    </mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </mat-tab>


        </mat-tab-group>
    </div>
</div>
