<div class="row">
  <div class="col-sm-6">
      <label class="u-title-label mb-4">Configuración rated facturación  <span class="u-dangerColor">*</span></label>
      <mat-form-field appearance="fill" class="c-form-group">
          <mat-label>Monto</mat-label>
          <input class="c-form-group__input" matInput placeholder="Ej: 25 USD">
      </mat-form-field>
  </div>
  <div class="col-sm-6">
      <label class="u-title-label mb-4">Dirección postal <span class="u-dangerColor">*</span></label>
      <div class="d-flex flex-column">
          <mat-checkbox class="c-checkbox mb-2">
              Añadir Honorarios por hora
          </mat-checkbox>
          <mat-checkbox class="c-checkbox mb-2">
              Precio único
          </mat-checkbox>
          <mat-checkbox class="c-checkbox mb-2">
              Por Incremento de tiempo
          </mat-checkbox>
          <mat-checkbox class="c-checkbox mb-2">
              Monto fijo ( Flat fee)
          </mat-checkbox>
          <mat-checkbox class="c-checkbox mb-2">
              No facturable
          </mat-checkbox>

      </div>
  </div>
</div>
