
<form [formGroup]="invoicingParameterForm"  #form="ngForm">


  <div class="row">
    <div class="col-sm-6">
        <label class="u-title-label mb-4">{{'invoice_parameter.hourly_rate' | translate}}  <span class="u-dangerColor">*</span></label>
        <mat-form-field appearance="fill" class="c-form-group">
            <mat-label>{{'invoice_parameter.price' | translate}}</mat-label>
            <input class="c-form-group__input" matInput placeholder="Ej: 25 USD" formControlName="price_per_hour">
        </mat-form-field>
    </div>
    <div class="col-sm-6">
        <label class="u-title-label mb-4">{{'invoice_parameter.allowed_billing_methods' | translate}}s <span class="u-dangerColor">*</span></label>
        <div class="d-flex flex-column">
            <mat-checkbox class="c-checkbox mb-2" [checked]="true" [disabled]="true">
              {{'invoice_parameter.hourly_rate' | translate}}
            </mat-checkbox>
            <mat-checkbox class="c-checkbox mb-2" formControlName="allow_retainers">
              {{'invoice_parameter.retainer' | translate}}
            </mat-checkbox>
            <mat-checkbox class="c-checkbox mb-2" [(ngModel)]="incrementOfTime" [ngModelOptions]="{standalone: true}" [checked]="invoicingParameterForm.controls['price_per_increment'].value > 0">
              {{'invoice_parameter.by_increment_of_time' | translate}}
            </mat-checkbox>
            <mat-checkbox class="c-checkbox mb-2" formControlName="allow_flat_fee">
                Flat fee
            </mat-checkbox>

        </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <label class="u-title-label mb-4">{{'invoice_parameter.increment_parameter' | translate}} <span class="u-dangerColor">*</span></label>
      <mat-form-field appearance="fill" class="c-form-group">
          <mat-label>{{'invoice_parameter.increment_parameter' | translate}}</mat-label>
          <input class="c-form-group__input" matInput placeholder="Ej: 25 USD" formControlName="increment_factor" readonly>
      </mat-form-field>
      <p>
        <label class="u-title-label mb-4">{{'invoice_parameter.increment_factor' | translate}} (Min)  <span class="u-dangerColor">*</span></label>
        <mat-form-field appearance="fill" class="c-form-group">
            <mat-label>{{'invoice_parameter.value' | translate}}</mat-label>
            <input class="c-form-group__input" matInput placeholder="Ej: 15 Min" formControlName="price_per_increment" [readonly]="!incrementOfTime">
        </mat-form-field>
      </p>
  </div>

  <div class="col-sm-6">

  </div>

  </div>


</form>
