<ng-container *ngIf="tasks && tasks.length > 0; else empty">
    <div class="d-flex align-items-center justify-content-between mb-3 flex-wrap u-gap-1 u-smallSize">
        <p [innerHTML]="'dashboard.task.title' | translate: { count: totalTasks | number}"> </p>
        <p class="u-textColor">{{'dashboard.task.subTitle' | translate}}</p>
    </div>

    <div class="u-table-responsive">
        <table mat-table [dataSource]="dataSource" class="c-table">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="c-table__checkbox">
                    <mat-checkbox class="c-checkbox" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox class="c-checkbox" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef class="c-table__icontype"> {{'dashboard.tableHeaders.type'|
                    translate}} </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <div class="circle" [ngClass]="{'iconBgGreen': isCompletedTask(element),'iconBgYellow':isPendingTask(element),'iconBgRed':isOverdueTask(element)}">
                    <!-- <img class="c-table__icon iconColorYellow" [src]="'../../../../assets/images/table-icons/' + returnTaskTypeIconSVG(element.type.type) + '.svg'" alt=""> -->

                    <img class="c-table__icon"
                    [ngClass]="{'iconColorGreen': isCompletedTask(element),'iconColorYellow':isPendingTask(element),'iconColorRed':isOverdueTask(element)}"
                    [src]="'../../../../assets/images/table-icons/' + returnTaskTypeIconSVG(element.type.type) + '.svg'" alt="">

                    </div>
                </td>
            </ng-container>

            <!-- task Column -->
            <ng-container matColumnDef="task">
                <th mat-header-cell *matHeaderCellDef> {{'dashboard.tableHeaders.task'| translate}} </th>
                <td mat-cell *matCellDef="let element" class="w-20">
                    <div class="u-link">{{element.name}} </div>
                </td>
            </ng-container>

            <!-- Estatus Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> {{'dashboard.tableHeaders.status'| translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <!-- Expedient Column -->
            <ng-container matColumnDef="expedient">
                <th mat-header-cell *matHeaderCellDef> {{'dashboard.tableHeaders.dossier'| translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <div class="u-link c-table__truncate">{{element.case_file.name}}</div>
                </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> {{'dashboard.tableHeaders.deadline'| translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.end_date | localizedDate}} </td>
            </ng-container>

            <ng-container matColumnDef="created_by">
              <th mat-header-cell *matHeaderCellDef> Created by </th>
              <td mat-cell *matCellDef="let element">{{element.created_by_name}} </td>
           </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-center-force"> {{'dashboard.tableHeaders.actions'|
                    translate}} </th>
                <td mat-cell *matCellDef="let element" class="text-center">

                    <mat-button-toggle-group class="c-btn-table">
                        <mat-button-toggle *ngxPermissionsOnly="['change_task']" (click)="completeTask(element)">Completar</mat-button-toggle>
                        <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                            <span class="icon-arrow-down"></span>
                        </mat-button-toggle>
                    </mat-button-toggle-group>

                    <mat-menu #dropdownMenuOne="matMenu">
                        <button *ngxPermissionsOnly="['change_task']" mat-menu-item (click)="openDialogTask(element)">Editar</button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>

</ng-container>


<ng-template #empty>
 <app-empty-dashboard
  imageSrc="../../../assets/images/task-blank.svg"
  title="dashboard.task.empty.title"
  subTitle="dashboard.task.empty.subTitle"
 ></app-empty-dashboard>
</ng-template>
