<div class="c-indicators">
    <div class="c-indicators__column">
        <div class="c-indicators__title">Expedientes info.</div>
        <div class="c-indicators__item">
            <img class="c-indicators__img" src="../../../../assets/images/box-open.svg" alt="">
            <div>
                <div class="c-indicators__ammount">50</div>
                <div class="c-indicators__label">Expedientes abiertos </div>
                <div class="c-indicators__sublabel">Hasta hoy</div>
            </div>
        </div>
        <div class="c-indicators__item">
            <img class="c-indicators__img" src="../../../../assets/images/box-closed.svg" alt="">
            <div>
                <div class="c-indicators__ammount">50</div>
                <div class="c-indicators__label">Expedientes abiertos </div>
                <div class="c-indicators__sublabel">Hasta hoy</div>
            </div>
        </div>
    </div>
    <div class="c-indicators__column">
        <div class="c-indicators__title">Facturación info.</div>
        <div class="c-indicators__item">
            <img class="c-indicators__img" src="../../../../assets/images/ammount-invoice.svg" alt="">
            <div>
                <div class="c-indicators__ammount">50</div>
                <div class="c-indicators__label">Expedientes abiertos </div>
                <div class="c-indicators__sublabel">Hasta hoy</div>
            </div>
        </div>
        <div class="c-indicators__item">
            <img class="c-indicators__img" src="../../../../assets/images/ammount-pay.svg" alt="">
            <div>
                <div class="c-indicators__ammount">50</div>
                <div class="c-indicators__label">Expedientes abiertos </div>
                <div class="c-indicators__sublabel">Hasta hoy</div>
            </div>
        </div>
    </div>
    <div class="c-indicators__column">
        <div class="c-indicators__title">Facturación info.</div>
        <p class="c-indicators__paragraph">
            Esta es tu relación de ejecución en función a lo ejecutado por el total de deberes por mes
        </p>
        <div class="d-flex mb-4">
            <img src="../../../../assets/images/completed.svg" alt="">
            <div class="d-flex">
                <div class="c-indicators__number">10</div>
                <div class="d-flex flex-column justify-content-center">
                    <div class="c-indicators__label">Completadas </div>
                    <div class="c-indicators__sublabel">Este mes</div>
                </div>
            </div>
        </div>
        <div class="d-flex mb-4">
            <img src="../../../../assets/images/pending.svg" alt="">
            <div class="d-flex">
                <div class="c-indicators__number">15</div>
                <div class="d-flex flex-column justify-content-center">
                    <div class="c-indicators__label">Pendientes</div>
                    <div class="c-indicators__sublabel">Este mes</div>
                </div>
            </div>
        </div>
        <div class="d-flex mb-4">
            <img src="../../../../assets/images/expired.svg" alt="">
            <div class="d-flex">
                <div class="c-indicators__number">3</div>
                <div class="d-flex flex-column justify-content-center">
                    <div class="c-indicators__label">Vencidas</div>
                    <div class="c-indicators__sublabel">Este mes</div>
                </div>
            </div>
        </div>
    </div>
</div>