<ng-container *ngIf="dashboardInfo; else empty">
    <div class="c-indicators">
        <div class="c-indicators__column">
            <div class="c-indicators__title">{{'dashboard.statistics.dossier.title'| translate}}</div>
            <div class="c-indicators__item">
                <img class="c-indicators__img" src="../../../../assets/images/box-open.svg" alt="">
                <div>
                    <div class="c-indicators__ammount">{{dashboardInfo.dossier.opened | number}}</div>
                    <div class="c-indicators__label">{{'dashboard.statistics.dossier.opened'| translate}}</div>
                    <div class="c-indicators__sublabel">{{'dashboard.common.untilToday'| translate}}</div>
                </div>
            </div>
            <div class="c-indicators__item">
                <img class="c-indicators__img" src="../../../../assets/images/box-closed.svg" alt="">
                <div>
                    <div class="c-indicators__ammount">{{dashboardInfo.dossier.closed | number}}</div>
                    <div class="c-indicators__label">{{'dashboard.statistics.dossier.closed'| translate}}</div>
                    <div class="c-indicators__sublabel">{{'dashboard.common.untilToday'| translate}}</div>
                </div>
            </div>
        </div>
        <div class="c-indicators__column">
            <div class="c-indicators__title">{{'dashboard.statistics.billed.title'| translate}}</div>
            <div class="c-indicators__item">
                <img class="c-indicators__img" src="../../../../assets/images/ammount-invoice.svg" alt="">
                <div>
                    <div class="c-indicators__ammount">{{dashboardInfo.billed.billedAmount | currency}}</div>
                    <div class="c-indicators__label">{{'dashboard.statistics.billed.billed'| translate}}</div>
                    <div class="c-indicators__sublabel">{{'dashboard.common.thisMonth'| translate}}</div>
                </div>
            </div>
            <div class="c-indicators__item">
                <img class="c-indicators__img" src="../../../../assets/images/ammount-pay.svg" alt="">
                <div>
                    <div class="c-indicators__ammount">{{dashboardInfo.billed.collected | currency}}</div>
                    <div class="c-indicators__label">{{'dashboard.statistics.billed.collected'| translate}}</div>
                    <div class="c-indicators__sublabel">{{'dashboard.common.thisMonth'| translate}}</div>
                </div>
            </div>
        </div>
        <div class="c-indicators__column">
            <div class="c-indicators__title">{{'dashboard.statistics.task.title'| translate}}</div>
            <p class="c-indicators__paragraph">
                {{'dashboard.statistics.task.subTitle'| translate}}
            </p>
            <div class="d-flex mb-4">
                <img src="../../../../assets/images/completed.svg" alt="">
                <div class="d-flex">
                    <div class="c-indicators__number">{{dashboardInfo.task.done | number}}</div>
                    <div class="d-flex flex-column justify-content-center">
                        <div class="c-indicators__label"> {{'dashboard.statistics.task.done'| translate}} </div>
                        <div class="c-indicators__sublabel">{{'dashboard.common.thisMonth'| translate}}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex mb-4">
                <img src="../../../../assets/images/pending.svg" alt="">
                <div class="d-flex">
                    <div class="c-indicators__number">{{dashboardInfo.task.pending | number}}</div>
                    <div class="d-flex flex-column justify-content-center">
                        <div class="c-indicators__label"> {{'dashboard.statistics.task.pending'| translate}}</div>
                        <div class="c-indicators__sublabel">{{'dashboard.common.thisMonth'| translate}}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex mb-4">
                <img src="../../../../assets/images/expired.svg" alt="">
                <div class="d-flex">
                    <div class="c-indicators__number">{{dashboardInfo.task.overdue | number}}</div>
                    <div class="d-flex flex-column justify-content-center">
                        <div class="c-indicators__label"> {{'dashboard.statistics.task.overdue'| translate}}</div>
                        <div class="c-indicators__sublabel">{{'dashboard.common.thisMonth'| translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #empty>
    <app-empty-dashboard 
      imageSrc="../../../assets/images/analysis-blank.svg" 
      title="dashboard.statistics.empty.title"
      subTitle="dashboard.statistics.empty.subTitle"></app-empty-dashboard>
</ng-template>