<div class="c-generalInfo">
    <div class="c-generalInfo__header">
        <div class="align-items-center d-flex">
            <img src="../../../../../assets/images/user.jpg" class="c-generalInfo__profilePicture">
            <div>
                <div class=" c-generalInfo__name ">Datos de contacto </div>
                <div class="c-generalInfo__subname ">Detalles del usuario </div>
            </div>
        </div>
        <div class="c-generalInfo__company ">
            <img src="../../../../../assets/images/company.svg" alt=" "> <b class="mr-1">Compañía </b>{{subscription.name}}

        </div>
    </div>
    <hr class="u-divider ">
    <div class="c-generalInfo__body ">
        <div class="c-generalInfo__title ">
            <span class="icon-phone mr-3"></span>Contactos
        </div>
        <div class="row ">
            <div class="col-md-6 ">
                <div class="information-title ">Teléfonos</div>

                <div class="info-group " *ngFor="let contact of subscriptionContactPhones">
                    <div class="info-group__info ">
                        <span class="icon-mobile"></span> Núm. Celular
                    </div>
                    <div class="info-group__data mr-5">
                        {{contact.contact_value}}
                    </div>
                </div>
                <!-- <div class="info-group ">
                    <div class="info-group__info ">
                        <span class="icon-company "></span> Núm. Celular
                    </div>
                    <div class="info-group__data mr-5">
                        +1 (734) 938 8394
                    </div>
                </div> -->
            </div>
            <div class="col-md-6 ">
                <div class="information-title ">Email</div>
                <div class="info-group " *ngFor="let contact of subscriptionContactEmail">
                    <div class="info-group__info ">
                        <span class="icon-email"></span> Correo personal
                    </div>
                    <div class="info-group__data ">
                        {{contact.contact_value}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="u-divider ">


    <div class="c-generalInfo__body">
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="c-generalInfo__title ">
                    <span class="icon-clock mr-3"></span>Horarios
                </div>
                <div class="w-75">
                    <div class="d-flex justify-content-between mb-1" *ngFor="let weekDay of weekDays">
                        <b class="u-textColor u-smallSize mr-3">{{returnScheduleInformation(weekDay).nameDay}} </b>
                        <!-- <p class="u-textLightColor u-smallSize">8:00 a.m. - 5:30 p.m</p> -->
                        <b class="u-textColor u-smallSize mr-3">{{returnScheduleInformation(weekDay).start_time}} - {{returnScheduleInformation(weekDay).end_time}} </b>
                    </div>

                    <!-- <div class="d-flex justify-content-between mb-1">
                        <b class="u-textColor u-smallSize mr-3">{{returnScheduleInformation(1).nameDay}}</b>
                        <p class="u-textLightColor u-smallSize">No laborable</p>
                    </div> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="c-generalInfo__title ">
                    <span class="icon-id-card mr-3"></span>Administrador
                </div>
                <div class="align-items-center d-flex">
                    <img src="../../../../../assets/images/user.jpg" class="c-generalInfo__profilePicture">
                    <div>
                        <div class=" c-generalInfo__name ">{{this.subscription.name}} </div>
                        <div class="c-generalInfo__subname ">Responsable de la cuenta </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <hr class="u-divider ">


    <div class="c-generalInfo__body ">
        <div class="c-generalInfo__title ">
            <span class="icon-place mr-3"></span>Dirección física y postal
        </div>
        <div class="row mb-5" *ngFor="let address of subscription.addresses">
            <div class="col-md-6">
                <div class="information-title ">Dirección física #1 </div>

                <div class="info-group mb-2 ">
                    <div class="info-group__info ">País</div>
                    <div class="info-group__data mr-5">República Dominicana</div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Ciudad, Estado ó provincia</div>
                    <div class="info-group__data mr-5">{{address.physical_city}} </div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Código Postal</div>
                    <div class="info-group__data mr-5">{{address.physical_postal_code}}</div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Dirección física</div>
                    <div class="info-group__data mr-5">{{address.physical_address}}</div>
                </div>
            </div>
            <!-- <div class="col-md-6" *ngIf="address.postal_address === '' && address.postal_city === '' && address.postal_postal_code === ''">
                <div class="information-title ">Dirección Postal</div>
                <p class="u-textLightColor u-smallSize">
                    No tiene dirección postal
                </p>
            </div> -->
            <div class="col-md-6" *ngIf="address.postal_address !== '' && address.postal_city !== '' && address.postal_postal_code !== ''">
              <div class="information-title ">Dirección Postal #1 </div>
                  <div class="info-group mb-2">
                    <div class="info-group__info ">Ciudad</div>
                    <div class="info-group__data mr-5">{{address.postal_city}}</div>
                </div>
                <div class="info-group mb-2">
                  <div class="info-group__info ">Codigo Postal</div>
                  <div class="info-group__data mr-5">{{address.postal_postal_code}}</div>
              </div>
              <div class="info-group mb-2">
                <div class="info-group__info ">Dirección</div>
                <div class="info-group__data mr-5">{{address.postal_address}}</div>
            </div>
          </div>
        </div>

    </div>
</div>
