<div class="c-generalInfo">
    <div class="c-generalInfo__header">
        <div class="align-items-center d-flex">
            <img src="../../../../../assets/images/user.jpg" class="c-generalInfo__profilePicture">
            <div>
                <div class=" c-generalInfo__name ">Datos de contacto </div>
                <div class="c-generalInfo__subname ">Detalles del usuario </div>
            </div>
        </div>
        <div class="c-generalInfo__company ">
            <img src="../../../../../assets/images/company.svg" alt=" "> <b class="mr-1">Compañía </b>Moya & Asociados

        </div>
    </div>
    <hr class="u-divider ">
    <div class="c-generalInfo__body ">
        <div class="c-generalInfo__title ">
            <span class="icon-phone mr-3"></span>Contactos
        </div>
        <div class="row ">
            <div class="col-md-6 ">
                <div class="information-title ">Teléfonos</div>

                <div class="info-group ">
                    <div class="info-group__info ">
                        <span class="icon-mobile"></span> Núm. Celular
                    </div>
                    <div class="info-group__data mr-5">
                        +1 (734) 938 8394
                    </div>
                </div>
                <div class="info-group ">
                    <div class="info-group__info ">
                        <span class="icon-company "></span> Núm. Celular
                    </div>
                    <div class="info-group__data mr-5">
                        +1 (734) 938 8394
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="information-title ">Teléfonos</div>
                <div class="info-group ">
                    <div class="info-group__info ">
                        <span class="icon-email"></span> Correo personal
                    </div>
                    <div class="info-group__data ">
                        Manuel@fugus.com
                    </div>
                </div>
                <div class="info-group ">
                    <div class="info-group__info ">
                        <span class="icon-email"></span> Correo empresarial
                    </div>
                    <div class="info-group__data ">
                        Manuel@fugus.com
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="u-divider ">


    <div class="c-generalInfo__body">
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="c-generalInfo__title ">
                    <span class="icon-clock mr-3"></span>Horarios
                </div>

                <div class="w-75">
                    <div class="d-flex justify-content-between mb-1">
                        <b class="u-textColor u-smallSize mr-3">Lunes </b>
                        <p class="u-textLightColor u-smallSize">8:00 a.m. - 5:30 p.m</p>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <b class="u-textColor u-smallSize mr-3">Martes </b>
                        <p class="u-textLightColor u-smallSize">8:00 a.m. - 5:30 p.m</p>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <b class="u-textColor u-smallSize mr-3">Miercoles</b>
                        <p class="u-textLightColor u-smallSize">8:00 a.m. - 5:30 p.m</p>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <b class="u-textColor u-smallSize mr-3">Jueves</b>
                        <p class="u-textLightColor u-smallSize">8:00 a.m. - 5:30 p.m</p>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <b class="u-textColor u-smallSize mr-3">Viernes</b>
                        <p class="u-textLightColor u-smallSize">8:00 a.m. - 5:30 p.m</p>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <b class="u-textColor u-smallSize mr-3">Sabado</b>
                        <p class="u-textLightColor u-smallSize">No laborable</p>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <b class="u-textColor u-smallSize mr-3">Domingo</b>
                        <p class="u-textLightColor u-smallSize">No laborable</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="c-generalInfo__title ">
                    <span class="icon-id-card mr-3"></span>Administrador
                </div>
                <div class="align-items-center d-flex">
                    <img src="../../../../../assets/images/user.jpg" class="c-generalInfo__profilePicture">
                    <div>
                        <div class=" c-generalInfo__name ">Kenneth Leonord </div>
                        <div class="c-generalInfo__subname ">Responsable de la cuenta </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <hr class="u-divider ">


    <div class="c-generalInfo__body ">
        <div class="c-generalInfo__title ">
            <span class="icon-place mr-3"></span>Dirección física y postal
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="information-title ">Dirección física #1 </div>

                <div class="info-group mb-2 ">
                    <div class="info-group__info ">País</div>
                    <div class="info-group__data mr-5">República Dominicana</div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Ciudad, Estado ó provincia</div>
                    <div class="info-group__data mr-5">Miami, Florida </div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Código Postal</div>
                    <div class="info-group__data mr-5">33126</div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Dirección física</div>
                    <div class="info-group__data mr-5">1466 NW 78 AVE</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="information-title ">Dirección Postal #1</div>
                <p class="u-textLightColor u-smallSize">
                    No tiene dirección postal
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="information-title ">Dirección física #2 </div>

                <div class="info-group mb-2 ">
                    <div class="info-group__info ">País</div>
                    <div class="info-group__data mr-5">República Dominicana</div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Ciudad, Estado ó provincia</div>
                    <div class="info-group__data mr-5">Miami, Florida </div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Código Postal</div>
                    <div class="info-group__data mr-5">33126</div>
                </div>
                <div class="info-group mb-2">
                    <div class="info-group__info ">Dirección física</div>
                    <div class="info-group__data mr-5">1466 NW 78 AVE</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="information-title ">Dirección Postal #2</div>
                <p class="u-textLightColor u-smallSize">
                    No tiene dirección postal
                </p>
            </div>
        </div>
    </div>
</div>