<div class="c-dialog-chargedHours c-dialog-header">
    <div class="c-dialog-header__header">
        <span class="icon-clock u-icon-white mr-2"></span> {{ 'hoursModal.title' |translate }} - Item ({{ tasksTime ? tasksTime.length : 0 }})
    </div>
    <mat-dialog-content>
        <div class="row">
            <div class="col-md-12">
                <div class="c-hour-count" *ngFor="let taskTime of tasksTime">
                    <div class="c-hour-count__name" *ngIf="taskTime.user">
                        {{taskTime.user.user.first_name| slice:0:1 | uppercase }} {{taskTime.user.user.last_name | slice:0:1 | uppercase }}
                    </div>
                    <div class="c-hour-count__info">
                        <div class="c-hour-count__date">{{ taskTime.created_at | date: 'dd/MM/yyyy' }}</div>
                        <div class="c-hour-count__title">{{ taskTime.description }}</div>
                        <div class="c-hour-count__data">
                            <span>
                                <span class="icon-clock mr-1"></span> {{ taskTime.total_time }} hr.
                            </span>
                            <span>
                                {{ taskTime.total_amt| currency:'USD':true }}
                            </span>
                            <span *ngIf="taskTime.not_billable">
                              Sin Facturar
                            </span>
                            <span *ngIf="!taskTime.not_billable">
                              Facturar
                            </span>
                        </div>

                    </div>
                    <div class="c-hour-count__actions">
                        <mat-button-toggle-group class="c-btn-table">
                            <mat-button-toggle  (click)="openDialogAddHours(taskTime)">{{ 'hoursModal.edit' |translate }}</mat-button-toggle>
                            <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                                <span class="icon-arrow-down"></span>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                        <mat-menu #dropdownMenuOne="matMenu">
                            <button mat-menu-item (click)="deleteHour(taskTime)">Delete</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="align-items-center d-flex justify-content-between flex-wrap u-gap-1">
                    <div>
                        <div class="u-smallSize">
                            Total
                        </div>
                        <div class="d-flex mt-1 u-bigSize u-primaryColor ">
                            <div class="mr-3 pr-3 u-br-r d-flex u-gap-1 align-items-center">
                                <span class="icon-clock"></span> {{ totalHours }} hr.
                            </div>
                            <div>
                                {{ totalAmount | currency:'USD':true }}
                            </div>
                        </div>
                    </div>
                    <button mat-button class="u-link" (click)="openDialogAddHours()">
                        <span class="icon-clock-outline u-icon-blue mr-1"></span>{{ 'hoursModal.add' |translate }}
                    </button>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</div>
