<div class="c-dialog-chargedHours c-dialog-header">
    <div class="c-dialog-header__header">
        <span class="icon-clock u-icon-white mr-2"></span> Listado horas cargadas - Item (3)
    </div>
    <mat-dialog-content>

        <div class="row">
            <div class="col-md-12">
                <div class="c-hour-count">
                    <div class="c-hour-count__name">
                        LE
                    </div>
                    <div class="c-hour-count__info">
                        <div class="c-hour-count__date">01/16/2022</div>
                        <div class="c-hour-count__title">Conversación con su esposa</div>
                        <div class="c-hour-count__data">
                            <span>
                                <span class="icon-clock mr-1"></span> 2.00 hr.
                            </span>
                            <span>
                                USD 25
                            </span>
                            <span>
                                Sin facturar
                            </span>
                        </div>

                    </div>
                    <div class="c-hour-count__actions">
                        <mat-button-toggle-group class="c-btn-table">
                            <mat-button-toggle>Editar</mat-button-toggle>
                            <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                                <span class="icon-arrow-down"></span>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                        <mat-menu #dropdownMenuOne="matMenu">
                            <button mat-menu-item>One</button>
                            <button mat-menu-item>Two</button>
                            <button mat-menu-item>Three</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="c-hour-count">
                    <div class="c-hour-count__name">
                        LE
                    </div>
                    <div class="c-hour-count__info">
                        <div class="c-hour-count__date">01/16/2022</div>
                        <div class="c-hour-count__title">Conversación con su esposa</div>
                        <div class="c-hour-count__data">
                            <span>
                                <span class="icon-clock mr-1"></span> 2.00 hr.
                            </span>
                            <span>
                                USD 25
                            </span>
                            <span>
                                Sin facturar
                            </span>
                        </div>

                    </div>
                    <div class="c-hour-count__actions">
                        <mat-button-toggle-group class="c-btn-table">
                            <mat-button-toggle>Editar</mat-button-toggle>
                            <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                                <span class="icon-arrow-down"></span>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                        <mat-menu #dropdownMenuOne="matMenu">
                            <button mat-menu-item>One</button>
                            <button mat-menu-item>Two</button>
                            <button mat-menu-item>Three</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="c-hour-count">
                    <div class="c-hour-count__name">
                        LE
                    </div>
                    <div class="c-hour-count__info">
                        <div class="c-hour-count__date">01/16/2022</div>
                        <div class="c-hour-count__title">Conversación con su esposa</div>
                        <div class="c-hour-count__data">
                            <span>
                                <span class="icon-clock mr-1"></span> 2.00 hr.
                            </span>
                            <span>
                                USD 25
                            </span>
                            <span>
                                Sin facturar
                            </span>
                        </div>

                    </div>
                    <div class="c-hour-count__actions">
                        <mat-button-toggle-group class="c-btn-table">
                            <mat-button-toggle>Editar</mat-button-toggle>
                            <mat-button-toggle [matMenuTriggerFor]="dropdownMenuOne">
                                <span class="icon-arrow-down"></span>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                        <mat-menu #dropdownMenuOne="matMenu">
                            <button mat-menu-item>One</button>
                            <button mat-menu-item>Two</button>
                            <button mat-menu-item>Three</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="align-items-center d-flex justify-content-between flex-wrap u-gap-1">
                    <div>
                        <div class="u-smallSize">
                            Total
                        </div>
                        <div class="d-flex mt-1 u-bigSize u-primaryColor ">
                            <div class="mr-3 pr-3 u-br-r d-flex u-gap-1 align-items-center">
                                <span class="icon-clock"></span> 6.00 hr.

                            </div>
                            <div>
                                USD 75
                            </div>
                        </div>
                    </div>
                    <button mat-button class="u-link" (click)="openDialogAddHours()"><span class="icon-clock-outline u-icon-blue mr-1"></span>Añadir Hr.</button>
                </div>

            </div>


        </div>

    </mat-dialog-content>
</div>