<div class="l-create">
    <div class="l-create__header">
        <app-header></app-header>
    </div>
    <form [formGroup]="subscriptionForm" (ngSubmit)="submitForm()" #form="ngForm">
        <div class="l-create__body">
          <div class="l-create__btnBack">
              <button type="button" mat-button class="u-smallSize" [routerLink]="'..'"> <span class="icon-arrow-back mr-2"></span>Volver atras</button>
          </div>
          <div class="c-create">
              <div class="c-create__header mb-0">
                  <div class="row w-100">
                      <div class="col-sm-8">
                          <div class="c-create__title">Editar perfil de la empresa</div>
                          <div class="c-create__subtitle">Puedes modificar todos los parámetros </div>
                          <div class="c-create__text">Selecciona una de las opciones</div>
                      </div>
                  </div>
              </div>
              <hr class="u-divider--marginBig">
              <div class="c-create__body">
                  <div class="row">
                      <div class="col-sm-6 d-flex flex-column justify-content-center">
                          <label class="u-title-label">Nombre de la empresa <span class="u-dangerColor">*</span></label>
                          <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>Nombre </mat-label>
                              <input formControlName="name" class="c-form-group__input" matInput placeholder="Nombre">
                          </mat-form-field>
                        <mat-error *ngIf="subscriptionForm.controls['name'].status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>
                      </div>
                      <div class="col-sm-6">
                         <app-upload-image *ngIf="subscription" [imgUrl]="subscription.logo_url" (imgUpload)="setLogoFileSubscription($event)"></app-upload-image>
                      </div>
                  </div>
                  <hr class="u-divider--marginBig">
                  <div class="row" formArrayName="contacts">
                      <div class="col-sm-6">

                        <div class="row" id="phoneRow" *ngFor="let contactPhone of filterFormArray('contacts','type',typeContact.phone_number); let i = index" [formGroupName]="returnIndexFormArrayContact(contactPhone.value)">
                          <div class="col-sm-12">
                            <label class="u-title-label">Contacto <span class="u-dangerColor">*</span></label>
                            <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                                <mat-label>Núm. Teléfono celular</mat-label>
                                <mat-select formControlName="sub_type">
                                  <mat-option [value]="subtypeContact.cellphone_number">
                                    {{'clients.form_create.cellphone_number' | translate}}
                                  </mat-option>
                                  <mat-option [value]="subtypeContact.currentphone_number">
                                    {{'clients.form_create.landline_number' | translate}}
                                  </mat-option>
                                  <mat-option [value]="subtypeContact.phoneoffice_number">
                                    {{'clients.form_create.phone_office_number' | translate}}
                                  </mat-option>
                                </mat-select>
                                <div class="c-form-group__action" (click)="deleteContact(contactPhone.value)">
                                  <button type="button" mat-button type='button'><span class="icon-times"></span></button>
                                </div>
                            </mat-form-field>
                            <!-- <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>Num. de Teléfono </mat-label>
                                <input class="c-form-group__input" formControlName="contact_value" matInput>
                            </mat-form-field> -->
                            <ngx-intl-tel-input (numberChange)="setPhoneField(contactPhone.value,$event)" [value]="contactPhone.value.contact_value" ></ngx-intl-tel-input>

                            <mat-error *ngIf="returnFormArrayFields('contacts','contact_value',0,contactPhone.value)?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                            <button (click)="addItem('contacts',contactPhone.value)" type="button" mat-button class="c-btn-add mb-4">+ Añadir otro teléfono</button>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                         <div class="row" *ngFor="let contactEmail of filterFormArray('contacts','type',typeContact.email); let i = index" [formGroupName]="returnIndexFormArrayContact(contactEmail.value)">
                          <div class="col-sm-12">
                              <label class="u-title-label">Email <span class="u-dangerColor">*</span></label>
                              <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                                  <mat-label>Personal</mat-label>
                                  <mat-select formControlName="sub_type">
                                    <mat-option [value]="subtypeContact.personal_email">
                                      {{'clients.form_create.personal_email' | translate}}
                                    </mat-option>
                                    <mat-option [value]="subtypeContact.business_email">
                                      {{'clients.form_create.business_email' | translate}}
                                    </mat-option>
                                  </mat-select>
                                  <div class="c-form-group__action" (click)="deleteContact(contactEmail.value)">
                                    <button type="button" mat-button type='button'><span class="icon-times"></span></button>
                                  </div>
                              </mat-form-field>
                              <mat-form-field appearance="fill" class="c-form-group">
                                  <mat-label>Correo electrónico</mat-label>
                                  <input class="c-form-group__input" matInput formControlName="contact_value">
                              </mat-form-field>
                              <mat-error *ngIf="returnFormArrayFields('contacts','contact_value',0,contactEmail.value)?.value === '' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error>

                              <button mat-button type="button" class="c-btn-add mb-4" (click)="addItem('contacts',contactEmail.value)">+ Añadir otro email</button>
                            </div>
                         </div>
                      </div>
                  </div>
                  <hr class="u-divider--marginBig">
                  <div formArrayName="addresses">
                    <div *ngFor="let address of returnFormArray('addresses'); let i = index">
                      <br>
                        <div class="row"  [formGroupName]="i">
                          <div class="col-sm-6">

                            <label class="u-title-label">{{'clients.form_create.physical_address' | translate}}
                              <span class="u-dangerColor">*</span></label>
                            <mat-form-field appearance="fill" class="c-form-group c-form-group__select">
                              <mat-label>{{'clients.form_create.choose_country' | translate}} </mat-label>
                              <mat-select formControlName="physical_country" required>
                                <mat-option *ngFor="let country of countries" [value]="country.uuid">
                                  {{country.name}}
                                </mat-option>
                              </mat-select>

                              <div class="c-form-group__action">
                                <button mat-button type='button' (click)="removeItemFormArray('addresses',i)" ><span class="icon-times"></span></button>
                              </div>

                            </mat-form-field>
                            <!-- <mat-error *ngIf="returnFormArrayFields('addresses',i,'physical_country')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error> -->

                            <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>{{'clients.form_create.city' | translate}}</mat-label>

                              <input class="c-form-group__input" matInput formControlName="physical_city" placeholder="{{'clients.form_create.placeholder_physical_city' | translate}}" required>

                            </mat-form-field>
                            <!-- <mat-error *ngIf="returnFormArrayFields('addresses',i,'physical_city')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error> -->

                            <mat-form-field appearance="fill" class="c-form-group">
                              <mat-label>{{'clients.form_create.address' | translate}}</mat-label>

                              <input class="c-form-group__input" matInput formControlName="physical_address" placeholder="{{'clients.form_create.placeholder_physical_address' | translate}}" required>

                            </mat-form-field>
                            <!-- <mat-error *ngIf="returnFormArrayFields('addresses',i,'physical_address')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error> -->


                            <div class="col-sm-6 p-0">
                              <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>{{'clients.form_create.postal_code' | translate}}</mat-label>
                                <input class="c-form-group__input" matInput formControlName="physical_postal_code" required>
                              </mat-form-field>
                              <!-- <mat-error *ngIf="returnFormArrayFields('addresses',i,'physical_postal_code')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error> -->
                            </div>

                            <mat-checkbox class="c-checkbox mt-1 mb-4"   (change)="changeValueCheckboxAddress($event,i)">
                              {{'clients.form_create.physical_postal_address_share_info' | translate}}
                            </mat-checkbox>

                          </div>
                          <div class="col-sm-6">

                              <label class="u-title-label">{{'clients.form_create.mailing_address' | translate}}
                                <span class="u-dangerColor">*</span>
                              </label>
                              <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>{{'clients.form_create.city' | translate}}</mat-label>
                                <input class="c-form-group__input" matInput formControlName="postal_city" placeholder="Ej: Miami, Florida" required>
                              </mat-form-field>
                              <!-- <mat-error *ngIf="returnFormArrayFields('addresses',i,'postal_city')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error> -->

                              <mat-form-field appearance="fill" class="c-form-group">
                                <mat-label>{{'clients.form_create.address' | translate}}</mat-label>
                                <input class="c-form-group__input" matInput formControlName="postal_address" placeholder="Calle, número, Apart." required="">
                              </mat-form-field>
                              <!-- <mat-error *ngIf="returnFormArrayFields('addresses',i,'postal_address')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error> -->

                              <div class="col-sm-6 p-0">
                                <mat-form-field appearance="fill" class="c-form-group">
                                  <mat-label>{{'clients.form_create.postal_code' | translate}}</mat-label>
                                  <input class="c-form-group__input" matInput formControlName="postal_postal_code" required>
                                </mat-form-field>
                                <!-- <mat-error *ngIf="returnFormArrayFields('addresses',i,'postal_postal_code')?.status === 'INVALID' && form.submitted">{{'errorMessages.field_required' | translate}}</mat-error> -->
                              </div>

                          </div>
                      </div>
                      <div class="col-sm-12 mt-1">
                        <button mat-button type="button" class="c-btn-add" (click)="addItem('addresses',address.value)">+ Añadir nuevo domicilio</button>
                    </div>
                    </div>
                  </div>
                  <hr class="u-divider--marginBig">

                  <app-profile-schedule *ngIf="subscription" (subscriptionSchedule)="setSubscriptionSchedule($event)" [subscription]="subscription"></app-profile-schedule>

              </div>
          </div>
      </div>
      <div class="c-ribbon">
          <div class="c-ribbon__text">“Recuerda completar los datos requeridos"</div>
          <div class="c-ribbon__actions">
              <button mat-button class="c-btn-function">Guardar Cambios </button>
          </div>

      </div>
    </form>
</div>
